<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hummingbird.paas.mapper.BidAttachmentMapper" >
  <resultMap id="BaseResultMap" type="com.hummingbird.paas.entity.BidAttachment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="bid_id" property="bidId" jdbcType="INTEGER" />
    <result column="attachment_name" property="attachmentName" jdbcType="VARCHAR" />
    <result column="attachment_url" property="attachmentUrl" jdbcType="VARCHAR" />
    <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
    <result column="insert_by" property="insertBy" jdbcType="VARCHAR" />
    <result column="attachment_type" property="attachmentType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, bid_id, attachment_name, attachment_url, insert_time, insert_by, attachment_type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_ztgl_bid_attachment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByBidId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_ztgl_bid_attachment
    where bid_id = #{bidId,jdbcType=INTEGER}
  </select>
  <select id="selectBidFile" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_ztgl_bid_attachment
   where bid_id = #{bidId,jdbcType=INTEGER} and attachment_type = 'BF#'
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_ztgl_bid_attachment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hummingbird.paas.entity.BidAttachment" >
    insert into t_ztgl_bid_attachment (id, bid_id, attachment_name, 
      attachment_url, insert_time, insert_by, 
      attachment_type)
    values (#{id,jdbcType=INTEGER}, #{bidId,jdbcType=INTEGER}, #{attachmentName,jdbcType=VARCHAR}, 
      #{attachmentUrl,jdbcType=VARCHAR}, #{insertTime,jdbcType=TIMESTAMP}, #{insertBy,jdbcType=VARCHAR}, 
      #{attachmentType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hummingbird.paas.entity.BidAttachment" >
    insert into t_ztgl_bid_attachment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="bidId != null" >
        bid_id,
      </if>
      <if test="attachmentName != null" >
        attachment_name,
      </if>
      <if test="attachmentUrl != null" >
        attachment_url,
      </if>
      <if test="insertTime != null" >
        insert_time,
      </if>
      <if test="insertBy != null" >
        insert_by,
      </if>
      <if test="attachmentType != null" >
        attachment_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bidId != null" >
        #{bidId,jdbcType=INTEGER},
      </if>
      <if test="attachmentName != null" >
        #{attachmentName,jdbcType=VARCHAR},
      </if>
      <if test="attachmentUrl != null" >
        #{attachmentUrl,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insertBy != null" >
        #{insertBy,jdbcType=VARCHAR},
      </if>
      <if test="attachmentType != null" >
        #{attachmentType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hummingbird.paas.entity.BidAttachment" >
    update t_ztgl_bid_attachment
    <set >
      <if test="bidId != null" >
        bid_id = #{bidId,jdbcType=INTEGER},
      </if>
      <if test="attachmentName != null" >
        attachment_name = #{attachmentName,jdbcType=VARCHAR},
      </if>
      <if test="attachmentUrl != null" >
        attachment_url = #{attachmentUrl,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insertBy != null" >
        insert_by = #{insertBy,jdbcType=VARCHAR},
      </if>
      <if test="attachmentType != null" >
        attachment_type = #{attachmentType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hummingbird.paas.entity.BidAttachment" >
    update t_ztgl_bid_attachment
    set bid_id = #{bidId,jdbcType=INTEGER},
      attachment_name = #{attachmentName,jdbcType=VARCHAR},
      attachment_url = #{attachmentUrl,jdbcType=VARCHAR},
      insert_time = #{insertTime,jdbcType=TIMESTAMP},
      insert_by = #{insertBy,jdbcType=VARCHAR},
      attachment_type = #{attachmentType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>