<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hummingbird.paas.mapper.BidCertificationMapper" >
  <resultMap id="BaseResultMap" type="com.hummingbird.paas.entity.BidCertification" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="bid_id" property="bidId" jdbcType="INTEGER" />
    <result column="obj_req_id" property="objReqId" jdbcType="INTEGER" />
    <result column="bidder_certification_id" property="bidderCertificationId" jdbcType="INTEGER" />
    <result column="certification_name" property="certificationName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, bid_id, obj_req_id, bidder_certification_id, certification_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_ztgl_bid_certification
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByBidId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    bc.id, bc.bid_id, bc.obj_req_id, bc.bidder_certification_id, t.certification_name certification_name
    from t_ztgl_bid_certification bc
    left join t_base_certification_type t on bc.bidder_certification_id = t.id 
    where bid_id = #{bidId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_ztgl_bid_certification
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByBidId" parameterType="java.lang.Integer" >
    delete from t_ztgl_bid_certification
    where  bid_id = #{bidId}
   </delete>
  <insert id="insert" parameterType="com.hummingbird.paas.entity.BidCertification" >
    insert into t_ztgl_bid_certification (id, bid_id, obj_req_id, 
      bidder_certification_id, certification_name)
    values (#{id,jdbcType=INTEGER}, #{bidId,jdbcType=INTEGER}, #{objReqId,jdbcType=INTEGER}, 
      #{bidderCertificationId}, #{certificationName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hummingbird.paas.entity.BidCertification" >
    insert into t_ztgl_bid_certification
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="bidId != null" >
        bid_id,
      </if>
      <if test="objReqId != null" >
        obj_req_id,
      </if>
      <if test="certificationPic != null" >
        bidder_certification_id,
      </if>
      <if test="certificationName != null" >
        certification_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bidId != null" >
        #{bidId,jdbcType=INTEGER},
      </if>
      <if test="objReqId != null" >
        #{objReqId,jdbcType=INTEGER},
      </if>
      <if test="certificationPic != null" >
        #{bidderCertificationId},
      </if>
      <if test="certificationName != null" >
        #{certificationName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hummingbird.paas.entity.BidCertification" >
    update t_ztgl_bid_certification
    <set >
      <if test="bidId != null" >
        bid_id = #{bidId,jdbcType=INTEGER},
      </if>
      <if test="objReqId != null" >
        obj_req_id = #{objReqId,jdbcType=INTEGER},
      </if>
      <if test="certificationPic != null" >
        bidder_certification_id = #{bidderCertificationId},
      </if>
      <if test="certificationName != null" >
        certification_name = #{certificationName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hummingbird.paas.entity.BidCertification" >
    update t_ztgl_bid_certification
    set bid_id = #{bidId,jdbcType=INTEGER},
      obj_req_id = #{objReqId,jdbcType=INTEGER},
      bidder_certification_id = #{bidderCertificationId},
      certification_name = #{certificationName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>