<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hummingbird.paas.mapper.BiddeeCertificationCertificationMapper" >
  <resultMap id="BaseResultMap" type="com.hummingbird.paas.entity.BiddeeCertificationCertification" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="biddee_id" property="biddee_id" jdbcType="INTEGER" />
    <result column="certification_id" property="certification_id" jdbcType="INTEGER" />
    <result column="certification_name" property="certification_name" jdbcType="VARCHAR" />
    <result column="certification_content" property="certification_content" jdbcType="VARCHAR" />
    <result column="expire_time" property="expire_time" jdbcType="TIMESTAMP" />
    <result column="applicable_region" property="applicable_region" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, biddee_id, certification_id, certification_name, certification_content, expire_time, 
    applicable_region
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_qyzz_biddee_certification_certification
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_qyzz_biddee_certification_certification
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hummingbird.paas.entity.BiddeeCertificationCertification" >
    insert into t_qyzz_biddee_certification_certification (id, biddee_id, certification_id, 
      certification_name, certification_content, 
      expire_time, applicable_region)
    values (#{id,jdbcType=INTEGER}, #{biddee_id,jdbcType=INTEGER}, #{certification_id,jdbcType=INTEGER}, 
      #{certification_name,jdbcType=VARCHAR}, #{certification_content,jdbcType=VARCHAR}, 
      #{expire_time,jdbcType=TIMESTAMP}, #{applicable_region,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hummingbird.paas.entity.BiddeeCertificationCertification" >
    insert into t_qyzz_biddee_certification_certification
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="biddee_id != null" >
        biddee_id,
      </if>
      <if test="certification_id != null" >
        certification_id,
      </if>
      <if test="certification_name != null" >
        certification_name,
      </if>
      <if test="certification_content != null" >
        certification_content,
      </if>
      <if test="expire_time != null" >
        expire_time,
      </if>
      <if test="applicable_region != null" >
        applicable_region,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="biddee_id != null" >
        #{biddee_id,jdbcType=INTEGER},
      </if>
      <if test="certification_id != null" >
        #{certification_id,jdbcType=INTEGER},
      </if>
      <if test="certification_name != null" >
        #{certification_name,jdbcType=VARCHAR},
      </if>
      <if test="certification_content != null" >
        #{certification_content,jdbcType=VARCHAR},
      </if>
      <if test="expire_time != null" >
        #{expire_time,jdbcType=TIMESTAMP},
      </if>
      <if test="applicable_region != null" >
        #{applicable_region,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hummingbird.paas.entity.BiddeeCertificationCertification" >
    update t_qyzz_biddee_certification_certification
    <set >
      <if test="biddee_id != null" >
        biddee_id = #{biddee_id,jdbcType=INTEGER},
      </if>
      <if test="certification_id != null" >
        certification_id = #{certification_id,jdbcType=INTEGER},
      </if>
      <if test="certification_name != null" >
        certification_name = #{certification_name,jdbcType=VARCHAR},
      </if>
      <if test="certification_content != null" >
        certification_content = #{certification_content,jdbcType=VARCHAR},
      </if>
      <if test="expire_time != null" >
        expire_time = #{expire_time,jdbcType=TIMESTAMP},
      </if>
      <if test="applicable_region != null" >
        applicable_region = #{applicable_region,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hummingbird.paas.entity.BiddeeCertificationCertification" >
    update t_qyzz_biddee_certification_certification
    set biddee_id = #{biddee_id,jdbcType=INTEGER},
      certification_id = #{certification_id,jdbcType=INTEGER},
      certification_name = #{certification_name,jdbcType=VARCHAR},
      certification_content = #{certification_content,jdbcType=VARCHAR},
      expire_time = #{expire_time,jdbcType=TIMESTAMP},
      applicable_region = #{applicable_region,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>