<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hummingbird.paas.mapper.BidderBankAduitMapper" >
  <resultMap id="BaseResultMap" type="com.hummingbird.paas.entity.BidderBankAduit" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="bidder_certicate_id" property="bidderCerticateId" jdbcType="INTEGER" />
    <result column="bankcard_certificate_msg" property="bankcardCertificateMsg" jdbcType="VARCHAR" />
    <result column="bank_certificate_msg" property="bankCertificateMsg" jdbcType="VARCHAR" />
    <result column="acccount_name_certificate_msg" property="acccountNameCertificateMsg" jdbcType="VARCHAR" />
    <result column="bankcard_certificate_result" property="bankcardCertificateResult" jdbcType="VARCHAR" />
    <result column="bank_certificate_result" property="bankCertificateResult" jdbcType="VARCHAR" />
    <result column="acccount_name_certificate_result" property="acccountNameCertificateResult" jdbcType="VARCHAR" />
    <result column="auditor" property="auditor" jdbcType="INTEGER" />
    <result column="audit_time" property="auditTime" jdbcType="TIMESTAMP" />
    <result column="tex_no_certificate_msg" property="texNoCertificateMsg" jdbcType="VARCHAR" />
    <result column="address_certificate_msg" property="addressCertificateMsg" jdbcType="VARCHAR" />
    <result column="telephone_certificate_msg" property="telephoneCertificateMsg" jdbcType="VARCHAR" />
    <result column="tex_no_certificate_result" property="texNoCertificateResult" jdbcType="VARCHAR" />
    <result column="address_certificate_result" property="addressCertificateResult" jdbcType="VARCHAR" />
    <result column="telephone_certificate_result" property="telephoneCertificateResult" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, bidder_certicate_id, bankcard_certificate_msg, bank_certificate_msg, acccount_name_certificate_msg, 
    bankcard_certificate_result, bank_certificate_result, acccount_name_certificate_result, 
    auditor, audit_time, tex_no_certificate_msg, address_certificate_msg, telephone_certificate_msg, 
    tex_no_certificate_result, address_certificate_result, telephone_certificate_result
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_qyzz_bidder_bank_aduit
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_qyzz_bidder_bank_aduit
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hummingbird.paas.entity.BidderBankAduit" >
    insert into t_qyzz_bidder_bank_aduit (id, bidder_certicate_id, bankcard_certificate_msg, 
      bank_certificate_msg, acccount_name_certificate_msg, 
      bankcard_certificate_result, bank_certificate_result, 
      acccount_name_certificate_result, auditor, 
      audit_time, tex_no_certificate_msg, address_certificate_msg, 
      telephone_certificate_msg, tex_no_certificate_result, 
      address_certificate_result, telephone_certificate_result
      )
    values (#{id,jdbcType=INTEGER}, #{bidderCerticateId,jdbcType=INTEGER}, #{bankcardCertificateMsg,jdbcType=VARCHAR}, 
      #{bankCertificateMsg,jdbcType=VARCHAR}, #{acccountNameCertificateMsg,jdbcType=VARCHAR}, 
      #{bankcardCertificateResult,jdbcType=VARCHAR}, #{bankCertificateResult,jdbcType=VARCHAR}, 
      #{acccountNameCertificateResult,jdbcType=VARCHAR}, #{auditor,jdbcType=INTEGER}, 
      #{auditTime,jdbcType=TIMESTAMP}, #{texNoCertificateMsg,jdbcType=VARCHAR}, #{addressCertificateMsg,jdbcType=VARCHAR}, 
      #{telephoneCertificateMsg,jdbcType=VARCHAR}, #{texNoCertificateResult,jdbcType=VARCHAR}, 
      #{addressCertificateResult,jdbcType=VARCHAR}, #{telephoneCertificateResult,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hummingbird.paas.entity.BidderBankAduit" >
    insert into t_qyzz_bidder_bank_aduit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="bidderCerticateId != null" >
        bidder_certicate_id,
      </if>
      <if test="bankcardCertificateMsg != null" >
        bankcard_certificate_msg,
      </if>
      <if test="bankCertificateMsg != null" >
        bank_certificate_msg,
      </if>
      <if test="acccountNameCertificateMsg != null" >
        acccount_name_certificate_msg,
      </if>
      <if test="bankcardCertificateResult != null" >
        bankcard_certificate_result,
      </if>
      <if test="bankCertificateResult != null" >
        bank_certificate_result,
      </if>
      <if test="acccountNameCertificateResult != null" >
        acccount_name_certificate_result,
      </if>
      <if test="auditor != null" >
        auditor,
      </if>
      <if test="auditTime != null" >
        audit_time,
      </if>
      <if test="texNoCertificateMsg != null" >
        tex_no_certificate_msg,
      </if>
      <if test="addressCertificateMsg != null" >
        address_certificate_msg,
      </if>
      <if test="telephoneCertificateMsg != null" >
        telephone_certificate_msg,
      </if>
      <if test="texNoCertificateResult != null" >
        tex_no_certificate_result,
      </if>
      <if test="addressCertificateResult != null" >
        address_certificate_result,
      </if>
      <if test="telephoneCertificateResult != null" >
        telephone_certificate_result,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bidderCerticateId != null" >
        #{bidderCerticateId,jdbcType=INTEGER},
      </if>
      <if test="bankcardCertificateMsg != null" >
        #{bankcardCertificateMsg,jdbcType=VARCHAR},
      </if>
      <if test="bankCertificateMsg != null" >
        #{bankCertificateMsg,jdbcType=VARCHAR},
      </if>
      <if test="acccountNameCertificateMsg != null" >
        #{acccountNameCertificateMsg,jdbcType=VARCHAR},
      </if>
      <if test="bankcardCertificateResult != null" >
        #{bankcardCertificateResult,jdbcType=VARCHAR},
      </if>
      <if test="bankCertificateResult != null" >
        #{bankCertificateResult,jdbcType=VARCHAR},
      </if>
      <if test="acccountNameCertificateResult != null" >
        #{acccountNameCertificateResult,jdbcType=VARCHAR},
      </if>
      <if test="auditor != null" >
        #{auditor,jdbcType=INTEGER},
      </if>
      <if test="auditTime != null" >
        #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="texNoCertificateMsg != null" >
        #{texNoCertificateMsg,jdbcType=VARCHAR},
      </if>
      <if test="addressCertificateMsg != null" >
        #{addressCertificateMsg,jdbcType=VARCHAR},
      </if>
      <if test="telephoneCertificateMsg != null" >
        #{telephoneCertificateMsg,jdbcType=VARCHAR},
      </if>
      <if test="texNoCertificateResult != null" >
        #{texNoCertificateResult,jdbcType=VARCHAR},
      </if>
      <if test="addressCertificateResult != null" >
        #{addressCertificateResult,jdbcType=VARCHAR},
      </if>
      <if test="telephoneCertificateResult != null" >
        #{telephoneCertificateResult,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hummingbird.paas.entity.BidderBankAduit" >
    update t_qyzz_bidder_bank_aduit
    <set >
      <if test="bidderCerticateId != null" >
        bidder_certicate_id = #{bidderCerticateId,jdbcType=INTEGER},
      </if>
      <if test="bankcardCertificateMsg != null" >
        bankcard_certificate_msg = #{bankcardCertificateMsg,jdbcType=VARCHAR},
      </if>
      <if test="bankCertificateMsg != null" >
        bank_certificate_msg = #{bankCertificateMsg,jdbcType=VARCHAR},
      </if>
      <if test="acccountNameCertificateMsg != null" >
        acccount_name_certificate_msg = #{acccountNameCertificateMsg,jdbcType=VARCHAR},
      </if>
      <if test="bankcardCertificateResult != null" >
        bankcard_certificate_result = #{bankcardCertificateResult,jdbcType=VARCHAR},
      </if>
      <if test="bankCertificateResult != null" >
        bank_certificate_result = #{bankCertificateResult,jdbcType=VARCHAR},
      </if>
      <if test="acccountNameCertificateResult != null" >
        acccount_name_certificate_result = #{acccountNameCertificateResult,jdbcType=VARCHAR},
      </if>
      <if test="auditor != null" >
        auditor = #{auditor,jdbcType=INTEGER},
      </if>
      <if test="auditTime != null" >
        audit_time = #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="texNoCertificateMsg != null" >
        tex_no_certificate_msg = #{texNoCertificateMsg,jdbcType=VARCHAR},
      </if>
      <if test="addressCertificateMsg != null" >
        address_certificate_msg = #{addressCertificateMsg,jdbcType=VARCHAR},
      </if>
      <if test="telephoneCertificateMsg != null" >
        telephone_certificate_msg = #{telephoneCertificateMsg,jdbcType=VARCHAR},
      </if>
      <if test="texNoCertificateResult != null" >
        tex_no_certificate_result = #{texNoCertificateResult,jdbcType=VARCHAR},
      </if>
      <if test="addressCertificateResult != null" >
        address_certificate_result = #{addressCertificateResult,jdbcType=VARCHAR},
      </if>
      <if test="telephoneCertificateResult != null" >
        telephone_certificate_result = #{telephoneCertificateResult,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hummingbird.paas.entity.BidderBankAduit" >
    update t_qyzz_bidder_bank_aduit
    set bidder_certicate_id = #{bidderCerticateId,jdbcType=INTEGER},
      bankcard_certificate_msg = #{bankcardCertificateMsg,jdbcType=VARCHAR},
      bank_certificate_msg = #{bankCertificateMsg,jdbcType=VARCHAR},
      acccount_name_certificate_msg = #{acccountNameCertificateMsg,jdbcType=VARCHAR},
      bankcard_certificate_result = #{bankcardCertificateResult,jdbcType=VARCHAR},
      bank_certificate_result = #{bankCertificateResult,jdbcType=VARCHAR},
      acccount_name_certificate_result = #{acccountNameCertificateResult,jdbcType=VARCHAR},
      auditor = #{auditor,jdbcType=INTEGER},
      audit_time = #{auditTime,jdbcType=TIMESTAMP},
      tex_no_certificate_msg = #{texNoCertificateMsg,jdbcType=VARCHAR},
      address_certificate_msg = #{addressCertificateMsg,jdbcType=VARCHAR},
      telephone_certificate_msg = #{telephoneCertificateMsg,jdbcType=VARCHAR},
      tex_no_certificate_result = #{texNoCertificateResult,jdbcType=VARCHAR},
      address_certificate_result = #{addressCertificateResult,jdbcType=VARCHAR},
      telephone_certificate_result = #{telephoneCertificateResult,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByBcId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_qyzz_bidder_bank_aduit
    where bidder_certicate_id = #{bcid,jdbcType=INTEGER} 
  </select>
</mapper>