<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hummingbird.paas.mapper.BiddeeCertificationMapper" >
  <resultMap id="BaseResultMap" type="com.hummingbird.paas.entity.BiddeeCertification" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="tenderer_id" property="tendererId" jdbcType="INTEGER" />
    <result column="certification_id" property="certificationId" jdbcType="INTEGER" />
    <result column="certification_name" property="certificationName" jdbcType="VARCHAR" />
    <result column="certification_content" property="certificationContent" jdbcType="VARCHAR" />
    <result column="expire_time" property="expireTime" jdbcType="DATE" />
    <result column="applicable_region" property="applicableRegion" jdbcType="VARCHAR" />
    <result column="certification_no" property="certificationNo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, tenderer_id, certification_id, certification_name, certification_content, expire_time, 
    applicable_region, certification_no
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_qyzz_biddee_certification
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_qyzz_biddee_certification
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="removeAllByBiddeeId" parameterType="java.lang.Integer" >
    delete from t_qyzz_biddee_certification
    where biddee_id = #{biddeed,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hummingbird.paas.entity.BiddeeCertification" >
    insert into t_qyzz_biddee_certification (id, tenderer_id, certification_id, 
      certification_name, certification_content, 
      expire_time, applicable_region, certification_no
      )
    values (#{id,jdbcType=INTEGER}, #{tendererId,jdbcType=INTEGER}, #{certificationId,jdbcType=INTEGER}, 
      #{certificationName,jdbcType=VARCHAR}, #{certificationContent,jdbcType=VARCHAR}, 
      #{expireTime,jdbcType=DATE}, #{applicableRegion,jdbcType=VARCHAR}, #{certificationNo,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertByApplyId" parameterType="java.lang.Integer" >
    insert into t_qyzz_biddee_certification (id, biddee_id, certification_id, 
      certification_name, certification_content, 
      expire_time, applicable_region, certification_no,industry_id
      )
      select * from t_qyzz_biddee_certification_certification a 
      where a.id = #{certificationApplyId,jdbcType=INTEGER}
  </insert>
  <insert id="insertSelective" parameterType="com.hummingbird.paas.entity.BiddeeCertification" >
    insert into t_qyzz_biddee_certification
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tendererId != null" >
        tenderer_id,
      </if>
      <if test="certificationId != null" >
        certification_id,
      </if>
      <if test="certificationName != null" >
        certification_name,
      </if>
      <if test="certificationContent != null" >
        certification_content,
      </if>
      <if test="expireTime != null" >
        expire_time,
      </if>
      <if test="applicableRegion != null" >
        applicable_region,
      </if>
      <if test="certificationNo != null" >
        certification_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tendererId != null" >
        #{tendererId,jdbcType=INTEGER},
      </if>
      <if test="certificationId != null" >
        #{certificationId,jdbcType=INTEGER},
      </if>
      <if test="certificationName != null" >
        #{certificationName,jdbcType=VARCHAR},
      </if>
      <if test="certificationContent != null" >
        #{certificationContent,jdbcType=VARCHAR},
      </if>
      <if test="expireTime != null" >
        #{expireTime,jdbcType=DATE},
      </if>
      <if test="applicableRegion != null" >
        #{applicableRegion,jdbcType=VARCHAR},
      </if>
      <if test="certificationNo != null" >
        #{certificationNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <insert id="insertSelectiveByCertificationIdSuccess" parameterType="java.lang.Integer" >
    insert into t_qyzz_biddee_certification (id, tenderer_id, certification_id, 
      certification_name, certification_content, 
      expire_time, applicable_region, certification_no
      )select * from t_qyzz_biddee_certification_certification a 
      where a.biddee_apply_id = #{biddeeId,jdbcType=INTEGER}
  </insert>
   <update id="updateByCertificationIdSuccess" parameterType="com.hummingbird.paas.entity.BiddeeCertification" >
    update t_qyzz_biddee_certification a INNER JOIN t_qyzz_biddee_certification_certification b ON a.id = b.id  set  a.tenderer_id = b.biddee_apply_id, a.certification_id = b.certification_id, 
      a.certification_name = b.certification_name, a.certification_content = b.certification_content, 
      a.expire_time = b.expire_time, a.applicable_region = b.applicable_region, a.certification_no = b.certification_no 
      where b.biddee_apply_id = #{biddeeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hummingbird.paas.entity.BiddeeCertification" >
    update t_qyzz_biddee_certification
    <set >
      <if test="tendererId != null" >
        tenderer_id = #{tendererId,jdbcType=INTEGER},
      </if>
      <if test="certificationId != null" >
        certification_id = #{certificationId,jdbcType=INTEGER},
      </if>
      <if test="certificationName != null" >
        certification_name = #{certificationName,jdbcType=VARCHAR},
      </if>
      <if test="certificationContent != null" >
        certification_content = #{certificationContent,jdbcType=VARCHAR},
      </if>
      <if test="expireTime != null" >
        expire_time = #{expireTime,jdbcType=DATE},
      </if>
      <if test="applicableRegion != null" >
        applicable_region = #{applicableRegion,jdbcType=VARCHAR},
      </if>
      <if test="certificationNo != null" >
        certification_no = #{certificationNo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hummingbird.paas.entity.BiddeeCertification" >
    update t_qyzz_biddee_certification
    set tenderer_id = #{tendererId,jdbcType=INTEGER},
      certification_id = #{certificationId,jdbcType=INTEGER},
      certification_name = #{certificationName,jdbcType=VARCHAR},
      certification_content = #{certificationContent,jdbcType=VARCHAR},
      expire_time = #{expireTime,jdbcType=DATE},
      applicable_region = #{applicableRegion,jdbcType=VARCHAR},
      certification_no = #{certificationNo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByBiddeeId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_qyzz_biddee_certification
    where tenderer_id = #{biddeeId,jdbcType=INTEGER}
  </select>
</mapper>