<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hummingbird.paas.mapper.BidderCertificationCertificationMapper" >
  <resultMap id="BaseResultMap" type="com.hummingbird.paas.entity.BidderCertificationCertification" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="bidder_apply_id" property="bidderId" jdbcType="INTEGER" />
    <result column="certification_id" property="certificationId" jdbcType="INTEGER" />
    <result column="certification_name" property="certificationName" jdbcType="VARCHAR" />
    <result column="certification_content" property="certificationContent" jdbcType="VARCHAR" />
    <result column="expire_time" property="expireTime" jdbcType="DATE" />
    <result column="applicable_region" property="applicableRegion" jdbcType="VARCHAR" />
    <result column="certification_no" property="certificationNo" jdbcType="VARCHAR" />
    <result column="industry_id" property="industryId" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="BidderEqInfoResultMap" type="com.hummingbird.paas.vo.BidderEqInfo" >
<!--     <id column="id" property="id" jdbcType="INTEGER" /> -->
    <result column="projectType" property="projectType" jdbcType="VARCHAR" />
    <result column="projectTypeName" property="projectTypeName" jdbcType="VARCHAR" />
    <result column="eqName" property="eqName" jdbcType="VARCHAR" />
    <result column="eqRating" property="eqRating" jdbcType="VARCHAR" />
    <result column="certification_content" property="certificationContent" jdbcType="VARCHAR" />
    <result column="expiryDate" property="expiryDate" jdbcType="DATE" />
    <result column="applicable_region" property="applicableRegion" jdbcType="VARCHAR" />
    <result column="certification_no" property="certificationNo" jdbcType="VARCHAR" />
    <result column="eqId" property="eqId" jdbcType="INTEGER" />
    <result column="certification_id" property="certificationId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, bidder_apply_id, certification_id, certification_name, certification_content, expire_time, 
    applicable_region, certification_no, industry_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_qyzz_bidder_certification_certification
    where id = #{id,jdbcType=INTEGER}
  </select>
   <select id="selectEqInfoByBidderId" resultMap="BidderEqInfoResultMap"  parameterType="java.lang.Integer" >
   select  i.industry_name projectTypeName,m.applicable_region,m.certification_no,m.industry_id as projectType,m.certification_name as eqName,t.certification_level eqRating,m.certification_content,m.expire_time as expiryDate
      from t_qyzz_bidder_certification_certification m INNER JOIN t_qyzz_bidder_certicate u on m.certification_id = u.id  LEFT JOIN t_base_certification_type t on m.id = t.id
      inner join t_base_industry i on i.id = m.industry_id
        where u.id = #{bidder_id,jdbcType=INTEGER} and and u.status != 'DIS'
  </select>
  <select id="selectEqInfoByUserId"  resultMap="BidderEqInfoResultMap"  parameterType="java.lang.Integer" >
    select  m.id eqId,m.certification_id,i.industry_name projectTypeName,m.applicable_region,m.certification_no,m.industry_id as projectType,m.certification_name as eqName,t.certification_level eqRating,m.certification_content,m.expire_time as expiryDate
      from t_qyzz_bidder_certification_certification m 
      INNER JOIN t_qyzz_bidder_certicate u ON m.bidder_apply_id = u.id
	  LEFT JOIN t_base_certification_type t ON m.certification_id= t.id
	  LEFT JOIN t_base_industry i ON i.id = m.industry_id
      where u.user_id = #{userId,jdbcType=INTEGER}  and u.status != 'DIS'
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_qyzz_bidder_certification_certification
    where id = #{id,jdbcType=INTEGER}
  </delete>
   <delete id="deleteByBidderId" >
    delete from t_qyzz_bidder_certification_certification
    where bidder_apply_id = #{bidderId,jdbcType=INTEGER} 
    <if test="updIds != null">
       <foreach collection="updIds" item="item" index="index"
		   open="AND" separator="AND" close="">id != ${item}
		  </foreach>
       </if>     
  </delete>
  <insert id="insert" parameterType="com.hummingbird.paas.entity.BidderCertificationCertification" >
    insert into t_qyzz_bidder_certification_certification (id, bidder_apply_id, certification_id, 
      certification_name, certification_content, 
      expire_time, applicable_region, certification_no, 
      industry_id)
    values (#{id,jdbcType=INTEGER}, #{bidderId,jdbcType=INTEGER}, #{certificationId,jdbcType=INTEGER}, 
      #{certificationName,jdbcType=VARCHAR}, #{certificationContent,jdbcType=VARCHAR}, 
      #{expireTime,jdbcType=DATE}, #{applicableRegion,jdbcType=VARCHAR}, #{certificationNo,jdbcType=VARCHAR}, 
      #{industryId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hummingbird.paas.entity.BidderCertificationCertification" >
    insert into t_qyzz_bidder_certification_certification
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="bidderId != null" >
        bidder_apply_id,
      </if>
      <if test="certificationId != null" >
        certification_id,
      </if>
      <if test="certificationName != null" >
        certification_name,
      </if>
      <if test="certificationContent != null" >
        certification_content,
      </if>
      <if test="expireTime != null" >
        expire_time,
      </if>
      <if test="applicableRegion != null" >
        applicable_region,
      </if>
      <if test="certificationNo != null" >
        certification_no,
      </if>
      <if test="industryId != null" >
        industry_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bidderId != null" >
        #{bidderId,jdbcType=INTEGER},
      </if>
      <if test="certificationId != null" >
        #{certificationId,jdbcType=INTEGER},
      </if>
      <if test="certificationName != null" >
        #{certificationName,jdbcType=VARCHAR},
      </if>
      <if test="certificationContent != null" >
        #{certificationContent,jdbcType=VARCHAR},
      </if>
      <if test="expireTime != null" >
        #{expireTime,jdbcType=DATE},
      </if>
      <if test="applicableRegion != null" >
        #{applicableRegion,jdbcType=VARCHAR},
      </if>
      <if test="certificationNo != null" >
        #{certificationNo,jdbcType=VARCHAR},
      </if>
      <if test="industryId != null" >
        #{industryId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hummingbird.paas.entity.BidderCertificationCertification" >
    update t_qyzz_bidder_certification_certification
    <set >
      <if test="bidderId != null" >
        bidder_apply_id = #{bidderId,jdbcType=INTEGER},
      </if>
      <if test="certificationId != null" >
        certification_id = #{certificationId,jdbcType=INTEGER},
      </if>
      <if test="certificationName != null" >
        certification_name = #{certificationName,jdbcType=VARCHAR},
      </if>
      <if test="certificationContent != null" >
        certification_content = #{certificationContent,jdbcType=VARCHAR},
      </if>
      <if test="expireTime != null" >
        expire_time = #{expireTime,jdbcType=DATE},
      </if>
      <if test="applicableRegion != null" >
        applicable_region = #{applicableRegion,jdbcType=VARCHAR},
      </if>
      <if test="certificationNo != null" >
        certification_no = #{certificationNo,jdbcType=VARCHAR},
      </if>
      <if test="industryId != null" >
        industry_id = #{industryId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hummingbird.paas.entity.BidderCertificationCertification" >
    update t_qyzz_bidder_certification_certification
    set bidder_apply_id = #{bidderId,jdbcType=INTEGER},
      certification_id = #{certificationId,jdbcType=INTEGER},
      certification_name = #{certificationName,jdbcType=VARCHAR},
      certification_content = #{certificationContent,jdbcType=VARCHAR},
      expire_time = #{expireTime,jdbcType=DATE},
      applicable_region = #{applicableRegion,jdbcType=VARCHAR},
      certification_no = #{certificationNo,jdbcType=VARCHAR},
      industry_id = #{industryId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>