<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hummingbird.paas.mapper.BidderBidCreditScoreMapper" >
  <resultMap id="BaseResultMap" type="com.hummingbird.paas.entity.BidderBidCreditScore" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="bidder_id" property="bidderId" jdbcType="INTEGER" />
    <result column="tenderer_id" property="tendererId" jdbcType="INTEGER" />
    <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
    <result column="object_id" property="objectId" jdbcType="INTEGER" />
    <result column="score" property="score" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, bidder_id, tenderer_id, insert_time, object_id, score
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_xyjf_bidder_bid_credit_score
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_xyjf_bidder_bid_credit_score
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hummingbird.paas.entity.BidderBidCreditScore" >
    insert into t_xyjf_bidder_bid_credit_score (id, bidder_id, tenderer_id, 
      insert_time, object_id, score
      )
    values (#{id,jdbcType=INTEGER}, #{bidderId,jdbcType=INTEGER}, #{tendererId,jdbcType=INTEGER}, 
      #{insertTime,jdbcType=TIMESTAMP}, #{objectId,jdbcType=INTEGER}, #{score,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hummingbird.paas.entity.BidderBidCreditScore" >
    insert into t_xyjf_bidder_bid_credit_score
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="bidderId != null" >
        bidder_id,
      </if>
      <if test="tendererId != null" >
        tenderer_id,
      </if>
      <if test="insertTime != null" >
        insert_time,
      </if>
      <if test="objectId != null" >
        object_id,
      </if>
      <if test="score != null" >
        score,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bidderId != null" >
        #{bidderId,jdbcType=INTEGER},
      </if>
      <if test="tendererId != null" >
        #{tendererId,jdbcType=INTEGER},
      </if>
      <if test="insertTime != null" >
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="objectId != null" >
        #{objectId,jdbcType=INTEGER},
      </if>
      <if test="score != null" >
        #{score,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hummingbird.paas.entity.BidderBidCreditScore" >
    update t_xyjf_bidder_bid_credit_score
    <set >
      <if test="bidderId != null" >
        bidder_id = #{bidderId,jdbcType=INTEGER},
      </if>
      <if test="tendererId != null" >
        tenderer_id = #{tendererId,jdbcType=INTEGER},
      </if>
      <if test="insertTime != null" >
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="objectId != null" >
        object_id = #{objectId,jdbcType=INTEGER},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hummingbird.paas.entity.BidderBidCreditScore" >
    update t_xyjf_bidder_bid_credit_score
    set bidder_id = #{bidderId,jdbcType=INTEGER},
      tenderer_id = #{tendererId,jdbcType=INTEGER},
      insert_time = #{insertTime,jdbcType=TIMESTAMP},
      object_id = #{objectId,jdbcType=INTEGER},
      score = #{score,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="sumScoreByBidderId"  resultType="int"   parameterType="java.lang.Integer" >
  select IFNULL(sum(score),0)score from t_xyjf_bidder_bid_credit_score
    where bidder_id = #{bidder_id,jdbcType=INTEGER}
  </select>
</mapper>