<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hummingbird.paas.mapper.BiddeeCreditMapper" >
  <resultMap id="BaseResultMap" type="com.hummingbird.paas.entity.BiddeeCredit" >
    <id column="tenderer_id" property="tenderer_id" jdbcType="INTEGER" />
    <result column="credit_score" property="credit_score" jdbcType="INTEGER" />
    <result column="baseinfo_credit_score" property="baseinfo_credit_score" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    tenderer_id, credit_score, baseinfo_credit_score
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_xyjf_biddee_credit
    where tenderer_id = #{tenderer_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_xyjf_biddee_credit
    where tenderer_id = #{tenderer_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hummingbird.paas.entity.BiddeeCredit" >
    insert into t_xyjf_biddee_credit (tenderer_id, credit_score, baseinfo_credit_score
      )
    values (#{tenderer_id,jdbcType=INTEGER}, #{credit_score,jdbcType=INTEGER}, #{baseinfo_credit_score,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hummingbird.paas.entity.BiddeeCredit" >
    insert into t_xyjf_biddee_credit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tenderer_id != null" >
        tenderer_id,
      </if>
      <if test="credit_score != null" >
        credit_score,
      </if>
      <if test="baseinfo_credit_score != null" >
        baseinfo_credit_score,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tenderer_id != null" >
        #{tenderer_id,jdbcType=INTEGER},
      </if>
      <if test="credit_score != null" >
        #{credit_score,jdbcType=INTEGER},
      </if>
      <if test="baseinfo_credit_score != null" >
        #{baseinfo_credit_score,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hummingbird.paas.entity.BiddeeCredit" >
    update t_xyjf_biddee_credit
    <set >
      <if test="credit_score != null" >
        credit_score = #{credit_score,jdbcType=INTEGER},
      </if>
      <if test="baseinfo_credit_score != null" >
        baseinfo_credit_score = #{baseinfo_credit_score,jdbcType=INTEGER},
      </if>
    </set>
    where tenderer_id = #{tenderer_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hummingbird.paas.entity.BiddeeCredit" >
    update t_xyjf_biddee_credit
    set credit_score = #{credit_score,jdbcType=INTEGER},
      baseinfo_credit_score = #{baseinfo_credit_score,jdbcType=INTEGER}
    where tenderer_id = #{tenderer_id,jdbcType=INTEGER}
  </update>
</mapper>