<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hummingbird.paas.mapper.BidderCertificationCertificationMapper" >
  <resultMap id="BaseResultMap" type="com.hummingbird.paas.entity.BidderCertificationCertification" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="bidder_id" property="bidderId" jdbcType="INTEGER" />
    <result column="certification_id" property="certificationId" jdbcType="INTEGER" />
    <result column="certification_name" property="certificationName" jdbcType="VARCHAR" />
    <result column="certification_content" property="certificationContent" jdbcType="VARCHAR" />
    <result column="expire_time" property="expireTime" jdbcType="DATE" />
    <result column="applicable_region" property="applicableRegion" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, bidder_id, certification_id, certification_name, certification_content, expire_time, 
    applicable_region
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_qyzz_bidder_certification_certification
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectEqInfoByBidderId"  parameterType="java.lang.Integer" >
    select a.industry_id as eqType,m.certification_name as eqName,t.certification_level eqRating,m.certification_content as eqDesc,m.expire_time as expiryDate
      from t_qyzz_bidder_certification_certification m LEFT JOIN t_qyzz_bidder_company_certification a on a.bidder_id = m.bidder_id  LEFT JOIN t_base_certification_type t on a.id = t.id
      where m.bidder_id = #{bidder_id,jdbcType=INTEGER}
  </select>
  <select id="selectEqInfoByToken"  parameterType="java.lang.String" >
     select a.industry_id as eqType,m.certification_name as eqName,t.certification_level eqRating,m.certification_content as eqDesc,m.expire_time as expiryDate
      from t_qyzz_bidder_certification_certification m INNER JOIN t_user_token u on m.bidder_id = u.userId LEFT JOIN t_qyzz_bidder_company_certification a on a.bidder_id = m.bidder_id  LEFT JOIN t_base_certification_type t on a.id = t.id
        where u.token = #{token,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_qyzz_bidder_certification_certification
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hummingbird.paas.entity.BidderCertificationCertification" >
    insert into t_qyzz_bidder_certification_certification (id, bidder_id, certification_id, 
      certification_name, certification_content, 
      expire_time, applicable_region)
    values (#{id,jdbcType=INTEGER}, #{bidderId,jdbcType=INTEGER}, #{certificationId,jdbcType=INTEGER}, 
      #{certificationName,jdbcType=VARCHAR}, #{certificationContent,jdbcType=VARCHAR}, 
      #{expireTime,jdbcType=DATE}, #{applicableRegion,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hummingbird.paas.entity.BidderCertificationCertification" >
    insert into t_qyzz_bidder_certification_certification
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="bidderId != null" >
        bidder_id,
      </if>
      <if test="certificationId != null" >
        certification_id,
      </if>
      <if test="certificationName != null" >
        certification_name,
      </if>
      <if test="certificationContent != null" >
        certification_content,
      </if>
      <if test="expireTime != null" >
        expire_time,
      </if>
      <if test="applicableRegion != null" >
        applicable_region,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bidderId != null" >
        #{bidderId,jdbcType=INTEGER},
      </if>
      <if test="certificationId != null" >
        #{certificationId,jdbcType=INTEGER},
      </if>
      <if test="certificationName != null" >
        #{certificationName,jdbcType=VARCHAR},
      </if>
      <if test="certificationContent != null" >
        #{certificationContent,jdbcType=VARCHAR},
      </if>
      <if test="expireTime != null" >
        #{expireTime,jdbcType=DATE},
      </if>
      <if test="applicableRegion != null" >
        #{applicableRegion,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hummingbird.paas.entity.BidderCertificationCertification" >
    update t_qyzz_bidder_certification_certification
    <set >
      <if test="bidderId != null" >
        bidder_id = #{bidderId,jdbcType=INTEGER},
      </if>
      <if test="certificationId != null" >
        certification_id = #{certificationId,jdbcType=INTEGER},
      </if>
      <if test="certificationName != null" >
        certification_name = #{certificationName,jdbcType=VARCHAR},
      </if>
      <if test="certificationContent != null" >
        certification_content = #{certificationContent,jdbcType=VARCHAR},
      </if>
      <if test="expireTime != null" >
        expire_time = #{expireTime,jdbcType=DATE},
      </if>
      <if test="applicableRegion != null" >
        applicable_region = #{applicableRegion,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hummingbird.paas.entity.BidderCertificationCertification" >
    update t_qyzz_bidder_certification_certification
    set bidder_id = #{bidderId,jdbcType=INTEGER},
      certification_id = #{certificationId,jdbcType=INTEGER},
      certification_name = #{certificationName,jdbcType=VARCHAR},
      certification_content = #{certificationContent,jdbcType=VARCHAR},
      expire_time = #{expireTime,jdbcType=DATE},
      applicable_region = #{applicableRegion,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>