<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hummingbird.paas.mapper.BidInviteBidderMapper" >
  <resultMap id="BaseResultMap" type="com.hummingbird.paas.entity.BidInviteBidder" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="bidder_id" property="bidderId" jdbcType="INTEGER" />
    <result column="object_id" property="objectId" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="BaseResultMapWithNameReadonly" type="com.hummingbird.paas.entity.BidInviteBidder" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="bidder_id" property="bidderId" jdbcType="INTEGER" />
    <result column="bidder_name" property="bidderName" jdbcType="VARCHAR" />
    <result column="object_id" property="objectId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, bidder_id, object_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_ztgl_bid_invite_bidder
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByObjectId" resultMap="BaseResultMapWithNameReadonly" parameterType="java.lang.String" >
    select 
    b.*,concat(a.real_name,'(',r.company_name,')') bidder_name
    from t_ztgl_bid_invite_bidder b left join t_qyzz_bidder r on b.bidder_id = r.id left join t_user_auth a on r.user_id = a. user_id
    where object_id = #{objectId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_ztgl_bid_invite_bidder
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByObjectId" parameterType="java.lang.String" >
    delete from t_ztgl_bid_invite_bidder
   where object_id = #{objectId}
  </delete>
  <insert id="insert" parameterType="com.hummingbird.paas.entity.BidInviteBidder" >
    insert into t_ztgl_bid_invite_bidder (id, bidder_id, object_id
      )
    values (#{id,jdbcType=INTEGER}, #{bidderId,jdbcType=INTEGER}, #{objectId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hummingbird.paas.entity.BidInviteBidder" >
    insert into t_ztgl_bid_invite_bidder
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="bidderId != null" >
        bidder_id,
      </if>
      <if test="objectId != null" >
        object_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bidderId != null" >
        #{bidderId,jdbcType=INTEGER},
      </if>
      <if test="objectId != null" >
        #{objectId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hummingbird.paas.entity.BidInviteBidder" >
    update t_ztgl_bid_invite_bidder
    <set >
      <if test="bidderId != null" >
        bidder_id = #{bidderId,jdbcType=INTEGER},
      </if>
      <if test="objectId != null" >
        object_id = #{objectId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hummingbird.paas.entity.BidInviteBidder" >
    update t_ztgl_bid_invite_bidder
    set bidder_id = #{bidderId,jdbcType=INTEGER},
      object_id = #{objectId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>