<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hummingbird.paas.mapper.BidObjectMapper" >
  <resultMap id="BaseResultMap" type="com.hummingbird.paas.entity.BidObject" >
    <id column="object_id" property="objectId" jdbcType="VARCHAR" />
    <result column="biddee_id" property="biddeeId" jdbcType="INTEGER" />
    <result column="object_no" property="objectNo" jdbcType="VARCHAR" />
    <result column="object_name" property="objectName" jdbcType="VARCHAR" />
    <result column="object_amount" property="objectAmount" jdbcType="BIGINT" />
    <result column="object_publish_type" property="objectPublishType" jdbcType="VARCHAR" />
    <result column="object_status" property="objectStatus" jdbcType="VARCHAR" />
    <result column="win_bid_amount" property="winBidAmount" jdbcType="BIGINT" />
    <result column="win_bidder_id" property="winBidderId" jdbcType="INTEGER" />
    <result column="industry_id" property="industryId" jdbcType="VARCHAR" />
    <result column="sector_id" property="sectorId" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="INTEGER" />
    <result column="district" property="district" jdbcType="INTEGER" />
    <result column="biddee_company_principal" property="biddeeCompanyPrincipal" jdbcType="VARCHAR" />
    <result column="biddee_company_telephone" property="biddeeCompanyTelephone" jdbcType="VARCHAR" />
    <result column="bid_open_date" property="bidOpenDate" jdbcType="DATE" />
    <result column="contract_type" property="contractType" jdbcType="VARCHAR" />
    <result column="currency" property="currency" jdbcType="VARCHAR" />
    <result column="bid_bond_amount" property="bidBondAmount" jdbcType="BIGINT" />
    <result column="need_business_standard" property="needBusinessStandard" jdbcType="VARCHAR" />
    <result column="need_technical_standard" property="needTechnicalStandard" jdbcType="VARCHAR" />
    <result column="need_certification_checkup_file" property="needCertificationCheckupFile" jdbcType="VARCHAR" />
    <result column="need_pm_certification" property="needPmCertification" jdbcType="VARCHAR" />
    <result column="need_constructor_certification" property="needConstructorCertification" jdbcType="VARCHAR" />
    <result column="need_safety_permit" property="needSafetyPermit" jdbcType="VARCHAR" />
    <result column="need_pm_safety_certification" property="needPmSafetyCertification" jdbcType="VARCHAR" />
    <result column="evaluation_amount" property="evaluationAmount" jdbcType="BIGINT" />
    <result column="object_scope" property="objectScope" jdbcType="VARCHAR" />
    <result column="win_bid_time" property="winBidTime" jdbcType="TIMESTAMP" />
    <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="object_type" property="objectType" jdbcType="VARCHAR" />
    <result column="evaluation_amount_visiable" property="evaluationAmountVisiable" jdbcType="VARCHAR" />
    <result column="publish_time" property="publishTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="MyTenderObjectListResultMap" type="com.hummingbird.paas.vo.MyTenderObjectListVO" >
    <result column="object_id" property="objectId" jdbcType="VARCHAR" />
    <result column="object_name" property="objectName" jdbcType="VARCHAR" />
    <result column="industry_id" property="industryId" jdbcType="VARCHAR" />
    <result column="project_expect_period" property="projectExpectPeriod" jdbcType="INTEGER" />
    <result column="evaluation_amount" property="evaluationAmount" jdbcType="INTEGER" />
    <result column="project_expect_start_date" property="projectExpectStartDate" jdbcType="VARCHAR" />
    <result column="project_expect_end_date" property="biddingEndTime" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="MyTenderBuildingObjectListResultMap" type="com.hummingbird.paas.vo.TenderMyBuildingObjectVO" >
    <result column="object_id" property="objectId" jdbcType="VARCHAR" />
    <result column="object_name" property="objectName" jdbcType="VARCHAR" />
    <result column="win_bid_amount" property="winBidAmount" jdbcType="BIGINT" />
    <result column="winBidder" property="winBidder" jdbcType="VARCHAR" />
    <result column="receivedAmount" property="receivedAmount" jdbcType="VARCHAR" />
    <result column="willReceiveAmount" property="willReceiveAmount" jdbcType="VARCHAR" />
    <result column="project_expect_start_date" property="projectExpectStartDate" jdbcType="VARCHAR" />
    <result column="project_expect_period" property="projectExpectPeriod" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="MyTenderEnableObjectListResultMap" type="com.hummingbird.paas.vo.TenderMyBuildingObjectVO" >
    <result column="object_id" property="objectId" jdbcType="VARCHAR" />
    <result column="object_name" property="objectName" jdbcType="VARCHAR" />
   
    <result column="win_bid_amount" property="winBidAmount" jdbcType="BIGINT" />
    <result column="company_name" property="winBidder" jdbcType="VARCHAR" />
    <result column="industry_id" property="industryId" jdbcType="VARCHAR" />
  </resultMap>
   <resultMap id="TenderObjectListResultMap" type="com.hummingbird.paas.vo.TenderObjectListReturnVO" >
    <result column="object_id" property="objectId" jdbcType="VARCHAR" />
    <result column="object_name" property="objectName" jdbcType="VARCHAR" />
    <result column="company_name" property="biddee" jdbcType="VARCHAR" />
     <result column="level_name" property="creditRating" jdbcType="VARCHAR" />
    <result column="evaluation_amount" property="evaluationAmount" jdbcType="BIGINT" />
    <result column="project_expect_start_date" property="projectExpectStartDate" jdbcType="VARCHAR" />
    <result column="project_expect_end_date" property="projectExpectEndDate" jdbcType="VARCHAR" />
    <result column="project_expect_period" property="projectExpectPeriod" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="IndexObjectListResultMap" type="com.hummingbird.paas.vo.QueryIndexObjectListResult" >
    <result column="object_id" property="objectId" jdbcType="VARCHAR" />
    <result column="object_name" property="objectName" jdbcType="VARCHAR" />
   
    <result column="evaluation_amount" property="evaluationAmount" jdbcType="VARCHAR" />
    <result column="company_short_name" property="companyShortName" jdbcType="VARCHAR" />
    <result column="level_name" property="creditRating" jdbcType="VARCHAR" />
    <result column="project_expect_start_date" property="objectPredictStartTime" jdbcType="VARCHAR" />
    <result column="project_expect_period" property="projectExpectPeriod" jdbcType="VARCHAR" />
  </resultMap>
    <resultMap id="QueryBidIndexSurveyResultMap" type="com.hummingbird.paas.vo.QueryBidIndexSurveyResult" >
    <result column="bidNum" property="bidNum" jdbcType="INTEGER" />
    <result column="amount" property="amount" jdbcType="BIGINT" />
    </resultMap>
     <resultMap id="QueryObjectIndexSurveyResultMap" type="com.hummingbird.paas.vo.QueryObjectIndexSurveyResult" >
    <result column="objectNum" property="objectNum" jdbcType="INTEGER" />
    <result column="amount" property="amount" jdbcType="BIGINT" />
    </resultMap>
    <resultMap id="QueryBidIndexListResultMap" type="com.hummingbird.paas.vo.QueryBidIndexListResult" >
    <result column="object_id" property="objectId" jdbcType="VARCHAR" />
    <result column="object_name" property="objectName" jdbcType="VARCHAR" />
    <result column="biddee" property="biddeeName" jdbcType="VARCHAR" />
    <result column="bidder" property="bideerName" jdbcType="VARCHAR" />
    <result column="win_bid_amount" property="winBidAmount" jdbcType="BIGINT" />
    </resultMap>
  <sql id="Base_Column_List" >
    object_id, biddee_id, object_no, object_name, object_amount, object_publish_type, 
    object_status, win_bid_amount, win_bidder_id, industry_id, sector_id, province, district, 
    biddee_company_principal, biddee_company_telephone, bid_open_date, contract_type, 
    currency, bid_bond_amount, need_business_standard, need_technical_standard, need_certification_checkup_file, 
    need_pm_certification, need_constructor_certification, need_safety_permit, need_pm_safety_certification, 
    evaluation_amount, object_scope, win_bid_time, insert_time, update_time, object_type, 
    evaluation_amount_visiable, publish_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_ztgl_object
    where object_id = #{objectId,jdbcType=VARCHAR}
  </select>
  <select id="selectUnfinishObject" resultMap="BaseResultMap"  >
    select 
    <include refid="Base_Column_List" />
    from t_ztgl_object
    where biddee_id = #{biddeeId} and object_status = 'CRT'
    <if test="objectId != null">
    and object_id = #{objectId}
    </if>
  </select>
  <select id="countAmountByBid" resultType="long" >
    select IFNULL(sum(win_bid_amount),0) from t_ztgl_object
    where biddee_id = #{biddeeId} 
    <if test="objectId != null">
    and object_id = #{objectId}
    </if>
  </select>
  <select id="selectbyBiddeeId" resultMap="BaseResultMap"  >
    select 
    <include refid="Base_Column_List" />
    from t_ztgl_object
    where biddee_id = #{biddeeId} 
    <if test="status != null">
    and object_status = #{status}
    </if>
  </select>
  <select id="countTenderBidingNum" resultType="int" parameterType="java.lang.Integer" >
  select count(a.object_id) from t_ztgl_object a INNER JOIN t_qyzz_biddee b on a.biddee_id = b.id 
     where  b.user_id = #{user_id,jdbcType=INTEGER} AND (a.object_status = 'PUB' or a.object_status = 'REV')
  </select>
   <select id="countTenderDoingNum" resultType="int" parameterType="java.lang.Integer" >
     select count(a.object_id) from t_ztgl_object a INNER JOIN t_qyzz_biddee b on a.biddee_id = b.id 
     where  b.user_id = #{user_id,jdbcType=INTEGER} AND a.object_status = 'SEL' 
    </select>
   <select id="countTenderDoneNum" resultType="int" parameterType="java.lang.Integer" >
   select count(a.object_id) from t_ztgl_object a INNER JOIN t_qyzz_biddee b on a.biddee_id = b.id 
     where  b.user_id = #{user_id,jdbcType=INTEGER} AND a.object_status = 'END' 
  </select>
  <select id="countBidingNum" resultType="int" parameterType="java.lang.Integer" >
   select count(a.object_id) from t_ztgl_object a INNER JOIN t_qyzz_bidder b on a.win_bidder_id = b.id 
     where  b.user_id = #{user_id,jdbcType=INTEGER} AND (a.object_status = 'PUB' or a.object_status = 'REV')
  </select>
   <select id="countDoingNum" resultType="int" parameterType="java.lang.Integer" >
    select count(a.object_id) from t_ztgl_object a INNER JOIN t_qyzz_bidder b on a.win_bidder_id = b.id 
     where  b.user_id = #{user_id,jdbcType=INTEGER} AND a.object_status = 'SEL' 
    </select>
   <select id="countDoneNum" resultType="int" parameterType="java.lang.Integer" >
     select count(a.object_id) from t_ztgl_object a INNER JOIN t_qyzz_bidder b on a.win_bidder_id = b.id 
     where  b.user_id = #{user_id,jdbcType=INTEGER} AND a.object_status = 'END' 
  </select>
  <select id="selectTotalCountTenderObject" resultType="int" parameterType="java.lang.Integer" >
    select count(id) from t_ztgl_object a inner JOIN t_ztgl_object_project_info b ON a.object_id = b.object_id inner JOIN t_qyzz_biddee c on c.id = a.biddee_id
        where c.user_id =#{user_id,jdbcType=INTEGER} 
  </select>
   <select id="selectTotalCountTenderBuldingObject" resultType="int" parameterType="java.lang.Integer" >
    select count(a.object_id) from t_ztgl_object a INNER JOIN t_gcgl_project p on a.object_id = p.object_id inner JOIN t_ztgl_object_project_info b ON a.object_id = b.object_id inner JOIN t_qyzz_biddee c on c.id = a.biddee_id LEFT JOIN t_gcgl_project_payment_receive d on (a.object_id = d.project_id and d.status = 'OK#') LEFT JOIN t_gcgl_project_payment_receive e on (a.object_id = e.project_id and e.status = 'CRT')
       where c.user_id =#{user_id,jdbcType=INTEGER}  and p.status  = 'OK#'
  </select>
  <select id="selectTotalCountTenderEndedObject" resultType="int" parameterType="java.lang.Integer" >
    select count(a.object_id) from t_ztgl_object a INNER JOIN t_gcgl_project p on a.object_id = p.object_id inner JOIN t_ztgl_object_project_info b ON a.object_id = b.object_id inner JOIN t_qyzz_biddee c on c.id = a.biddee_id LEFT JOIN t_gcgl_project_payment_receive d on (a.object_id = d.project_id and d.status = 'OK#') LEFT JOIN t_gcgl_project_payment_receive e on (a.object_id = e.project_id and e.status = 'CRT')
       where c.user_id =#{user_id,jdbcType=INTEGER}  and p.status  = 'OK#'
  </select>
  <select id="selectTenderObject" resultMap="MyTenderObjectListResultMap"  >
     select a.industry_id,a.object_id,a.object_name,a.evaluation_amount,b.project_expect_period,b.project_expect_start_date,d.bidding_end_time project_expect_end_date 
     from t_ztgl_object a 
     inner join t_ztgl_object_baseinfo d on d.object_id = a.object_id
     inner JOIN t_ztgl_object_project_info b ON a.object_id = b.object_id 
     inner JOIN t_qyzz_biddee c on c.id = a.biddee_id
        where c.user_id =#{user_id,jdbcType=INTEGER} 
    <if test="page != null" >
    limit #{page.firstResult,jdbcType=DECIMAL}  ,#{page.pageSize,jdbcType=DECIMAL}
    </if> 
  </select>
  <select id="selectTotalTenderBuildingObject" resultType="int" parameterType="java.lang.Integer" >
     select count(1) from t_ztgl_object a INNER JOIN t_gcgl_project p on a.object_id = p.object_id inner JOIN t_ztgl_object_project_info b ON a.object_id = b.object_id inner JOIN t_qyzz_biddee c on c.id = a.biddee_id LEFT JOIN t_gcgl_project_payment_receive d on (a.object_id = d.project_id and d.status = 'OK#') LEFT JOIN t_gcgl_project_payment_receive e on (a.object_id = e.project_id and e.status = 'CRT')
       where c.user_id =#{user_id,jdbcType=INTEGER}  and p.status  = 'OK#'
    
  </select>
    <select id="selectTenderBuildingObject" resultMap="MyTenderBuildingObjectListResultMap"  >
     select a.object_id,a.object_name,a.win_bid_amount,concat(ifnull(u.user_name,''),'(',r.company_name,')') winBidder,d.total_amount receivedAmount,e.total_amount willReceiveAmount,b.project_expect_period,b.project_expect_start_date from t_ztgl_object a inner JOIN t_qyzz_biddee c on c.id = a.biddee_id  INNER JOIN t_gcgl_project p on a.object_id = p.object_id inner JOIN t_ztgl_object_project_info b ON a.object_id = b.object_id  LEFT JOIN t_gcgl_project_payment_receive d on (a.object_id = d.project_id and d.status = 'OK#') LEFT JOIN t_gcgl_project_payment_receive e on (a.object_id = e.project_id and e.status = 'CRT') inner JOIN t_qyzz_bidder r on r.id = a.win_bidder_id inner join t_user u on u.id = r.user_id
       where c.user_id =#{user_id,jdbcType=INTEGER}  and p.status  = 'OK#'
        <if test="page != null" >
   		 limit #{page.firstResult,jdbcType=DECIMAL}  ,#{page.pageSize,jdbcType=DECIMAL}
    </if> 
    
  </select>
   <select id="selectTotalTenderEndedObject" resultType="int" parameterType="java.lang.Integer" >
    select count(1) from t_ztgl_object a INNER JOIN t_gcgl_project p on a.object_id = p.object_id inner JOIN t_ztgl_object_project_info b ON a.object_id = b.object_id inner JOIN t_qyzz_biddee c on c.id = a.biddee_id 
        where c.user_id =#{user_id,jdbcType=INTEGER} and p.status  = 'END' 
  </select>
  <select id="selectTenderEndedObject" resultMap="MyTenderEnableObjectListResultMap" parameterType="java.lang.Integer" >
    select a.industry_id,a.object_id,a.object_name,a.win_bid_amount,c.company_name from t_ztgl_object a INNER JOIN t_gcgl_project p on a.object_id = p.object_id inner JOIN t_ztgl_object_project_info b ON a.object_id = b.object_id inner JOIN t_qyzz_biddee c on c.id = a.biddee_id 
        where c.user_id =#{user_id,jdbcType=INTEGER} and p.status  = 'END' 
          <if test="page != null" >
   		 limit #{page.firstResult,jdbcType=DECIMAL}  ,#{page.pageSize,jdbcType=DECIMAL}
    </if> 
  </select>
  <select id="selectTotalTenderObjectList" resultType="int" parameterType="java.lang.String" >
    select count(a.object_id) from t_ztgl_object a  inner JOIN t_ztgl_object_project_info b ON a.object_id = b.object_id 
       inner JOIN t_qyzz_biddee c on c.id = a.biddee_id LEFT JOIN t_xyjf_biddee_bid_credit_score d on d.object_id = a.object_id LEFT JOIN t_xyjf_score_level e on (d.score &gt;e.min_score and d.score &lt;e.max_score)
       where 1=1 
       <if test="keywords != null">
       <foreach collection="keywords" item="item" index="index"
		   open="AND" separator="OR" close="">a.object_name like CONCAT('%','${item}','%' )  
		  </foreach>
       </if>    
  </select>
  <select id="selectTenderObjectList" resultMap="TenderObjectListResultMap"  >
    select a.object_id,a.object_name,a.evaluation_amount,e.level_name,c.company_name,b.project_expect_period,b.project_expect_start_date,b.project_expect_end_date  from t_ztgl_object a  inner JOIN t_ztgl_object_project_info b ON a.object_id = b.object_id 
       inner JOIN t_qyzz_biddee c on c.id = a.biddee_id LEFT JOIN t_xyjf_biddee_bid_credit_score d on d.object_id = a.object_id LEFT JOIN t_xyjf_score_level e on (d.score &gt;e.min_score and d.score &lt;e.max_score)
       where 1=1 
       <if test="keywords != null">
           and 
           <foreach collection="keywords" item="item" index="index"
		   open="" separator="OR" close="">a.object_name like CONCAT('%','${item}','%' )  
		  </foreach>
       </if>
       <if test="page != null" >
    limit #{page.firstResult,jdbcType=DECIMAL}  ,#{page.pageSize,jdbcType=DECIMAL}
    </if> 
  </select>
   <select id="selectTotalIndexObjectList" resultType="int">
    select count(a.object_id) from t_ztgl_object a  inner JOIN t_ztgl_object_project_info b ON a.object_id = b.object_id inner JOIN t_qyzz_biddee c on c.id = a.biddee_id LEFT JOIN t_xyjf_biddee_bid_credit_score d on d.object_id = a.object_id 
      LEFT JOIN t_xyjf_score_level e on (d.score &gt;e.min_score and d.score &lt;e.max_score)
       where a.object_status != 'CRT'
     
  </select>
  <select id="selectIndexObjectList" resultMap="IndexObjectListResultMap">
     select a.object_id,a.object_name,a.evaluation_amount,e.level_name,c.company_name,b.project_expect_period,b.project_expect_start_date from t_ztgl_object a  inner JOIN t_ztgl_object_project_info b ON a.object_id = b.object_id inner JOIN t_qyzz_biddee c on c.id = a.biddee_id LEFT JOIN t_xyjf_biddee_bid_credit_score d on d.object_id = a.object_id 
      LEFT JOIN t_xyjf_score_level e on (d.score &gt;e.min_score and d.score &lt;e.max_score)
      where a.object_status != 'CRT'
       <if test="page != null" >
    limit #{page.firstResult,jdbcType=DECIMAL}  ,#{page.pageSize,jdbcType=DECIMAL}
    </if> 
  </select>
  <select id="selectBidIndexSurvey" resultMap="QueryBidIndexSurveyResultMap">
    select count(a.object_id) bidNum,IFNULL(sum(a.win_bid_amount),0) amount from t_ztgl_object a INNER JOIN t_ztgl_object_project_info b on a.object_id = b.object_id
        where a.object_status = 'SEL' 
    </select>
    <select id="selectObjectIndexSurvey" resultMap="QueryObjectIndexSurveyResultMap">
     select count(a.object_id) objectNum,IFNULL(sum(a.object_amount),0) amount from t_ztgl_object a INNER JOIN t_ztgl_object_project_info b on a.object_id = b.object_id
    </select>
     <select id="selectTotalBidIndexList" resultType="int">
   	 select count(a.object_id) from t_ztgl_object a 
		INNER JOIN t_ztgl_object_project_info b on a.object_id = b.object_id 
		LEFT JOIN t_qyzz_biddee c on a.biddee_id = c.id 
		LEFT JOIN t_qyzz_bidder d on a.win_bidder_id = d.id 
		 where a.object_status = 'SEL' 
     	<if test="projectName != null" >
		 	and a.object_name like "%"#{projectName}"%"
		 </if>
		 <if test="publishTime != null" >
		 	and a.publish_time > date_sub(now(), interval #{publishTime} day)
		 </if>
  </select>
   <select id="selectBidIndexList" resultMap="QueryBidIndexListResultMap">
    select a.object_id,a.object_name,c.short_name biddee,d.short_name bidder,a.win_bid_amount 
    	from t_ztgl_object a 
		INNER JOIN t_ztgl_object_project_info b on a.object_id = b.object_id 
		LEFT JOIN t_qyzz_biddee c on a.biddee_id = c.id 
		LEFT JOIN t_qyzz_bidder d on a.win_bidder_id = d.id 
		 where a.object_status = 'SEL' 
		 <if test="projectName != null" >
		 	and a.object_name like "%"#{projectName}"%"
		 </if>
		 <if test="publishTime != null" >
		 	and a.publish_time > date_sub(now(), interval #{publishTime} day)
		 </if>
    <if test="page != null" >
    limit #{page.firstResult,jdbcType=DECIMAL}  ,#{page.pageSize,jdbcType=DECIMAL}
    </if> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_ztgl_object
    where object_id = #{objectId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hummingbird.paas.entity.BidObject" >
    insert into t_ztgl_object (object_id, biddee_id, object_no, 
      object_name, object_amount, object_publish_type, 
      object_status, win_bid_amount, win_bidder_id, 
      industry_id, sector_id, province, 
      district, biddee_company_principal, biddee_company_telephone, 
      bid_open_date, contract_type, currency, 
      bid_bond_amount, need_business_standard, need_technical_standard, 
      need_certification_checkup_file, need_pm_certification, 
      need_constructor_certification, need_safety_permit, 
      need_pm_safety_certification, evaluation_amount, 
      object_scope, win_bid_time, insert_time, 
      update_time, object_type, evaluation_amount_visiable, 
      publish_time)
    values (#{objectId,jdbcType=VARCHAR}, #{biddeeId,jdbcType=INTEGER}, #{objectNo,jdbcType=VARCHAR}, 
      #{objectName,jdbcType=VARCHAR}, #{objectAmount,jdbcType=BIGINT}, #{objectPublishType,jdbcType=VARCHAR}, 
      #{objectStatus,jdbcType=VARCHAR}, #{winBidAmount,jdbcType=BIGINT}, #{winBidderId,jdbcType=INTEGER}, 
      #{industryId,jdbcType=VARCHAR}, #{sectorId,jdbcType=VARCHAR}, #{province,jdbcType=INTEGER}, 
      #{district,jdbcType=INTEGER}, #{biddeeCompanyPrincipal,jdbcType=VARCHAR}, #{biddeeCompanyTelephone,jdbcType=VARCHAR}, 
      #{bidOpenDate,jdbcType=DATE}, #{contractType,jdbcType=VARCHAR}, #{currency,jdbcType=VARCHAR}, 
      #{bidBondAmount,jdbcType=BIGINT}, #{needBusinessStandard,jdbcType=VARCHAR}, #{needTechnicalStandard,jdbcType=VARCHAR}, 
      #{needCertificationCheckupFile,jdbcType=VARCHAR}, #{needPmCertification,jdbcType=VARCHAR}, 
      #{needConstructorCertification,jdbcType=VARCHAR}, #{needSafetyPermit,jdbcType=VARCHAR}, 
      #{needPmSafetyCertification,jdbcType=VARCHAR}, #{evaluationAmount,jdbcType=BIGINT}, 
      #{objectScope,jdbcType=VARCHAR}, #{winBidTime,jdbcType=TIMESTAMP}, #{insertTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{objectType,jdbcType=VARCHAR}, #{evaluationAmountVisiable,jdbcType=VARCHAR}, 
      #{publishTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hummingbird.paas.entity.BidObject" >
    insert into t_ztgl_object
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="objectId != null" >
        object_id,
      </if>
      <if test="biddeeId != null" >
        biddee_id,
      </if>
      <if test="objectNo != null" >
        object_no,
      </if>
      <if test="objectName != null" >
        object_name,
      </if>
      <if test="objectAmount != null" >
        object_amount,
      </if>
      <if test="objectPublishType != null" >
        object_publish_type,
      </if>
      <if test="objectStatus != null" >
        object_status,
      </if>
      <if test="winBidAmount != null" >
        win_bid_amount,
      </if>
      <if test="winBidderId != null" >
        win_bidder_id,
      </if>
      <if test="industryId != null" >
        industry_id,
      </if>
      <if test="sectorId != null" >
        sector_id,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="district != null" >
        district,
      </if>
      <if test="biddeeCompanyPrincipal != null" >
        biddee_company_principal,
      </if>
      <if test="biddeeCompanyTelephone != null" >
        biddee_company_telephone,
      </if>
      <if test="bidOpenDate != null" >
        bid_open_date,
      </if>
      <if test="contractType != null" >
        contract_type,
      </if>
      <if test="currency != null" >
        currency,
      </if>
      <if test="bidBondAmount != null" >
        bid_bond_amount,
      </if>
      <if test="needBusinessStandard != null" >
        need_business_standard,
      </if>
      <if test="needTechnicalStandard != null" >
        need_technical_standard,
      </if>
      <if test="needCertificationCheckupFile != null" >
        need_certification_checkup_file,
      </if>
      <if test="needPmCertification != null" >
        need_pm_certification,
      </if>
      <if test="needConstructorCertification != null" >
        need_constructor_certification,
      </if>
      <if test="needSafetyPermit != null" >
        need_safety_permit,
      </if>
      <if test="needPmSafetyCertification != null" >
        need_pm_safety_certification,
      </if>
      <if test="evaluationAmount != null" >
        evaluation_amount,
      </if>
      <if test="objectScope != null" >
        object_scope,
      </if>
      <if test="winBidTime != null" >
        win_bid_time,
      </if>
      <if test="insertTime != null" >
        insert_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="objectType != null" >
        object_type,
      </if>
      <if test="evaluationAmountVisiable != null" >
        evaluation_amount_visiable,
      </if>
      <if test="publishTime != null" >
        publish_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="objectId != null" >
        #{objectId,jdbcType=VARCHAR},
      </if>
      <if test="biddeeId != null" >
        #{biddeeId,jdbcType=INTEGER},
      </if>
      <if test="objectNo != null" >
        #{objectNo,jdbcType=VARCHAR},
      </if>
      <if test="objectName != null" >
        #{objectName,jdbcType=VARCHAR},
      </if>
      <if test="objectAmount != null" >
        #{objectAmount,jdbcType=BIGINT},
      </if>
      <if test="objectPublishType != null" >
        #{objectPublishType,jdbcType=VARCHAR},
      </if>
      <if test="objectStatus != null" >
        #{objectStatus,jdbcType=VARCHAR},
      </if>
      <if test="winBidAmount != null" >
        #{winBidAmount,jdbcType=BIGINT},
      </if>
      <if test="winBidderId != null" >
        #{winBidderId,jdbcType=INTEGER},
      </if>
      <if test="industryId != null" >
        #{industryId,jdbcType=VARCHAR},
      </if>
      <if test="sectorId != null" >
        #{sectorId,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=INTEGER},
      </if>
      <if test="district != null" >
        #{district,jdbcType=INTEGER},
      </if>
      <if test="biddeeCompanyPrincipal != null" >
        #{biddeeCompanyPrincipal,jdbcType=VARCHAR},
      </if>
      <if test="biddeeCompanyTelephone != null" >
        #{biddeeCompanyTelephone,jdbcType=VARCHAR},
      </if>
      <if test="bidOpenDate != null" >
        #{bidOpenDate,jdbcType=DATE},
      </if>
      <if test="contractType != null" >
        #{contractType,jdbcType=VARCHAR},
      </if>
      <if test="currency != null" >
        #{currency,jdbcType=VARCHAR},
      </if>
      <if test="bidBondAmount != null" >
        #{bidBondAmount,jdbcType=BIGINT},
      </if>
      <if test="needBusinessStandard != null" >
        #{needBusinessStandard,jdbcType=VARCHAR},
      </if>
      <if test="needTechnicalStandard != null" >
        #{needTechnicalStandard,jdbcType=VARCHAR},
      </if>
      <if test="needCertificationCheckupFile != null" >
        #{needCertificationCheckupFile,jdbcType=VARCHAR},
      </if>
      <if test="needPmCertification != null" >
        #{needPmCertification,jdbcType=VARCHAR},
      </if>
      <if test="needConstructorCertification != null" >
        #{needConstructorCertification,jdbcType=VARCHAR},
      </if>
      <if test="needSafetyPermit != null" >
        #{needSafetyPermit,jdbcType=VARCHAR},
      </if>
      <if test="needPmSafetyCertification != null" >
        #{needPmSafetyCertification,jdbcType=VARCHAR},
      </if>
      <if test="evaluationAmount != null" >
        #{evaluationAmount,jdbcType=BIGINT},
      </if>
      <if test="objectScope != null" >
        #{objectScope,jdbcType=VARCHAR},
      </if>
      <if test="winBidTime != null" >
        #{winBidTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insertTime != null" >
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="objectType != null" >
        #{objectType,jdbcType=VARCHAR},
      </if>
      <if test="evaluationAmountVisiable != null" >
        #{evaluationAmountVisiable,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null" >
        #{publishTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hummingbird.paas.entity.BidObject" >
    update t_ztgl_object
    <set >
      <if test="biddeeId != null" >
        biddee_id = #{biddeeId,jdbcType=INTEGER},
      </if>
      <if test="objectNo != null" >
        object_no = #{objectNo,jdbcType=VARCHAR},
      </if>
      <if test="objectName != null" >
        object_name = #{objectName,jdbcType=VARCHAR},
      </if>
      <if test="objectAmount != null" >
        object_amount = #{objectAmount,jdbcType=BIGINT},
      </if>
      <if test="objectPublishType != null" >
        object_publish_type = #{objectPublishType,jdbcType=VARCHAR},
      </if>
      <if test="objectStatus != null" >
        object_status = #{objectStatus,jdbcType=VARCHAR},
      </if>
      <if test="winBidAmount != null" >
        win_bid_amount = #{winBidAmount,jdbcType=BIGINT},
      </if>
      <if test="winBidderId != null" >
        win_bidder_id = #{winBidderId,jdbcType=INTEGER},
      </if>
      <if test="industryId != null" >
        industry_id = #{industryId,jdbcType=VARCHAR},
      </if>
      <if test="sectorId != null" >
        sector_id = #{sectorId,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=INTEGER},
      </if>
      <if test="district != null" >
        district = #{district,jdbcType=INTEGER},
      </if>
      <if test="biddeeCompanyPrincipal != null" >
        biddee_company_principal = #{biddeeCompanyPrincipal,jdbcType=VARCHAR},
      </if>
      <if test="biddeeCompanyTelephone != null" >
        biddee_company_telephone = #{biddeeCompanyTelephone,jdbcType=VARCHAR},
      </if>
      <if test="bidOpenDate != null" >
        bid_open_date = #{bidOpenDate,jdbcType=DATE},
      </if>
      <if test="contractType != null" >
        contract_type = #{contractType,jdbcType=VARCHAR},
      </if>
      <if test="currency != null" >
        currency = #{currency,jdbcType=VARCHAR},
      </if>
      <if test="bidBondAmount != null" >
        bid_bond_amount = #{bidBondAmount,jdbcType=BIGINT},
      </if>
      <if test="needBusinessStandard != null" >
        need_business_standard = #{needBusinessStandard,jdbcType=VARCHAR},
      </if>
      <if test="needTechnicalStandard != null" >
        need_technical_standard = #{needTechnicalStandard,jdbcType=VARCHAR},
      </if>
      <if test="needCertificationCheckupFile != null" >
        need_certification_checkup_file = #{needCertificationCheckupFile,jdbcType=VARCHAR},
      </if>
      <if test="needPmCertification != null" >
        need_pm_certification = #{needPmCertification,jdbcType=VARCHAR},
      </if>
      <if test="needConstructorCertification != null" >
        need_constructor_certification = #{needConstructorCertification,jdbcType=VARCHAR},
      </if>
      <if test="needSafetyPermit != null" >
        need_safety_permit = #{needSafetyPermit,jdbcType=VARCHAR},
      </if>
      <if test="needPmSafetyCertification != null" >
        need_pm_safety_certification = #{needPmSafetyCertification,jdbcType=VARCHAR},
      </if>
      <if test="evaluationAmount != null" >
        evaluation_amount = #{evaluationAmount,jdbcType=BIGINT},
      </if>
      <if test="objectScope != null" >
        object_scope = #{objectScope,jdbcType=VARCHAR},
      </if>
      <if test="winBidTime != null" >
        win_bid_time = #{winBidTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insertTime != null" >
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="objectType != null" >
        object_type = #{objectType,jdbcType=VARCHAR},
      </if>
      <if test="evaluationAmountVisiable != null" >
        evaluation_amount_visiable = #{evaluationAmountVisiable,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null" >
        publish_time = #{publishTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where object_id = #{objectId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hummingbird.paas.entity.BidObject" >
    update t_ztgl_object
    set biddee_id = #{biddeeId,jdbcType=INTEGER},
      object_no = #{objectNo,jdbcType=VARCHAR},
      object_name = #{objectName,jdbcType=VARCHAR},
      object_amount = #{objectAmount,jdbcType=BIGINT},
      object_publish_type = #{objectPublishType,jdbcType=VARCHAR},
      object_status = #{objectStatus,jdbcType=VARCHAR},
      win_bid_amount = #{winBidAmount,jdbcType=BIGINT},
      win_bidder_id = #{winBidderId,jdbcType=INTEGER},
      industry_id = #{industryId,jdbcType=VARCHAR},
      sector_id = #{sectorId,jdbcType=VARCHAR},
      province = #{province,jdbcType=INTEGER},
      district = #{district,jdbcType=INTEGER},
      biddee_company_principal = #{biddeeCompanyPrincipal,jdbcType=VARCHAR},
      biddee_company_telephone = #{biddeeCompanyTelephone,jdbcType=VARCHAR},
      bid_open_date = #{bidOpenDate,jdbcType=DATE},
      contract_type = #{contractType,jdbcType=VARCHAR},
      currency = #{currency,jdbcType=VARCHAR},
      bid_bond_amount = #{bidBondAmount,jdbcType=BIGINT},
      need_business_standard = #{needBusinessStandard,jdbcType=VARCHAR},
      need_technical_standard = #{needTechnicalStandard,jdbcType=VARCHAR},
      need_certification_checkup_file = #{needCertificationCheckupFile,jdbcType=VARCHAR},
      need_pm_certification = #{needPmCertification,jdbcType=VARCHAR},
      need_constructor_certification = #{needConstructorCertification,jdbcType=VARCHAR},
      need_safety_permit = #{needSafetyPermit,jdbcType=VARCHAR},
      need_pm_safety_certification = #{needPmSafetyCertification,jdbcType=VARCHAR},
      evaluation_amount = #{evaluationAmount,jdbcType=BIGINT},
      object_scope = #{objectScope,jdbcType=VARCHAR},
      win_bid_time = #{winBidTime,jdbcType=TIMESTAMP},
      insert_time = #{insertTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      object_type = #{objectType,jdbcType=VARCHAR},
      evaluation_amount_visiable = #{evaluationAmountVisiable,jdbcType=VARCHAR},
      publish_time = #{publishTime,jdbcType=TIMESTAMP}
    where object_id = #{objectId,jdbcType=VARCHAR}
  </update>
  <select id="selectTenderNumbyBiddeeId" resultType="int">
    select count(a.object_id)  from t_ztgl_object a 
        where a.object_status !='CRT' and a.biddee_id=#{biddeeId,jdbcType=INTEGER}
    </select>
    <select id="selectBidNumbyBiddeeId" resultType="int">
     select count(a.object_id)  from t_ztgl_bid_record a 
     where a.bidder_id =#{biddeeId,jdbcType=INTEGER}
    </select>
    <select id="selectFlowNumbyBiddeeId" resultType="int">
    select count(a.object_id)  from t_ztgl_object a 
        where a.object_status ='FLS' and a.biddee_id=#{biddeeId,jdbcType=INTEGER}
    </select>
     <select id="selectWinNumbyBiddeeId" resultType="int">
    select count(a.object_id)  from t_ztgl_object a 
        where a.object_status ='SEL' or a.object_status ='END'  and a.biddee_id=#{biddeeId,jdbcType=INTEGER}
    </select>
    
    <select id="selectTenderNumbyBidderId" resultType="int">
    select count(a.object_id)  from t_ztgl_object a 
        where a.object_status !='CRT' and a.biddee_id=#{bidderId,jdbcType=INTEGER}
    </select>
    <select id="selectBidNumbyBidderId" resultType="int">
    select count(a.object_id)  from t_ztgl_bid_record a 
     where a.bidder_id =#{bidderId,jdbcType=INTEGER}
    </select>
    <select id="selectFlowNumbyBidderId" resultType="int">
    select count(a.object_id)  from t_ztgl_object a 
        where a.object_status ='FLS' and a.biddee_id=#{bidderId,jdbcType=INTEGER}
    </select>
     <select id="selectWinNumbyBidderId" resultType="int">
     select count(a.object_id)  from t_ztgl_bid_record a 
     where a.bidder_id =#{bidderId,jdbcType=INTEGER} and a.bid_status = 'win' and a.status !='FLS'
    </select>
    
     <select id="selectTotalTjIndexObjectList" resultType="int">
    select count(a.object_id) from t_ztgl_object a  inner JOIN t_ztgl_object_project_info b ON a.object_id = b.object_id inner JOIN t_qyzz_biddee c on c.id = a.biddee_id  INNER JOIN t_tjnr_object_recommend f on a.object_id = f.object_id  LEFT JOIN t_xyjf_biddee_bid_credit_score d on d.object_id = a.object_id 
      LEFT JOIN t_xyjf_score_level e on (d.score &gt;e.min_score and d.score &lt;e.max_score)
       where a.object_status != 'CRT'
     
  </select>
  <select id="selectTjIndexObjectList" resultMap="IndexObjectListResultMap">
     select a.object_id,a.object_name,a.evaluation_amount,e.level_name,c.company_name,b.project_expect_period,b.project_expect_start_date from t_ztgl_object a  inner JOIN t_ztgl_object_project_info b ON a.object_id = b.object_id inner JOIN t_qyzz_biddee c on c.id = a.biddee_id INNER JOIN t_tjnr_object_recommend f on a.object_id = f.object_id  LEFT JOIN t_xyjf_biddee_bid_credit_score d on d.object_id = a.object_id 
      LEFT JOIN t_xyjf_score_level e on (d.score &gt;e.min_score and d.score &lt;e.max_score)
      where a.object_status != 'CRT' ORDER BY f.sort_no asc
       <if test="page != null" >
    limit #{page.firstResult,jdbcType=DECIMAL}  ,#{page.pageSize,jdbcType=DECIMAL}
    </if> 
  </select>
</mapper>