<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hummingbird.paas.mapper.BidRecordMapper" >
  <resultMap id="BaseResultMap" type="com.hummingbird.paas.entity.BidRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="object_id" property="objectId" jdbcType="VARCHAR" />
    <result column="bidder_id" property="bidderId" jdbcType="INTEGER" />
    <result column="bid_amount" property="bidAmount" jdbcType="BIGINT" />
    <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="audit_time" property="auditTime" jdbcType="TIMESTAMP" />
    <result column="audit_status" property="auditStatus" jdbcType="VARCHAR" />
    <result column="auditor" property="auditor" jdbcType="INTEGER" />
    <result column="bid_status" property="bidStatus" jdbcType="VARCHAR" />
    <result column="project_start_time" property="projectStartTime" jdbcType="DATE" />
    <result column="project_description" property="projectDescription" jdbcType="VARCHAR" />
    <result column="project_end_time" property="projectEndTime" jdbcType="DATE" />
    <result column="pm_certification_No" property="pmCertificationNo" jdbcType="VARCHAR" />
    <result column="constructor_certification_No" property="constructorCertificationNo" jdbcType="VARCHAR" />
    <result column="safety_permit_No" property="safetyPermitNo" jdbcType="VARCHAR" />
    <result column="pm_safety_certification_No" property="pmSafetyCertificationNo" jdbcType="VARCHAR" />
    <result column="pm_certification_url" property="pmCertificationUrl" jdbcType="VARCHAR" />
    <result column="constructor_certification_url" property="constructorCertificationUrl" jdbcType="VARCHAR" />
    <result column="safety_permit_url" property="safetyPermitUrl" jdbcType="VARCHAR" />
    <result column="pm_safety_certification_url" property="pmSafetyCertificationUrl" jdbcType="VARCHAR" />
    <result column="pm_certification_endtime" property="pmCertificationEndtime" jdbcType="DATE" />
    <result column="constructor_certification_endtime" property="constructorCertificationEndtime" jdbcType="DATE" />
    <result column="safety_permit_endtime" property="safetyPermitEndtime" jdbcType="DATE" />
    <result column="pm_safety_certification_endtime" property="pmSafetyCertificationEndtime" jdbcType="DATE" />
    <result column="bank_guarantee_No" property="bankGuaranteeNo" jdbcType="VARCHAR" />
    <result column="bank_guarantee_url" property="bankGuaranteeUrl" jdbcType="VARCHAR" />
    <result column="bank_guarantee_amount" property="bankGuaranteeAmount" jdbcType="BIGINT" />
    <result column="project_quotation_url" property="projectQuotationUrl" jdbcType="VARCHAR" />
    <result column="construction_commitment_url" property="constructionCommitmentUrl" jdbcType="VARCHAR" />
    <result column="construction_end_date" property="constructionEndDate" jdbcType="VARCHAR" />
    <result column="construction_start_date" property="constructionStartDate" jdbcType="VARCHAR" />
    <result column="technical_standard_url" property="technicalStandardUrl" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="TenderMyObjectBidResultMap" type="com.hummingbird.paas.vo.TenderMyObjectBidReturnVO" >
    <id column="id" property="bidId" jdbcType="INTEGER" />
    <result column="company_name" property="bidderCompanyName" jdbcType="VARCHAR" />
    <result column="bidder_id" property="bidderId" jdbcType="VARCHAR" />
    <result column="insert_time" property="bidTime" jdbcType="TIMESTAMP" />
   
    <result column="bid_amount" property="bidAmount" jdbcType="BIGINT" />
    <result column="project_expect_start_date" property="projectExpectStartDate" jdbcType="TIMESTAMP" />
    <result column="project_expect_end_date" property="projectExpectEndDate" jdbcType="TIMESTAMP" />
     <result column="project_expect_period" property="projectExpectPeriod" jdbcType="VARCHAR" />
    <result column="attachment_url" property="fileUrl" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="TenderSurveyResultMap" type="com.hummingbird.paas.vo.TenderSurveyReturnVO" >
    <result column="bidderNum" property="bidderNum" jdbcType="INTEGER" />
    <result column="maxBidAmount" property="maxBidAmount" jdbcType="BIGINT" />
    <result column="minBidAmount" property="minBidAmount" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, object_id, bidder_id, bid_amount, insert_time, status, audit_time, audit_status, 
    auditor, bid_status, project_start_time, project_description, project_end_time, pm_certification_No, 
    constructor_certification_No, safety_permit_No, pm_safety_certification_No, pm_certification_url, 
    constructor_certification_url, safety_permit_url, pm_safety_certification_url, pm_certification_endtime, 
    constructor_certification_endtime, safety_permit_endtime, pm_safety_certification_endtime, 
    bank_guarantee_No, bank_guarantee_url, bank_guarantee_amount, project_quotation_url, 
    construction_commitment_url, construction_end_date, construction_start_date, technical_standard_url
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_ztgl_bid_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectUnfinishedBid" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from t_ztgl_bid_record
    where object_id = #{objectId,jdbcType=VARCHAR}  and bidder_id = #{bidderId,jdbcType=INTEGER} and status='CRT'
  </select>
   <select id="selectByObjectIdAndBidderId" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from t_ztgl_bid_record
    where object_id = #{object_id,jdbcType=VARCHAR}  and bidder_id = #{bidder_id,jdbcType=INTEGER}
  </select>
   <select id="selectByObjectId" resultMap="BaseResultMap" parameterType="java.lang.String">
    select 
    <include refid="Base_Column_List" />
    from t_ztgl_bid_record
    where object_id = #{object_id,jdbcType=VARCHAR} 
  </select>
  <select id="selectTenderSurvey2selectByObjectId" resultMap="TenderSurveyResultMap"  parameterType="java.lang.String">
    select b.object_name objectName,count(a.id) bidderNum,max(a.bid_amount) maxBidAmount,min(a.bid_amount) minBidAmount  from t_ztgl_bid_record a inner JOIN t_ztgl_object b on a.object_id = b.object_id  
         where b.object_id = #{object_id,jdbcType=VARCHAR}
  </select>
  <select id="selectCountByObjectId" resultType="java.lang.Integer" parameterType="java.lang.String" >
    select count(1) 
    from t_ztgl_bid_record
    where object_id = #{objectId,jdbcType=VARCHAR}
    and status = 'OK#'
  </select>
  <select id="selectTenderSurveyByObjectId" resultMap="TenderSurveyResultMap" parameterType="java.lang.String" >
    select count(*) bidderNum,max(bid_amount)*100 maxBidAmount,min(bid_amount)*100 minBidAmount
    from t_ztgl_bid_record
    where object_id = #{objectId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_ztgl_bid_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hummingbird.paas.entity.BidRecord" useGeneratedKeys="true" keyProperty="id">
    insert into t_ztgl_bid_record (id, object_id, bidder_id, 
      bid_amount, insert_time, status, 
      audit_time, audit_status, auditor, 
      bid_status, project_start_time, project_description, 
      project_end_time, pm_certification_No, constructor_certification_No, 
      safety_permit_No, pm_safety_certification_No, 
      pm_certification_url, constructor_certification_url, 
      safety_permit_url, pm_safety_certification_url, 
      pm_certification_endtime, constructor_certification_endtime, 
      safety_permit_endtime, pm_safety_certification_endtime, 
      bank_guarantee_No, bank_guarantee_url, bank_guarantee_amount, 
      project_quotation_url, construction_commitment_url, 
      construction_end_date, construction_start_date, 
      technical_standard_url)
    values (#{id,jdbcType=INTEGER}, #{objectId,jdbcType=VARCHAR}, #{bidderId,jdbcType=INTEGER}, 
      #{bidAmount,jdbcType=BIGINT}, #{insertTime,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR}, 
      #{auditTime,jdbcType=TIMESTAMP}, #{auditStatus,jdbcType=VARCHAR}, #{auditor,jdbcType=INTEGER}, 
      #{bidStatus,jdbcType=VARCHAR}, #{projectStartTime,jdbcType=DATE}, #{projectDescription,jdbcType=VARCHAR}, 
      #{projectEndTime,jdbcType=DATE}, #{pmCertificationNo,jdbcType=VARCHAR}, #{constructorCertificationNo,jdbcType=VARCHAR}, 
      #{safetyPermitNo,jdbcType=VARCHAR}, #{pmSafetyCertificationNo,jdbcType=VARCHAR}, 
      #{pmCertificationUrl,jdbcType=VARCHAR}, #{constructorCertificationUrl,jdbcType=VARCHAR}, 
      #{safetyPermitUrl,jdbcType=VARCHAR}, #{pmSafetyCertificationUrl,jdbcType=VARCHAR}, 
      #{pmCertificationEndtime,jdbcType=DATE}, #{constructorCertificationEndtime,jdbcType=DATE}, 
      #{safetyPermitEndtime,jdbcType=DATE}, #{pmSafetyCertificationEndtime,jdbcType=DATE}, 
      #{bankGuaranteeNo,jdbcType=VARCHAR}, #{bankGuaranteeUrl,jdbcType=VARCHAR}, #{bankGuaranteeAmount,jdbcType=BIGINT}, 
      #{projectQuotationUrl,jdbcType=VARCHAR}, #{constructionCommitmentUrl,jdbcType=VARCHAR}, 
      #{constructionEndDate,jdbcType=VARCHAR}, #{constructionStartDate,jdbcType=VARCHAR}, 
      #{technicalStandardUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hummingbird.paas.entity.BidRecord"  useGeneratedKeys="true" keyProperty="id">
    insert into t_ztgl_bid_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="objectId != null" >
        object_id,
      </if>
      <if test="bidderId != null" >
        bidder_id,
      </if>
      <if test="bidAmount != null" >
        bid_amount,
      </if>
      <if test="insertTime != null" >
        insert_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="auditTime != null" >
        audit_time,
      </if>
      <if test="auditStatus != null" >
        audit_status,
      </if>
      <if test="auditor != null" >
        auditor,
      </if>
      <if test="bidStatus != null" >
        bid_status,
      </if>
      <if test="projectStartTime != null" >
        project_start_time,
      </if>
      <if test="projectDescription != null" >
        project_description,
      </if>
      <if test="projectEndTime != null" >
        project_end_time,
      </if>
      <if test="pmCertificationNo != null" >
        pm_certification_No,
      </if>
      <if test="constructorCertificationNo != null" >
        constructor_certification_No,
      </if>
      <if test="safetyPermitNo != null" >
        safety_permit_No,
      </if>
      <if test="pmSafetyCertificationNo != null" >
        pm_safety_certification_No,
      </if>
      <if test="pmCertificationUrl != null" >
        pm_certification_url,
      </if>
      <if test="constructorCertificationUrl != null" >
        constructor_certification_url,
      </if>
      <if test="safetyPermitUrl != null" >
        safety_permit_url,
      </if>
      <if test="pmSafetyCertificationUrl != null" >
        pm_safety_certification_url,
      </if>
      <if test="pmCertificationEndtime != null" >
        pm_certification_endtime,
      </if>
      <if test="constructorCertificationEndtime != null" >
        constructor_certification_endtime,
      </if>
      <if test="safetyPermitEndtime != null" >
        safety_permit_endtime,
      </if>
      <if test="pmSafetyCertificationEndtime != null" >
        pm_safety_certification_endtime,
      </if>
      <if test="bankGuaranteeNo != null" >
        bank_guarantee_No,
      </if>
      <if test="bankGuaranteeUrl != null" >
        bank_guarantee_url,
      </if>
      <if test="bankGuaranteeAmount != null" >
        bank_guarantee_amount,
      </if>
      <if test="projectQuotationUrl != null" >
        project_quotation_url,
      </if>
      <if test="constructionCommitmentUrl != null" >
        construction_commitment_url,
      </if>
      <if test="constructionEndDate != null" >
        construction_end_date,
      </if>
      <if test="constructionStartDate != null" >
        construction_start_date,
      </if>
      <if test="technicalStandardUrl != null" >
        technical_standard_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="objectId != null" >
        #{objectId,jdbcType=VARCHAR},
      </if>
      <if test="bidderId != null" >
        #{bidderId,jdbcType=INTEGER},
      </if>
      <if test="bidAmount != null" >
        #{bidAmount,jdbcType=BIGINT},
      </if>
      <if test="insertTime != null" >
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null" >
        #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditStatus != null" >
        #{auditStatus,jdbcType=VARCHAR},
      </if>
      <if test="auditor != null" >
        #{auditor,jdbcType=INTEGER},
      </if>
      <if test="bidStatus != null" >
        #{bidStatus,jdbcType=VARCHAR},
      </if>
      <if test="projectStartTime != null" >
        #{projectStartTime,jdbcType=DATE},
      </if>
      <if test="projectDescription != null" >
        #{projectDescription,jdbcType=VARCHAR},
      </if>
      <if test="projectEndTime != null" >
        #{projectEndTime,jdbcType=DATE},
      </if>
      <if test="pmCertificationNo != null" >
        #{pmCertificationNo,jdbcType=VARCHAR},
      </if>
      <if test="constructorCertificationNo != null" >
        #{constructorCertificationNo,jdbcType=VARCHAR},
      </if>
      <if test="safetyPermitNo != null" >
        #{safetyPermitNo,jdbcType=VARCHAR},
      </if>
      <if test="pmSafetyCertificationNo != null" >
        #{pmSafetyCertificationNo,jdbcType=VARCHAR},
      </if>
      <if test="pmCertificationUrl != null" >
        #{pmCertificationUrl,jdbcType=VARCHAR},
      </if>
      <if test="constructorCertificationUrl != null" >
        #{constructorCertificationUrl,jdbcType=VARCHAR},
      </if>
      <if test="safetyPermitUrl != null" >
        #{safetyPermitUrl,jdbcType=VARCHAR},
      </if>
      <if test="pmSafetyCertificationUrl != null" >
        #{pmSafetyCertificationUrl,jdbcType=VARCHAR},
      </if>
      <if test="pmCertificationEndtime != null" >
        #{pmCertificationEndtime,jdbcType=DATE},
      </if>
      <if test="constructorCertificationEndtime != null" >
        #{constructorCertificationEndtime,jdbcType=DATE},
      </if>
      <if test="safetyPermitEndtime != null" >
        #{safetyPermitEndtime,jdbcType=DATE},
      </if>
      <if test="pmSafetyCertificationEndtime != null" >
        #{pmSafetyCertificationEndtime,jdbcType=DATE},
      </if>
      <if test="bankGuaranteeNo != null" >
        #{bankGuaranteeNo,jdbcType=VARCHAR},
      </if>
      <if test="bankGuaranteeUrl != null" >
        #{bankGuaranteeUrl,jdbcType=VARCHAR},
      </if>
      <if test="bankGuaranteeAmount != null" >
        #{bankGuaranteeAmount,jdbcType=BIGINT},
      </if>
      <if test="projectQuotationUrl != null" >
        #{projectQuotationUrl,jdbcType=VARCHAR},
      </if>
      <if test="constructionCommitmentUrl != null" >
        #{constructionCommitmentUrl,jdbcType=VARCHAR},
      </if>
      <if test="constructionEndDate != null" >
        #{constructionEndDate,jdbcType=VARCHAR},
      </if>
      <if test="constructionStartDate != null" >
        #{constructionStartDate,jdbcType=VARCHAR},
      </if>
      <if test="technicalStandardUrl != null" >
        #{technicalStandardUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hummingbird.paas.entity.BidRecord" >
    update t_ztgl_bid_record
    <set >
      <if test="objectId != null" >
        object_id = #{objectId,jdbcType=VARCHAR},
      </if>
      <if test="bidderId != null" >
        bidder_id = #{bidderId,jdbcType=INTEGER},
      </if>
      <if test="bidAmount != null" >
        bid_amount = #{bidAmount,jdbcType=BIGINT},
      </if>
      <if test="insertTime != null" >
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null" >
        audit_time = #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditStatus != null" >
        audit_status = #{auditStatus,jdbcType=VARCHAR},
      </if>
      <if test="auditor != null" >
        auditor = #{auditor,jdbcType=INTEGER},
      </if>
      <if test="bidStatus != null" >
        bid_status = #{bidStatus,jdbcType=VARCHAR},
      </if>
      <if test="projectStartTime != null" >
        project_start_time = #{projectStartTime,jdbcType=DATE},
      </if>
      <if test="projectDescription != null" >
        project_description = #{projectDescription,jdbcType=VARCHAR},
      </if>
      <if test="projectEndTime != null" >
        project_end_time = #{projectEndTime,jdbcType=DATE},
      </if>
      <if test="pmCertificationNo != null" >
        pm_certification_No = #{pmCertificationNo,jdbcType=VARCHAR},
      </if>
      <if test="constructorCertificationNo != null" >
        constructor_certification_No = #{constructorCertificationNo,jdbcType=VARCHAR},
      </if>
      <if test="safetyPermitNo != null" >
        safety_permit_No = #{safetyPermitNo,jdbcType=VARCHAR},
      </if>
      <if test="pmSafetyCertificationNo != null" >
        pm_safety_certification_No = #{pmSafetyCertificationNo,jdbcType=VARCHAR},
      </if>
      <if test="pmCertificationUrl != null" >
        pm_certification_url = #{pmCertificationUrl,jdbcType=VARCHAR},
      </if>
      <if test="constructorCertificationUrl != null" >
        constructor_certification_url = #{constructorCertificationUrl,jdbcType=VARCHAR},
      </if>
      <if test="safetyPermitUrl != null" >
        safety_permit_url = #{safetyPermitUrl,jdbcType=VARCHAR},
      </if>
      <if test="pmSafetyCertificationUrl != null" >
        pm_safety_certification_url = #{pmSafetyCertificationUrl,jdbcType=VARCHAR},
      </if>
      <if test="pmCertificationEndtime != null" >
        pm_certification_endtime = #{pmCertificationEndtime,jdbcType=DATE},
      </if>
      <if test="constructorCertificationEndtime != null" >
        constructor_certification_endtime = #{constructorCertificationEndtime,jdbcType=DATE},
      </if>
      <if test="safetyPermitEndtime != null" >
        safety_permit_endtime = #{safetyPermitEndtime,jdbcType=DATE},
      </if>
      <if test="pmSafetyCertificationEndtime != null" >
        pm_safety_certification_endtime = #{pmSafetyCertificationEndtime,jdbcType=DATE},
      </if>
      <if test="bankGuaranteeNo != null" >
        bank_guarantee_No = #{bankGuaranteeNo,jdbcType=VARCHAR},
      </if>
      <if test="bankGuaranteeUrl != null" >
        bank_guarantee_url = #{bankGuaranteeUrl,jdbcType=VARCHAR},
      </if>
      <if test="bankGuaranteeAmount != null" >
        bank_guarantee_amount = #{bankGuaranteeAmount,jdbcType=BIGINT},
      </if>
      <if test="projectQuotationUrl != null" >
        project_quotation_url = #{projectQuotationUrl,jdbcType=VARCHAR},
      </if>
      <if test="constructionCommitmentUrl != null" >
        construction_commitment_url = #{constructionCommitmentUrl,jdbcType=VARCHAR},
      </if>
      <if test="constructionEndDate != null" >
        construction_end_date = #{constructionEndDate,jdbcType=VARCHAR},
      </if>
      <if test="constructionStartDate != null" >
        construction_start_date = #{constructionStartDate,jdbcType=VARCHAR},
      </if>
      <if test="technicalStandardUrl != null" >
        technical_standard_url = #{technicalStandardUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hummingbird.paas.entity.BidRecord" >
    update t_ztgl_bid_record
    set object_id = #{objectId,jdbcType=VARCHAR},
      bidder_id = #{bidderId,jdbcType=INTEGER},
      bid_amount = #{bidAmount,jdbcType=BIGINT},
      insert_time = #{insertTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR},
      audit_time = #{auditTime,jdbcType=TIMESTAMP},
      audit_status = #{auditStatus,jdbcType=VARCHAR},
      auditor = #{auditor,jdbcType=INTEGER},
      bid_status = #{bidStatus,jdbcType=VARCHAR},
      project_start_time = #{projectStartTime,jdbcType=DATE},
      project_description = #{projectDescription,jdbcType=VARCHAR},
      project_end_time = #{projectEndTime,jdbcType=DATE},
      pm_certification_No = #{pmCertificationNo,jdbcType=VARCHAR},
      constructor_certification_No = #{constructorCertificationNo,jdbcType=VARCHAR},
      safety_permit_No = #{safetyPermitNo,jdbcType=VARCHAR},
      pm_safety_certification_No = #{pmSafetyCertificationNo,jdbcType=VARCHAR},
      pm_certification_url = #{pmCertificationUrl,jdbcType=VARCHAR},
      constructor_certification_url = #{constructorCertificationUrl,jdbcType=VARCHAR},
      safety_permit_url = #{safetyPermitUrl,jdbcType=VARCHAR},
      pm_safety_certification_url = #{pmSafetyCertificationUrl,jdbcType=VARCHAR},
      pm_certification_endtime = #{pmCertificationEndtime,jdbcType=DATE},
      constructor_certification_endtime = #{constructorCertificationEndtime,jdbcType=DATE},
      safety_permit_endtime = #{safetyPermitEndtime,jdbcType=DATE},
      pm_safety_certification_endtime = #{pmSafetyCertificationEndtime,jdbcType=DATE},
      bank_guarantee_No = #{bankGuaranteeNo,jdbcType=VARCHAR},
      bank_guarantee_url = #{bankGuaranteeUrl,jdbcType=VARCHAR},
      bank_guarantee_amount = #{bankGuaranteeAmount,jdbcType=BIGINT},
      project_quotation_url = #{projectQuotationUrl,jdbcType=VARCHAR},
      construction_commitment_url = #{constructionCommitmentUrl,jdbcType=VARCHAR},
      construction_end_date = #{constructionEndDate,jdbcType=VARCHAR},
      construction_start_date = #{constructionStartDate,jdbcType=VARCHAR},
      technical_standard_url = #{technicalStandardUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="update2fail" >
    update t_ztgl_bid_record
    set bid_status ='LOS'
    where object_id = #{objectId,jdbcType=VARCHAR} and 
      bidder_id != #{bidderId,jdbcType=INTEGER}
  </update>
  <select id="selectTotalByObjectIdInValid" resultType="int"  >
    select count(*) from t_ztgl_object  a  INNER JOIN t_ztgl_bid_record b on a.object_id = b.object_id and b.status = 'OK#' 
	LEFT JOIN t_qyzz_bidder c on b.bidder_id = c.id and c.status = 'OK#'
    LEFT JOIN t_ztgl_object_project_info d on a.object_id
	LEFT JOIN  t_ztgl_bid_attachment e on b.id = e.bid_id and e.attachment_type = 'BF#'
    where  a.biddee_id = #{biddeeId}   and a.object_id =#{objectId,jdbcType=VARCHAR}
  </select>
  <select id="selectByObjectIdInValid" resultMap="TenderMyObjectBidResultMap" >
    select 
    b.id,c.company_name,b.bidder_id,b.bid_amount,b.insert_time,d.project_expect_start_date,d.project_expect_end_date,d.project_expect_period,e.attachment_url
    from t_ztgl_object  a  INNER JOIN t_ztgl_bid_record b on a.object_id = b.object_id and b.status = 'OK#' 
	LEFT JOIN t_qyzz_bidder c on b.bidder_id = c.id and c.status = 'OK#'
    LEFT JOIN t_ztgl_object_project_info d on a.object_id = d.object_id
	LEFT JOIN  t_ztgl_bid_attachment e on b.id = e.bid_id and e.attachment_type = 'BF#'
    where  a.biddee_id = #{biddeeId}   and a.object_id =#{objectId,jdbcType=VARCHAR}
    <if test="page != null" >
    limit #{page.firstResult,jdbcType=DECIMAL}  ,#{page.pageSize,jdbcType=DECIMAL}
    </if> 
  </select>
</mapper>
