<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hummingbird.paas.mapper.CertificateAuditHistoryMapper" >
  <resultMap id="BaseResultMap" type="com.hummingbird.paas.entity.CertificateAuditHistory" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="company_type" property="company_type" jdbcType="VARCHAR" />
    <result column="company_id" property="company_id" jdbcType="INTEGER" />
    <result column="apply_time" property="apply_time" jdbcType="TIMESTAMP" />
    <result column="audit_time" property="audit_time" jdbcType="TIMESTAMP" />
    <result column="audit_status" property="audit_status" jdbcType="VARCHAR" />
    <result column="auditor" property="auditor" jdbcType="VARCHAR" />
    <result column="apply_desc" property="apply_desc" jdbcType="VARCHAR" />
    <result column="audit_desc" property="audit_desc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, company_type, company_id, apply_time, audit_time, audit_status, auditor, apply_desc, 
    audit_desc
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_qyzz_certificate_audit_history
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_qyzz_certificate_audit_history
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hummingbird.paas.entity.CertificateAuditHistory" >
    insert into t_qyzz_certificate_audit_history (id, company_type, company_id, 
      apply_time, audit_time, audit_status, 
      auditor, apply_desc, audit_desc
      )
    values (#{id,jdbcType=INTEGER}, #{company_type,jdbcType=VARCHAR}, #{company_id,jdbcType=INTEGER}, 
      #{apply_time,jdbcType=TIMESTAMP}, #{audit_time,jdbcType=TIMESTAMP}, #{audit_status,jdbcType=VARCHAR}, 
      #{auditor,jdbcType=VARCHAR}, #{apply_desc,jdbcType=VARCHAR}, #{audit_desc,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hummingbird.paas.entity.CertificateAuditHistory" >
    insert into t_qyzz_certificate_audit_history
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="company_type != null" >
        company_type,
      </if>
      <if test="company_id != null" >
        company_id,
      </if>
      <if test="apply_time != null" >
        apply_time,
      </if>
      <if test="audit_time != null" >
        audit_time,
      </if>
      <if test="audit_status != null" >
        audit_status,
      </if>
      <if test="auditor != null" >
        auditor,
      </if>
      <if test="apply_desc != null" >
        apply_desc,
      </if>
      <if test="audit_desc != null" >
        audit_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="company_type != null" >
        #{company_type,jdbcType=VARCHAR},
      </if>
      <if test="company_id != null" >
        #{company_id,jdbcType=INTEGER},
      </if>
      <if test="apply_time != null" >
        #{apply_time,jdbcType=TIMESTAMP},
      </if>
      <if test="audit_time != null" >
        #{audit_time,jdbcType=TIMESTAMP},
      </if>
      <if test="audit_status != null" >
        #{audit_status,jdbcType=VARCHAR},
      </if>
      <if test="auditor != null" >
        #{auditor,jdbcType=VARCHAR},
      </if>
      <if test="apply_desc != null" >
        #{apply_desc,jdbcType=VARCHAR},
      </if>
      <if test="audit_desc != null" >
        #{audit_desc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hummingbird.paas.entity.CertificateAuditHistory" >
    update t_qyzz_certificate_audit_history
    <set >
      <if test="company_type != null" >
        company_type = #{company_type,jdbcType=VARCHAR},
      </if>
      <if test="company_id != null" >
        company_id = #{company_id,jdbcType=INTEGER},
      </if>
      <if test="apply_time != null" >
        apply_time = #{apply_time,jdbcType=TIMESTAMP},
      </if>
      <if test="audit_time != null" >
        audit_time = #{audit_time,jdbcType=TIMESTAMP},
      </if>
      <if test="audit_status != null" >
        audit_status = #{audit_status,jdbcType=VARCHAR},
      </if>
      <if test="auditor != null" >
        auditor = #{auditor,jdbcType=VARCHAR},
      </if>
      <if test="apply_desc != null" >
        apply_desc = #{apply_desc,jdbcType=VARCHAR},
      </if>
      <if test="audit_desc != null" >
        audit_desc = #{audit_desc,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hummingbird.paas.entity.CertificateAuditHistory" >
    update t_qyzz_certificate_audit_history
    set company_type = #{company_type,jdbcType=VARCHAR},
      company_id = #{company_id,jdbcType=INTEGER},
      apply_time = #{apply_time,jdbcType=TIMESTAMP},
      audit_time = #{audit_time,jdbcType=TIMESTAMP},
      audit_status = #{audit_status,jdbcType=VARCHAR},
      auditor = #{auditor,jdbcType=VARCHAR},
      apply_desc = #{apply_desc,jdbcType=VARCHAR},
      audit_desc = #{audit_desc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>