<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hummingbird.paas.mapper.CreditScoreHistoryMapper" >
  <resultMap id="BaseResultMap" type="com.hummingbird.paas.entity.CreditScoreHistory" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="company_type" property="companyType" jdbcType="VARCHAR" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="score_type" property="scoreType" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, company_type, company_id, score_type, score, insert_time, creator
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_xyjf_score_history
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_xyjf_score_history
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hummingbird.paas.entity.CreditScoreHistory" >
    insert into t_xyjf_score_history (id, company_type, company_id, 
      score_type, score, insert_time, 
      creator)
    values (#{id,jdbcType=INTEGER}, #{companyType,jdbcType=VARCHAR}, #{companyId,jdbcType=INTEGER}, 
      #{scoreType,jdbcType=VARCHAR}, #{score,jdbcType=INTEGER}, #{insertTime,jdbcType=TIMESTAMP}, 
      #{creator,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hummingbird.paas.entity.CreditScoreHistory" >
    insert into t_xyjf_score_history
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="companyType != null" >
        company_type,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="scoreType != null" >
        score_type,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="insertTime != null" >
        insert_time,
      </if>
      <if test="creator != null" >
        creator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="companyType != null" >
        #{companyType,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="scoreType != null" >
        #{scoreType,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=INTEGER},
      </if>
      <if test="insertTime != null" >
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hummingbird.paas.entity.CreditScoreHistory" >
    update t_xyjf_score_history
    <set >
      <if test="companyType != null" >
        company_type = #{companyType,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="scoreType != null" >
        score_type = #{scoreType,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="insertTime != null" >
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hummingbird.paas.entity.CreditScoreHistory" >
    update t_xyjf_score_history
    set company_type = #{companyType,jdbcType=VARCHAR},
      company_id = #{companyId,jdbcType=INTEGER},
      score_type = #{scoreType,jdbcType=VARCHAR},
      score = #{score,jdbcType=INTEGER},
      insert_time = #{insertTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>