<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hummingbird.paas.mapper.InviteBidderMapper" >
  <resultMap id="BaseResultMap" type="com.hummingbird.paas.entity.InviteBidder" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="object_id" property="objectId" jdbcType="VARCHAR" />
    <result column="bidder_id" property="bidderId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, object_id, bidder_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_ztgl_bid_invite_bidder
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="hadInvited" resultType="java.lang.Integer"  >
  select 
   count(*)
  from t_ztgl_bid_invite_bidder
  where object_id = #{objectId}
  and bidder_id = #{bidderId}
</select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_ztgl_bid_invite_bidder
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hummingbird.paas.entity.InviteBidder" >
    insert into t_ztgl_bid_invite_bidder (id, object_id, bidder_id
      )
    values (#{id,jdbcType=INTEGER}, #{objectId,jdbcType=VARCHAR}, #{bidderId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hummingbird.paas.entity.InviteBidder" >
    insert into t_ztgl_bid_invite_bidder
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="objectId != null" >
        object_id,
      </if>
      <if test="bidderId != null" >
        bidder_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="objectId != null" >
        #{objectId,jdbcType=VARCHAR},
      </if>
      <if test="bidderId != null" >
        #{bidderId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hummingbird.paas.entity.InviteBidder" >
    update t_ztgl_bid_invite_bidder
    <set >
      <if test="objectId != null" >
        object_id = #{objectId,jdbcType=VARCHAR},
      </if>
      <if test="bidderId != null" >
        bidder_id = #{bidderId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hummingbird.paas.entity.InviteBidder" >
    update t_ztgl_bid_invite_bidder
    set object_id = #{objectId,jdbcType=VARCHAR},
      bidder_id = #{bidderId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>