<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hummingbird.paas.mapper.MemberProductAttrMapper" >
  <resultMap id="BaseResultMap" type="com.hummingbird.paas.entity.MemberProductAttr" >
    <id column="product_id" property="productId" jdbcType="VARCHAR" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="product_expire_length" property="productExpireLength" jdbcType="INTEGER" />
    <result column="member_type" property="memberType" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    product_id, product_name, product_expire_length, member_type, level
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_ddgl_member_product_attr
    where product_id = #{productId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_ddgl_member_product_attr
    where product_id = #{productId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hummingbird.paas.entity.MemberProductAttr" >
    insert into t_ddgl_member_product_attr (product_id, product_name, product_expire_length, 
      member_type, level)
    values (#{productId,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, #{productExpireLength,jdbcType=INTEGER}, 
      #{memberType,jdbcType=VARCHAR}, #{level,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hummingbird.paas.entity.MemberProductAttr" >
    insert into t_ddgl_member_product_attr
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="productId != null" >
        product_id,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
      <if test="productExpireLength != null" >
        product_expire_length,
      </if>
      <if test="memberType != null" >
        member_type,
      </if>
      <if test="level != null" >
        level,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="productId != null" >
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productExpireLength != null" >
        #{productExpireLength,jdbcType=INTEGER},
      </if>
      <if test="memberType != null" >
        #{memberType,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hummingbird.paas.entity.MemberProductAttr" >
    update t_ddgl_member_product_attr
    <set >
      <if test="productName != null" >
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productExpireLength != null" >
        product_expire_length = #{productExpireLength,jdbcType=INTEGER},
      </if>
      <if test="memberType != null" >
        member_type = #{memberType,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=VARCHAR},
      </if>
    </set>
    where product_id = #{productId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hummingbird.paas.entity.MemberProductAttr" >
    update t_ddgl_member_product_attr
    set product_name = #{productName,jdbcType=VARCHAR},
      product_expire_length = #{productExpireLength,jdbcType=INTEGER},
      member_type = #{memberType,jdbcType=VARCHAR},
      level = #{level,jdbcType=VARCHAR}
    where product_id = #{productId,jdbcType=VARCHAR}
  </update>
</mapper>