<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hummingbird.paas.mapper.MemberBiddeeMapper" >
  <resultMap id="BaseResultMap" type="com.hummingbird.paas.entity.MemberBiddee" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="tenderer_id" property="tenderer_id" jdbcType="INTEGER" />
    <result column="member_level" property="member_level" jdbcType="VARCHAR" />
    <result column="start_time" property="start_time" jdbcType="TIMESTAMP" />
    <result column="end_time" property="end_time" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, tenderer_id, member_level, start_time, end_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_hygl_tenderer
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_hygl_tenderer
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hummingbird.paas.entity.MemberBiddee" >
    insert into t_hygl_tenderer (id, tenderer_id, member_level, 
      start_time, end_time)
    values (#{id,jdbcType=INTEGER}, #{tenderer_id,jdbcType=INTEGER}, #{member_level,jdbcType=VARCHAR}, 
      #{start_time,jdbcType=TIMESTAMP}, #{end_time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hummingbird.paas.entity.MemberBiddee" >
    insert into t_hygl_tenderer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tenderer_id != null" >
        tenderer_id,
      </if>
      <if test="member_level != null" >
        member_level,
      </if>
      <if test="start_time != null" >
        start_time,
      </if>
      <if test="end_time != null" >
        end_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tenderer_id != null" >
        #{tenderer_id,jdbcType=INTEGER},
      </if>
      <if test="member_level != null" >
        #{member_level,jdbcType=VARCHAR},
      </if>
      <if test="start_time != null" >
        #{start_time,jdbcType=TIMESTAMP},
      </if>
      <if test="end_time != null" >
        #{end_time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hummingbird.paas.entity.MemberBiddee" >
    update t_hygl_tenderer
    <set >
      <if test="tenderer_id != null" >
        tenderer_id = #{tenderer_id,jdbcType=INTEGER},
      </if>
      <if test="member_level != null" >
        member_level = #{member_level,jdbcType=VARCHAR},
      </if>
      <if test="start_time != null" >
        start_time = #{start_time,jdbcType=TIMESTAMP},
      </if>
      <if test="end_time != null" >
        end_time = #{end_time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hummingbird.paas.entity.MemberBiddee" >
    update t_hygl_tenderer
    set tenderer_id = #{tenderer_id,jdbcType=INTEGER},
      member_level = #{member_level,jdbcType=VARCHAR},
      start_time = #{start_time,jdbcType=TIMESTAMP},
      end_time = #{end_time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>