<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hummingbird.paas.mapper.NotifySettingMapper" >
  <resultMap id="BaseResultMap" type="com.hummingbird.paas.entity.NotifySetting" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="access_way" property="accessWay" jdbcType="VARCHAR" />
    <result column="access_class_name" property="accessClassName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, access_way, access_class_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_tzxt_notify_setting
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_tzxt_notify_setting
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hummingbird.paas.entity.NotifySetting" >
    insert into t_tzxt_notify_setting (id, access_way, access_class_name
      )
    values (#{id,jdbcType=VARCHAR}, #{accessWay,jdbcType=VARCHAR}, #{accessClassName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hummingbird.paas.entity.NotifySetting" >
    insert into t_tzxt_notify_setting
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="accessWay != null" >
        access_way,
      </if>
      <if test="accessClassName != null" >
        access_class_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="accessWay != null" >
        #{accessWay,jdbcType=VARCHAR},
      </if>
      <if test="accessClassName != null" >
        #{accessClassName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hummingbird.paas.entity.NotifySetting" >
    update t_tzxt_notify_setting
    <set >
      <if test="accessWay != null" >
        access_way = #{accessWay,jdbcType=VARCHAR},
      </if>
      <if test="accessClassName != null" >
        access_class_name = #{accessClassName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hummingbird.paas.entity.NotifySetting" >
    update t_tzxt_notify_setting
    set access_way = #{accessWay,jdbcType=VARCHAR},
      access_class_name = #{accessClassName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>