<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hummingbird.paas.mapper.ObjectBondSettingMapper" >
  <resultMap id="BaseResultMap" type="com.hummingbird.paas.entity.ObjectBondSetting" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="object_id" property="objectId" jdbcType="VARCHAR" />
    <result column="biddee_bond" property="biddeeBond" jdbcType="BIGINT" />
    <result column="bidder_bid_bond" property="bidderBidBond" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, object_id, biddee_bond, bidder_bid_bond
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_ztgl_object_bond_setting
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_ztgl_object_bond_setting
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hummingbird.paas.entity.ObjectBondSetting" >
    insert into t_ztgl_object_bond_setting (id, object_id, biddee_bond, 
      bidder_bid_bond)
    values (#{id,jdbcType=INTEGER}, #{objectId,jdbcType=VARCHAR}, #{biddeeBond,jdbcType=BIGINT}, 
      #{bidderBidBond,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.hummingbird.paas.entity.ObjectBondSetting" >
    insert into t_ztgl_object_bond_setting
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="objectId != null" >
        object_id,
      </if>
      <if test="biddeeBond != null" >
        biddee_bond,
      </if>
      <if test="bidderBidBond != null" >
        bidder_bid_bond,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="objectId != null" >
        #{objectId,jdbcType=VARCHAR},
      </if>
      <if test="biddeeBond != null" >
        #{biddeeBond,jdbcType=BIGINT},
      </if>
      <if test="bidderBidBond != null" >
        #{bidderBidBond,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hummingbird.paas.entity.ObjectBondSetting" >
    update t_ztgl_object_bond_setting
    <set >
      <if test="objectId != null" >
        object_id = #{objectId,jdbcType=VARCHAR},
      </if>
      <if test="biddeeBond != null" >
        biddee_bond = #{biddeeBond,jdbcType=BIGINT},
      </if>
      <if test="bidderBidBond != null" >
        bidder_bid_bond = #{bidderBidBond,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hummingbird.paas.entity.ObjectBondSetting" >
    update t_ztgl_object_bond_setting
    set object_id = #{objectId,jdbcType=VARCHAR},
      biddee_bond = #{biddeeBond,jdbcType=BIGINT},
      bidder_bid_bond = #{bidderBidBond,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
   <select id="getObjectBidderBond" resultType="java.lang.Integer" parameterType="java.lang.String" >
    select 
    bidder_bid_bond
    from t_ztgl_object_bond_setting
    where object_id = #{objectId,jdbcType=VARCHAR}
  </select>
  <select id="selectByObjectId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_ztgl_object_bond_setting
    where object_id = #{objectId}
  </select>
</mapper>