<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hummingbird.paas.mapper.ObjectProjectMapper" >
  <resultMap id="BaseResultMap" type="com.hummingbird.paas.entity.ObjectProject" >
    <id column="object_id" property="objectId" jdbcType="VARCHAR" />
    <result column="biddee_id" property="biddeeId" jdbcType="INTEGER" />
    <result column="object_no" property="objectNo" jdbcType="VARCHAR" />
    <result column="object_name" property="objectName" jdbcType="VARCHAR" />
    <result column="object_amount" property="objectAmount" jdbcType="BIGINT" />
    <result column="object_publish_type" property="objectPublishType" jdbcType="VARCHAR" />
    <result column="object_status" property="objectStatus" jdbcType="VARCHAR" />
    <result column="win_bid_amount" property="winBidAmount" jdbcType="BIGINT" />
    <result column="win_bidder_id" property="winBidderId" jdbcType="INTEGER" />
    <result column="industry_id" property="industryId" jdbcType="VARCHAR" />
    <result column="sector_id" property="sectorId" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="INTEGER" />
    <result column="district" property="district" jdbcType="INTEGER" />
    <result column="biddee_company_principal" property="biddeeCompanyPrincipal" jdbcType="VARCHAR" />
    <result column="biddee_company_telephone" property="biddeeCompanyTelephone" jdbcType="VARCHAR" />
    <result column="bid_open_date" property="bidOpenDate" jdbcType="DATE" />
    <result column="contract_type" property="contractType" jdbcType="VARCHAR" />
    <result column="currency" property="currency" jdbcType="VARCHAR" />
    <result column="bid_bond_amount" property="bidBondAmount" jdbcType="BIGINT" />
    <result column="need_business_standard" property="needBusinessStandard" jdbcType="VARCHAR" />
    <result column="need_technical_standard" property="needTechnicalStandard" jdbcType="VARCHAR" />
    <result column="need_certification_checkup_file" property="needCertificationCheckupFile" jdbcType="VARCHAR" />
    <result column="need_pm_certification" property="needPmCertification" jdbcType="VARCHAR" />
    <result column="need_constructor_certification" property="needConstructorCertification" jdbcType="VARCHAR" />
    <result column="need_safety_permit" property="needSafetyPermit" jdbcType="VARCHAR" />
    <result column="need_pm_safety_certification" property="needPmSafetyCertification" jdbcType="VARCHAR" />
    <result column="evaluation_amount" property="evaluationAmount" jdbcType="BIGINT" />
    <result column="object_scope" property="objectScope" jdbcType="VARCHAR" />
    <result column="win_bid_time" property="winBidTime" jdbcType="TIMESTAMP" />
    <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="object_type" property="objectType" jdbcType="VARCHAR" />
    <result column="evaluation_amount_visiable" property="evaluationAmountVisiable" jdbcType="VARCHAR" />
    <result column="publish_time" property="publishTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="Base1ResultMap" type="com.hummingbird.paas.entity.ObjectProject" >
    <id column="object_id" property="objectId" jdbcType="VARCHAR" />
    <result column="biddee_id" property="biddeeId" jdbcType="INTEGER" />
    <result column="object_no" property="objectNo" jdbcType="VARCHAR" />
    <result column="object_name" property="objectName" jdbcType="VARCHAR" />
    <result column="object_amount" property="objectAmount" jdbcType="BIGINT" />
    <result column="object_publish_type" property="objectPublishType" jdbcType="VARCHAR" />
    <result column="object_status" property="objectStatus" jdbcType="VARCHAR" />
    <result column="win_bid_amount" property="winBidAmount" jdbcType="VARCHAR" />
    <result column="win_bidder_id" property="winBidderId" jdbcType="INTEGER" />
    <result column="a.industry_id" property="industryId" jdbcType="VARCHAR" />
    <result column="a.sector_id" property="sectorId" jdbcType="VARCHAR" />
    <result column="a.province" property="province" jdbcType="INTEGER" />
    <result column="a.district" property="district" jdbcType="INTEGER" />
    <result column="biddee_company_principal" property="biddeeCompanyPrincipal" jdbcType="VARCHAR" />
    <result column="biddee_company_telephone" property="biddeeCompanyTelephone" jdbcType="VARCHAR" />
    <result column="bid_open_date" property="bidOpenDate" jdbcType="DATE" />
    <result column="contract_type" property="contractType" jdbcType="VARCHAR" />
    <result column="currency" property="currency" jdbcType="VARCHAR" />
    <result column="bid_bond_amount" property="bidBondAmount" jdbcType="BIGINT" />
    <result column="need_business_standard" property="needBusinessStandard" jdbcType="VARCHAR" />
    <result column="need_technical_standard" property="needTechnicalStandard" jdbcType="VARCHAR" />
    <result column="need_certification_checkup_file" property="needCertificationCheckupFile" jdbcType="VARCHAR" />
    <result column="need_pm_certification" property="needPmCertification" jdbcType="VARCHAR" />
    <result column="need_constructor_certification" property="needConstructorCertification" jdbcType="VARCHAR" />
    <result column="need_safety_permit" property="needSafetyPermit" jdbcType="VARCHAR" />
    <result column="need_pm_safety_certification" property="needPmSafetyCertification" jdbcType="VARCHAR" />
    <result column="evaluation_amount" property="evaluationAmount" jdbcType="BIGINT" />
    <result column="object_scope" property="objectScope" jdbcType="VARCHAR" />
    <result column="win_bid_time" property="winBidTime" jdbcType="TIMESTAMP" />
  </resultMap>
   <resultMap id="MyBuildingObjectResultMap" type="com.hummingbird.paas.vo.MyBuildingObjectProject" extends="BaseResultMap" >
    <result column="receivedAmount" property="receivedAmount" jdbcType="BIGINT" />
    <result column="willReceiveAmount" property="willReceiveAmount" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="QueryMyBidObjectListResultMap" type="com.hummingbird.paas.vo.QueryMyBidObjectListResultVO" extends="BaseResultMap" >
   	<result column="object_id" property="objectId" jdbcType="VARCHAR" />
   	<result column="object_name" property="objectName" jdbcType="VARCHAR" />
   	<result column="industry_id" property="industryId" jdbcType="VARCHAR" />
   	<result column="bid_amount" property="bidAmount" jdbcType="BIGINT" />
   	<result column="bid_open_date" property="bidOpenDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="bid_Column_List" >
    a.object_id,a.object_name,a.industry_id,b.bid_amount,a.bid_open_date
  </sql>
  <resultMap id="MyEndedObjectResultMap" type="com.hummingbird.paas.vo.MyEndedObjectProject" extends="BaseResultMap" >
    <result column="company_name" property="biddee" jdbcType="VARCHAR" />
  </resultMap>
   <resultMap id="MyLoseObjectResultMap" type="com.hummingbird.paas.vo.MyLoseObjectProject" extends="BaseResultMap" >
    <result column="company_name" property="biddee" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    object_id, biddee_id, object_no, object_name, object_amount, object_publish_type, 
    object_status, win_bid_amount, win_bidder_id, industry_id, sector_id, province, district, 
    biddee_company_principal, biddee_company_telephone, bid_open_date, contract_type, 
    currency, bid_bond_amount, need_business_standard, need_technical_standard, need_certification_checkup_file, 
    need_pm_certification, need_constructor_certification, need_safety_permit, need_pm_safety_certification, 
    evaluation_amount, object_scope, win_bid_time, insert_time, update_time, object_type, 
    evaluation_amount_visiable, publish_time
  </sql>
  <sql id="Base1_Column_List" >
    object_id, biddee_id, object_no, object_name, object_amount, object_publish_type, 
    object_status, win_bid_amount, win_bidder_id, a.industry_id,a.sector_id,a.province,a.district,
    biddee_company_principal, biddee_company_telephone, bid_open_date,  
    contract_type, currency, bid_bond_amount, need_business_standard, need_technical_standard, 
    need_certification_checkup_file, need_pm_certification, need_constructor_certification, 
    need_safety_permit, need_pm_safety_certification, evaluation_amount, object_scope, 
    win_bid_time
  </sql>
  
  <sql id="My_Building_Column_List" >
    a.object_id, a.biddee_id, object_no, object_name, object_amount, object_publish_type, 
    object_status, win_bid_amount, win_bidder_id, a.industry_id, a.sector_id, a.province, a.district, 
    biddee_company_principal, biddee_company_telephone, bid_open_date,  
    contract_type, currency, bid_bond_amount, need_business_standard, need_technical_standard, 
    need_certification_checkup_file, need_pm_certification, need_constructor_certification, 
    need_safety_permit, need_pm_safety_certification, evaluation_amount, object_scope, 
    win_bid_time,IFNULL(sum(c.total_amount),0) receivedAmount,IFNULL(sum(c.left_amount),0) willReceiveAmount
  </sql>
  <sql id="My_Ended_Column_List" >
    object_id, biddee_id, object_no, object_name, object_amount, object_publish_type, 
    object_status, win_bid_amount, win_bidder_id, a.industry_id, a.sector_id, a.province, a.district, 
    biddee_company_principal, biddee_company_telephone, bid_open_date,  
    contract_type, currency, bid_bond_amount, need_business_standard, need_technical_standard, 
    need_certification_checkup_file, need_pm_certification, need_constructor_certification, 
    need_safety_permit, need_pm_safety_certification, evaluation_amount, object_scope, 
    win_bid_time,company_name
  </sql>
  <sql id="My_Lose_Column_List" >
    a.object_id, biddee_id, object_no, object_name, object_amount, object_publish_type, 
    object_status, win_bid_amount, win_bidder_id, a.industry_id, a.sector_id, a.province, a.district, 
    biddee_company_principal, biddee_company_telephone, bid_open_date,  
    contract_type, currency, bid_bond_amount, need_business_standard, need_technical_standard, 
    need_certification_checkup_file, need_pm_certification, need_constructor_certification, 
    need_safety_permit, need_pm_safety_certification, evaluation_amount, object_scope, 
    win_bid_time,company_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_ztgl_object
    where object_id = #{objectId,jdbcType=VARCHAR}
  </select>
  <select id="getPages" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_ztgl_object
    where object_status='PUB'
    limit #{begin},#{limit}
  </select>
  <select id="getPagesCount" resultType="int">
    select 
    count(1)
    from t_ztgl_object
    where object_status='PUB'
  </select>
   <select id="queryObjectByPage" resultMap="BaseResultMap">
    select 
    o.object_id, biddee_id, object_no, object_name, object_amount, object_publish_type, 
    object_status, win_bid_amount, win_bidder_id, industry_id, sector_id, province, district, 
    biddee_company_principal, biddee_company_telephone, bid_open_date, contract_type, 
    currency, bid_bond_amount, need_business_standard, need_technical_standard, need_certification_checkup_file, 
    need_pm_certification, need_constructor_certification, need_safety_permit, need_pm_safety_certification, 
    if(evaluation_amount_visiable='ENB',evaluation_amount,null) evaluation_amount, object_scope, win_bid_time, insert_time, update_time, object_type, 
    evaluation_amount_visiable, publish_time
    from t_ztgl_object o,t_ztgl_object_baseinfo b
    where o.object_id = b.object_id
    and o.object_status='PUB'
    and CURRENT_DATE() >= b.announcement_begin_time 
    and CURRENT_DATE() &lt; b.announcement_end_time
    limit #{page.firstResult,jdbcType=DECIMAL}  ,#{page.pageSize,jdbcType=DECIMAL}
  </select>
   <select id="queryObjectCount" resultType="int">
    select 
    count(*)
    from t_ztgl_object o,t_ztgl_object_baseinfo b
    where o.object_id = b.object_id
    and o.object_status='PUB'
    and CURRENT_DATE() >= b.announcement_begin_time 
    and CURRENT_DATE() &lt; b.announcement_end_time
  </select>
  <select id="getMyObjectProjectPages" resultMap="BaseResultMap" >
    select 
    <include refid="Base1_Column_List" />
    from t_ztgl_object a
   	inner join t_qyzz_bidder b  on a.win_bidder_id = b.id 
    where  b.user_id = #{userId} and a.object_status = 'PUB' or a.object_status = 'REV'
    limit #{begin},#{limit}
  </select>
   <select id="getMyObjectProjectCount" resultType="int" >
    select 
   	count(1)
    from t_ztgl_object a
   	inner join t_qyzz_bidder b  on a.win_bidder_id = b.id 
    where  b.user_id = #{userId} and a.object_status = 'PUB' or a.object_status = 'REV'
  </select>
  <select id="getMyBuildingObjectProjectPages" resultMap="MyBuildingObjectResultMap" >
    select 
    <include refid="My_Building_Column_List" />
    from t_ztgl_object a
   	inner join t_qyzz_bidder b  on a.win_bidder_id = b.id  and b.status = 'OK#'
		inner join t_gcgl_project d on d.object_id = a.object_id and d.bidder_id = b.id and d.status = 'OK'
   	left join t_gcgl_project_payment_pay c on a.object_id = c.project_id and c.`status` = 'OK#'
    limit #{begin},#{limit}
  </select>
   <select id="getMyBuildingObjectProjectCount" resultType="int" >
    select 
    count(1)
    from t_ztgl_object a
   	inner join t_qyzz_bidder b  on a.win_bidder_id = b.id 
   	left join t_gcgl_project_payment_pay c on a.object_id = c.project_id and c.`status` = 'OK#'
    where  b.user_id = #{userId} and a.object_status = 'SEL' 
  </select>
  <select id="getMyEndedObjectProjectPages" resultMap="MyEndedObjectResultMap" >
    select  <include refid="My_Ended_Column_List" />  
    from t_ztgl_object a inner join t_qyzz_biddee b on a.biddee_id = b.id
    where  b.user_id = #{userId} and a.object_status = 'END'
    limit #{begin},#{limit}
  </select>
  <select id="getMyEndedObjectProjectCount" resultType="int" >
    select  count(1) 
    from t_ztgl_object a inner join t_qyzz_biddee b on a.biddee_id = b.id
    where  b.user_id = #{userId} and a.object_status = 'END'
  </select>
  <select id="getMyLoseObjectProjectPages" resultMap="MyLoseObjectResultMap">
    select  <include refid="My_Lose_Column_List" />  
    from t_ztgl_object a INNER JOIN t_qyzz_bidder b ON a.win_bidder_id =b.id
	INNER JOIN t_ztgl_bid_record c ON a.object_id = c.object_id AND a.win_bidder_id = c.bidder_id
	WHERE b.user_id = #{userId} and (a.object_status = 'END' or a.object_status = 'SEL' ) and c.bid_status = 'LOSE'
    limit #{begin},#{limit}
  </select>
  <select id="getMyLoseObjectProjectCount" resultType="int">
    select  count(1) 
    from t_ztgl_object a INNER JOIN t_qyzz_bidder b ON a.win_bidder_id =b.id
	INNER JOIN t_ztgl_bid_record c ON a.object_id = c.object_id AND a.win_bidder_id = c.bidder_id
	WHERE b.user_id = #{userId} and (a.object_status = 'END' or a.object_status = 'SEL' ) and c.bid_status = 'LOSE'
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_ztgl_object
    where object_id = #{objectId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hummingbird.paas.entity.ObjectProject" >
    insert into t_ztgl_object (object_id, biddee_id, object_no, 
      object_name, object_amount, object_publish_type, 
      object_status, win_bid_amount, win_bidder_id, 
      industry_id, sector_id, province, 
      district, biddee_company_principal, biddee_company_telephone, 
      bid_open_date, contract_type, currency, 
      bid_bond_amount, need_business_standard, need_technical_standard, 
      need_certification_checkup_file, need_pm_certification, 
      need_constructor_certification, need_safety_permit, 
      need_pm_safety_certification, evaluation_amount, 
      object_scope, win_bid_time, insert_time, 
      update_time, object_type, evaluation_amount_visiable, 
      publish_time)
    values (#{objectId,jdbcType=VARCHAR}, #{biddeeId,jdbcType=INTEGER}, #{objectNo,jdbcType=VARCHAR}, 
      #{objectName,jdbcType=VARCHAR}, #{objectAmount,jdbcType=BIGINT}, #{objectPublishType,jdbcType=VARCHAR}, 
      #{objectStatus,jdbcType=VARCHAR}, #{winBidAmount,jdbcType=BIGINT}, #{winBidderId,jdbcType=INTEGER}, 
      #{industryId,jdbcType=VARCHAR}, #{sectorId,jdbcType=VARCHAR}, #{province,jdbcType=INTEGER}, 
      #{district,jdbcType=INTEGER}, #{biddeeCompanyPrincipal,jdbcType=VARCHAR}, #{biddeeCompanyTelephone,jdbcType=VARCHAR}, 
      #{bidOpenDate,jdbcType=DATE}, #{contractType,jdbcType=VARCHAR}, #{currency,jdbcType=VARCHAR}, 
      #{bidBondAmount,jdbcType=BIGINT}, #{needBusinessStandard,jdbcType=VARCHAR}, #{needTechnicalStandard,jdbcType=VARCHAR}, 
      #{needCertificationCheckupFile,jdbcType=VARCHAR}, #{needPmCertification,jdbcType=VARCHAR}, 
      #{needConstructorCertification,jdbcType=VARCHAR}, #{needSafetyPermit,jdbcType=VARCHAR}, 
      #{needPmSafetyCertification,jdbcType=VARCHAR}, #{evaluationAmount,jdbcType=BIGINT}, 
      #{objectScope,jdbcType=VARCHAR}, #{winBidTime,jdbcType=TIMESTAMP}, #{insertTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{objectType,jdbcType=VARCHAR}, #{evaluationAmountVisiable,jdbcType=VARCHAR}, 
      #{publishTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hummingbird.paas.entity.ObjectProject" >
    insert into t_ztgl_object
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="objectId != null" >
        object_id,
      </if>
      <if test="biddeeId != null" >
        biddee_id,
      </if>
      <if test="objectNo != null" >
        object_no,
      </if>
      <if test="objectName != null" >
        object_name,
      </if>
      <if test="objectAmount != null" >
        object_amount,
      </if>
      <if test="objectPublishType != null" >
        object_publish_type,
      </if>
      <if test="objectStatus != null" >
        object_status,
      </if>
      <if test="winBidAmount != null" >
        win_bid_amount,
      </if>
      <if test="winBidderId != null" >
        win_bidder_id,
      </if>
      <if test="industryId != null" >
        industry_id,
      </if>
      <if test="sectorId != null" >
        sector_id,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="district != null" >
        district,
      </if>
      <if test="biddeeCompanyPrincipal != null" >
        biddee_company_principal,
      </if>
      <if test="biddeeCompanyTelephone != null" >
        biddee_company_telephone,
      </if>
      <if test="bidOpenDate != null" >
        bid_open_date,
      </if>
      <if test="contractType != null" >
        contract_type,
      </if>
      <if test="currency != null" >
        currency,
      </if>
      <if test="bidBondAmount != null" >
        bid_bond_amount,
      </if>
      <if test="needBusinessStandard != null" >
        need_business_standard,
      </if>
      <if test="needTechnicalStandard != null" >
        need_technical_standard,
      </if>
      <if test="needCertificationCheckupFile != null" >
        need_certification_checkup_file,
      </if>
      <if test="needPmCertification != null" >
        need_pm_certification,
      </if>
      <if test="needConstructorCertification != null" >
        need_constructor_certification,
      </if>
      <if test="needSafetyPermit != null" >
        need_safety_permit,
      </if>
      <if test="needPmSafetyCertification != null" >
        need_pm_safety_certification,
      </if>
      <if test="evaluationAmount != null" >
        evaluation_amount,
      </if>
      <if test="objectScope != null" >
        object_scope,
      </if>
      <if test="winBidTime != null" >
        win_bid_time,
      </if>
      <if test="insertTime != null" >
        insert_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="objectType != null" >
        object_type,
      </if>
      <if test="evaluationAmountVisiable != null" >
        evaluation_amount_visiable,
      </if>
      <if test="publishTime != null" >
        publish_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="objectId != null" >
        #{objectId,jdbcType=VARCHAR},
      </if>
      <if test="biddeeId != null" >
        #{biddeeId,jdbcType=INTEGER},
      </if>
      <if test="objectNo != null" >
        #{objectNo,jdbcType=VARCHAR},
      </if>
      <if test="objectName != null" >
        #{objectName,jdbcType=VARCHAR},
      </if>
      <if test="objectAmount != null" >
        #{objectAmount,jdbcType=BIGINT},
      </if>
      <if test="objectPublishType != null" >
        #{objectPublishType,jdbcType=VARCHAR},
      </if>
      <if test="objectStatus != null" >
        #{objectStatus,jdbcType=VARCHAR},
      </if>
      <if test="winBidAmount != null" >
        #{winBidAmount,jdbcType=BIGINT},
      </if>
      <if test="winBidderId != null" >
        #{winBidderId,jdbcType=INTEGER},
      </if>
      <if test="industryId != null" >
        #{industryId,jdbcType=VARCHAR},
      </if>
      <if test="sectorId != null" >
        #{sectorId,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=INTEGER},
      </if>
      <if test="district != null" >
        #{district,jdbcType=INTEGER},
      </if>
      <if test="biddeeCompanyPrincipal != null" >
        #{biddeeCompanyPrincipal,jdbcType=VARCHAR},
      </if>
      <if test="biddeeCompanyTelephone != null" >
        #{biddeeCompanyTelephone,jdbcType=VARCHAR},
      </if>
      <if test="bidOpenDate != null" >
        #{bidOpenDate,jdbcType=DATE},
      </if>
      <if test="contractType != null" >
        #{contractType,jdbcType=VARCHAR},
      </if>
      <if test="currency != null" >
        #{currency,jdbcType=VARCHAR},
      </if>
      <if test="bidBondAmount != null" >
        #{bidBondAmount,jdbcType=BIGINT},
      </if>
      <if test="needBusinessStandard != null" >
        #{needBusinessStandard,jdbcType=VARCHAR},
      </if>
      <if test="needTechnicalStandard != null" >
        #{needTechnicalStandard,jdbcType=VARCHAR},
      </if>
      <if test="needCertificationCheckupFile != null" >
        #{needCertificationCheckupFile,jdbcType=VARCHAR},
      </if>
      <if test="needPmCertification != null" >
        #{needPmCertification,jdbcType=VARCHAR},
      </if>
      <if test="needConstructorCertification != null" >
        #{needConstructorCertification,jdbcType=VARCHAR},
      </if>
      <if test="needSafetyPermit != null" >
        #{needSafetyPermit,jdbcType=VARCHAR},
      </if>
      <if test="needPmSafetyCertification != null" >
        #{needPmSafetyCertification,jdbcType=VARCHAR},
      </if>
      <if test="evaluationAmount != null" >
        #{evaluationAmount,jdbcType=BIGINT},
      </if>
      <if test="objectScope != null" >
        #{objectScope,jdbcType=VARCHAR},
      </if>
      <if test="winBidTime != null" >
        #{winBidTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insertTime != null" >
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="objectType != null" >
        #{objectType,jdbcType=VARCHAR},
      </if>
      <if test="evaluationAmountVisiable != null" >
        #{evaluationAmountVisiable,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null" >
        #{publishTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hummingbird.paas.entity.ObjectProject" >
    update t_ztgl_object
    <set >
      <if test="biddeeId != null" >
        biddee_id = #{biddeeId,jdbcType=INTEGER},
      </if>
      <if test="objectNo != null" >
        object_no = #{objectNo,jdbcType=VARCHAR},
      </if>
      <if test="objectName != null" >
        object_name = #{objectName,jdbcType=VARCHAR},
      </if>
      <if test="objectAmount != null" >
        object_amount = #{objectAmount,jdbcType=BIGINT},
      </if>
      <if test="objectPublishType != null" >
        object_publish_type = #{objectPublishType,jdbcType=VARCHAR},
      </if>
      <if test="objectStatus != null" >
        object_status = #{objectStatus,jdbcType=VARCHAR},
      </if>
      <if test="winBidAmount != null" >
        win_bid_amount = #{winBidAmount,jdbcType=BIGINT},
      </if>
      <if test="winBidderId != null" >
        win_bidder_id = #{winBidderId,jdbcType=INTEGER},
      </if>
      <if test="industryId != null" >
        industry_id = #{industryId,jdbcType=VARCHAR},
      </if>
      <if test="sectorId != null" >
        sector_id = #{sectorId,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=INTEGER},
      </if>
      <if test="district != null" >
        district = #{district,jdbcType=INTEGER},
      </if>
      <if test="biddeeCompanyPrincipal != null" >
        biddee_company_principal = #{biddeeCompanyPrincipal,jdbcType=VARCHAR},
      </if>
      <if test="biddeeCompanyTelephone != null" >
        biddee_company_telephone = #{biddeeCompanyTelephone,jdbcType=VARCHAR},
      </if>
      <if test="bidOpenDate != null" >
        bid_open_date = #{bidOpenDate,jdbcType=DATE},
      </if>
      <if test="contractType != null" >
        contract_type = #{contractType,jdbcType=VARCHAR},
      </if>
      <if test="currency != null" >
        currency = #{currency,jdbcType=VARCHAR},
      </if>
      <if test="bidBondAmount != null" >
        bid_bond_amount = #{bidBondAmount,jdbcType=BIGINT},
      </if>
      <if test="needBusinessStandard != null" >
        need_business_standard = #{needBusinessStandard,jdbcType=VARCHAR},
      </if>
      <if test="needTechnicalStandard != null" >
        need_technical_standard = #{needTechnicalStandard,jdbcType=VARCHAR},
      </if>
      <if test="needCertificationCheckupFile != null" >
        need_certification_checkup_file = #{needCertificationCheckupFile,jdbcType=VARCHAR},
      </if>
      <if test="needPmCertification != null" >
        need_pm_certification = #{needPmCertification,jdbcType=VARCHAR},
      </if>
      <if test="needConstructorCertification != null" >
        need_constructor_certification = #{needConstructorCertification,jdbcType=VARCHAR},
      </if>
      <if test="needSafetyPermit != null" >
        need_safety_permit = #{needSafetyPermit,jdbcType=VARCHAR},
      </if>
      <if test="needPmSafetyCertification != null" >
        need_pm_safety_certification = #{needPmSafetyCertification,jdbcType=VARCHAR},
      </if>
      <if test="evaluationAmount != null" >
        evaluation_amount = #{evaluationAmount,jdbcType=BIGINT},
      </if>
      <if test="objectScope != null" >
        object_scope = #{objectScope,jdbcType=VARCHAR},
      </if>
      <if test="winBidTime != null" >
        win_bid_time = #{winBidTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insertTime != null" >
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="objectType != null" >
        object_type = #{objectType,jdbcType=VARCHAR},
      </if>
      <if test="evaluationAmountVisiable != null" >
        evaluation_amount_visiable = #{evaluationAmountVisiable,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null" >
        publish_time = #{publishTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where object_id = #{objectId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hummingbird.paas.entity.ObjectProject" >
    update t_ztgl_object
    set biddee_id = #{biddeeId,jdbcType=INTEGER},
      object_no = #{objectNo,jdbcType=VARCHAR},
      object_name = #{objectName,jdbcType=VARCHAR},
      object_amount = #{objectAmount,jdbcType=BIGINT},
      object_publish_type = #{objectPublishType,jdbcType=VARCHAR},
      object_status = #{objectStatus,jdbcType=VARCHAR},
      win_bid_amount = #{winBidAmount,jdbcType=BIGINT},
      win_bidder_id = #{winBidderId,jdbcType=INTEGER},
      industry_id = #{industryId,jdbcType=VARCHAR},
      sector_id = #{sectorId,jdbcType=VARCHAR},
      province = #{province,jdbcType=INTEGER},
      district = #{district,jdbcType=INTEGER},
      biddee_company_principal = #{biddeeCompanyPrincipal,jdbcType=VARCHAR},
      biddee_company_telephone = #{biddeeCompanyTelephone,jdbcType=VARCHAR},
      bid_open_date = #{bidOpenDate,jdbcType=DATE},
      contract_type = #{contractType,jdbcType=VARCHAR},
      currency = #{currency,jdbcType=VARCHAR},
      bid_bond_amount = #{bidBondAmount,jdbcType=BIGINT},
      need_business_standard = #{needBusinessStandard,jdbcType=VARCHAR},
      need_technical_standard = #{needTechnicalStandard,jdbcType=VARCHAR},
      need_certification_checkup_file = #{needCertificationCheckupFile,jdbcType=VARCHAR},
      need_pm_certification = #{needPmCertification,jdbcType=VARCHAR},
      need_constructor_certification = #{needConstructorCertification,jdbcType=VARCHAR},
      need_safety_permit = #{needSafetyPermit,jdbcType=VARCHAR},
      need_pm_safety_certification = #{needPmSafetyCertification,jdbcType=VARCHAR},
      evaluation_amount = #{evaluationAmount,jdbcType=BIGINT},
      object_scope = #{objectScope,jdbcType=VARCHAR},
      win_bid_time = #{winBidTime,jdbcType=TIMESTAMP},
      insert_time = #{insertTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      object_type = #{objectType,jdbcType=VARCHAR},
      evaluation_amount_visiable = #{evaluationAmountVisiable,jdbcType=VARCHAR},
      publish_time = #{publishTime,jdbcType=TIMESTAMP}
    where object_id = #{objectId,jdbcType=VARCHAR}
  </update>
  <select id="queryBidByAccountId" resultMap="QueryMyBidObjectListResultMap">
  select <include refid="bid_Column_List" />
   from t_ztgl_bid_record b 
  INNER JOIN  t_ztgl_object a on a.object_id = b.object_id INNER JOIN t_qyzz_bidder c on b.bidder_id = c.id 
     where  c.user_id = #{user_id,jdbcType=INTEGER} AND (a.object_status = 'PUB' or a.object_status = 'REV')
     limit #{page.firstResult,jdbcType=DECIMAL}  ,#{page.pageSize,jdbcType=DECIMAL} 
  </select>
</mapper>