<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hummingbird.paas.mapper.ObjectProjectInfoMapper" >
  <resultMap id="BaseResultMap" type="com.hummingbird.paas.entity.ObjectProjectInfo" >
    <id column="object_id" property="objectId" jdbcType="VARCHAR" />
    <result column="project_expect_start_date" property="projectExpectStartDate" jdbcType="VARCHAR" />
    <result column="project_expect_end_date" property="projectExpectEndDate" jdbcType="VARCHAR" />
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="project_no" property="projectNo" jdbcType="VARCHAR" />
    <result column="project_situation" property="projectSituation" jdbcType="VARCHAR" />
    <result column="project_expect_investment" property="projectExpectInvestment" jdbcType="VARCHAR" />
    <result column="employer" property="employer" jdbcType="VARCHAR" />
    <result column="employer_principal" property="employerPrincipal" jdbcType="VARCHAR" />
    <result column="employer_telephone" property="employerTelephone" jdbcType="VARCHAR" />
    <result column="project_manager_requirement" property="projectManagerRequirement" jdbcType="VARCHAR" />
    <result column="other_requirement" property="otherRequirement" jdbcType="VARCHAR" />
    <result column="project_site_town" property="projectSiteTown" jdbcType="VARCHAR" />
    <result column="project_site_city" property="projectSiteCity" jdbcType="VARCHAR" />
    <result column="project_site_province" property="projectSiteProvince" jdbcType="VARCHAR" />
    <result column="project_site" property="projectSite" jdbcType="VARCHAR" />
    <result column="project_scale" property="projectScale" jdbcType="VARCHAR" />
    <result column="project_expect_period" property="projectExpectPeriod" jdbcType="VARCHAR" />
    <result column="letter_of_acceptance_url" property="letterOfAcceptanceUrl" jdbcType="VARCHAR" />
    <result column="construction_prove_type" property="constructionProveType" jdbcType="VARCHAR" />
    <result column="project_period_deadline" property="projectPeriodDeadline" jdbcType="INTEGER" />
    <result column="land_use_certificate_enddate" property="landUseCertificateEnddate" jdbcType="DATE" />
    <result column="construction_land_use_permit_enddate" property="constructionLandUsePermitEnddate" jdbcType="DATE" />
    <result column="building_permit_enddate" property="buildingPermitEnddate" jdbcType="DATE" />
    <result column="land_use_certificate_No" property="landUseCertificateNo" jdbcType="VARCHAR" />
    <result column="construction_land_use_permit_No" property="constructionLandUsePermitNo" jdbcType="VARCHAR" />
    <result column="building_permit_No" property="buildingPermitNo" jdbcType="VARCHAR" />
    <result column="building_construction_permit_No" property="buildingConstructionPermitNo" jdbcType="VARCHAR" />
    <result column="building_construction_permit_url" property="buildingConstructionPermitUrl" jdbcType="VARCHAR" />
    <result column="building_construction_permit_enddate" property="buildingConstructionPermitEnddate" jdbcType="DATE" />
    <result column="land_use_certificate_url" property="landUseCertificateUrl" jdbcType="VARCHAR" />
    <result column="construction_land_use_permit_url" property="constructionLandUsePermitUrl" jdbcType="VARCHAR" />
    <result column="building_permit_url" property="buildingPermitUrl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    object_id, project_expect_start_date, project_expect_end_date, project_name, project_no, 
    project_situation, project_expect_investment, employer, employer_principal, employer_telephone, 
    project_manager_requirement, other_requirement, project_site_town, project_site_city, 
    project_site_province, project_site, project_scale, project_expect_period, letter_of_acceptance_url, 
    construction_prove_type, project_period_deadline, land_use_certificate_enddate, construction_land_use_permit_enddate, 
    building_permit_enddate, land_use_certificate_No, construction_land_use_permit_No, 
    building_permit_No, building_construction_permit_No, building_construction_permit_url, 
    building_construction_permit_enddate, land_use_certificate_url, construction_land_use_permit_url, 
    building_permit_url
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_ztgl_object_project_info
    where object_id = #{objectId,jdbcType=VARCHAR}
  </select>
  <select id="selectProjects" resultMap="BaseResultMap"  >
    select 
    <include refid="Base_Column_List" />
    from t_ztgl_object_project_info
    where  object_id in (
    	select object_id 
    	from t_ztgl_object
	    where biddee_id = #{biddeeId} 
	    <if test="objectId != null">
	    and object_id = #{objectId}
	    </if>
	    <if test="status != null">
	    and object_status = #{status}
	    </if>
    )
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_ztgl_object_project_info
    where object_id = #{objectId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hummingbird.paas.entity.ObjectProjectInfo" >
    insert into t_ztgl_object_project_info (object_id, project_expect_start_date, 
      project_expect_end_date, project_name, project_no, 
      project_situation, project_expect_investment, 
      employer, employer_principal, employer_telephone, 
      project_manager_requirement, other_requirement, 
      project_site_town, project_site_city, project_site_province, 
      project_site, project_scale, project_expect_period, 
      letter_of_acceptance_url, construction_prove_type, 
      project_period_deadline, land_use_certificate_enddate, 
      construction_land_use_permit_enddate, building_permit_enddate, 
      land_use_certificate_No, construction_land_use_permit_No, 
      building_permit_No, building_construction_permit_No, 
      building_construction_permit_url, building_construction_permit_enddate, 
      land_use_certificate_url, construction_land_use_permit_url, 
      building_permit_url)
    values (#{objectId,jdbcType=VARCHAR}, #{projectExpectStartDate,jdbcType=VARCHAR}, 
      #{projectExpectEndDate,jdbcType=VARCHAR}, #{projectName,jdbcType=VARCHAR}, #{projectNo,jdbcType=VARCHAR}, 
      #{projectSituation,jdbcType=VARCHAR}, #{projectExpectInvestment,jdbcType=VARCHAR}, 
      #{employer,jdbcType=VARCHAR}, #{employerPrincipal,jdbcType=VARCHAR}, #{employerTelephone,jdbcType=VARCHAR}, 
      #{projectManagerRequirement,jdbcType=VARCHAR}, #{otherRequirement,jdbcType=VARCHAR}, 
      #{projectSiteTown,jdbcType=VARCHAR}, #{projectSiteCity,jdbcType=VARCHAR}, #{projectSiteProvince,jdbcType=VARCHAR}, 
      #{projectSite,jdbcType=VARCHAR}, #{projectScale,jdbcType=VARCHAR}, #{projectExpectPeriod,jdbcType=VARCHAR}, 
      #{letterOfAcceptanceUrl,jdbcType=VARCHAR}, #{constructionProveType,jdbcType=VARCHAR}, 
      #{projectPeriodDeadline,jdbcType=INTEGER}, #{landUseCertificateEnddate,jdbcType=DATE}, 
      #{constructionLandUsePermitEnddate,jdbcType=DATE}, #{buildingPermitEnddate,jdbcType=DATE}, 
      #{landUseCertificateNo,jdbcType=VARCHAR}, #{constructionLandUsePermitNo,jdbcType=VARCHAR}, 
      #{buildingPermitNo,jdbcType=VARCHAR}, #{buildingConstructionPermitNo,jdbcType=VARCHAR}, 
      #{buildingConstructionPermitUrl,jdbcType=VARCHAR}, #{buildingConstructionPermitEnddate,jdbcType=DATE}, 
      #{landUseCertificateUrl,jdbcType=VARCHAR}, #{constructionLandUsePermitUrl,jdbcType=VARCHAR}, 
      #{buildingPermitUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hummingbird.paas.entity.ObjectProjectInfo" >
    insert into t_ztgl_object_project_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="objectId != null" >
        object_id,
      </if>
      <if test="projectExpectStartDate != null" >
        project_expect_start_date,
      </if>
      <if test="projectExpectEndDate != null" >
        project_expect_end_date,
      </if>
      <if test="projectName != null" >
        project_name,
      </if>
      <if test="projectNo != null" >
        project_no,
      </if>
      <if test="projectSituation != null" >
        project_situation,
      </if>
      <if test="projectExpectInvestment != null" >
        project_expect_investment,
      </if>
      <if test="employer != null" >
        employer,
      </if>
      <if test="employerPrincipal != null" >
        employer_principal,
      </if>
      <if test="employerTelephone != null" >
        employer_telephone,
      </if>
      <if test="projectManagerRequirement != null" >
        project_manager_requirement,
      </if>
      <if test="otherRequirement != null" >
        other_requirement,
      </if>
      <if test="projectSiteTown != null" >
        project_site_town,
      </if>
      <if test="projectSiteCity != null" >
        project_site_city,
      </if>
      <if test="projectSiteProvince != null" >
        project_site_province,
      </if>
      <if test="projectSite != null" >
        project_site,
      </if>
      <if test="projectScale != null" >
        project_scale,
      </if>
      <if test="projectExpectPeriod != null" >
        project_expect_period,
      </if>
      <if test="letterOfAcceptanceUrl != null" >
        letter_of_acceptance_url,
      </if>
      <if test="constructionProveType != null" >
        construction_prove_type,
      </if>
      <if test="projectPeriodDeadline != null" >
        project_period_deadline,
      </if>
      <if test="landUseCertificateEnddate != null" >
        land_use_certificate_enddate,
      </if>
      <if test="constructionLandUsePermitEnddate != null" >
        construction_land_use_permit_enddate,
      </if>
      <if test="buildingPermitEnddate != null" >
        building_permit_enddate,
      </if>
      <if test="landUseCertificateNo != null" >
        land_use_certificate_No,
      </if>
      <if test="constructionLandUsePermitNo != null" >
        construction_land_use_permit_No,
      </if>
      <if test="buildingPermitNo != null" >
        building_permit_No,
      </if>
      <if test="buildingConstructionPermitNo != null" >
        building_construction_permit_No,
      </if>
      <if test="buildingConstructionPermitUrl != null" >
        building_construction_permit_url,
      </if>
      <if test="buildingConstructionPermitEnddate != null" >
        building_construction_permit_enddate,
      </if>
      <if test="landUseCertificateUrl != null" >
        land_use_certificate_url,
      </if>
      <if test="constructionLandUsePermitUrl != null" >
        construction_land_use_permit_url,
      </if>
      <if test="buildingPermitUrl != null" >
        building_permit_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="objectId != null" >
        #{objectId,jdbcType=VARCHAR},
      </if>
      <if test="projectExpectStartDate != null" >
        #{projectExpectStartDate,jdbcType=VARCHAR},
      </if>
      <if test="projectExpectEndDate != null" >
        #{projectExpectEndDate,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null" >
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectNo != null" >
        #{projectNo,jdbcType=VARCHAR},
      </if>
      <if test="projectSituation != null" >
        #{projectSituation,jdbcType=VARCHAR},
      </if>
      <if test="projectExpectInvestment != null" >
        #{projectExpectInvestment,jdbcType=VARCHAR},
      </if>
      <if test="employer != null" >
        #{employer,jdbcType=VARCHAR},
      </if>
      <if test="employerPrincipal != null" >
        #{employerPrincipal,jdbcType=VARCHAR},
      </if>
      <if test="employerTelephone != null" >
        #{employerTelephone,jdbcType=VARCHAR},
      </if>
      <if test="projectManagerRequirement != null" >
        #{projectManagerRequirement,jdbcType=VARCHAR},
      </if>
      <if test="otherRequirement != null" >
        #{otherRequirement,jdbcType=VARCHAR},
      </if>
      <if test="projectSiteTown != null" >
        #{projectSiteTown,jdbcType=VARCHAR},
      </if>
      <if test="projectSiteCity != null" >
        #{projectSiteCity,jdbcType=VARCHAR},
      </if>
      <if test="projectSiteProvince != null" >
        #{projectSiteProvince,jdbcType=VARCHAR},
      </if>
      <if test="projectSite != null" >
        #{projectSite,jdbcType=VARCHAR},
      </if>
      <if test="projectScale != null" >
        #{projectScale,jdbcType=VARCHAR},
      </if>
      <if test="projectExpectPeriod != null" >
        #{projectExpectPeriod,jdbcType=VARCHAR},
      </if>
      <if test="letterOfAcceptanceUrl != null" >
        #{letterOfAcceptanceUrl,jdbcType=VARCHAR},
      </if>
      <if test="constructionProveType != null" >
        #{constructionProveType,jdbcType=VARCHAR},
      </if>
      <if test="projectPeriodDeadline != null" >
        #{projectPeriodDeadline,jdbcType=INTEGER},
      </if>
      <if test="landUseCertificateEnddate != null" >
        #{landUseCertificateEnddate,jdbcType=DATE},
      </if>
      <if test="constructionLandUsePermitEnddate != null" >
        #{constructionLandUsePermitEnddate,jdbcType=DATE},
      </if>
      <if test="buildingPermitEnddate != null" >
        #{buildingPermitEnddate,jdbcType=DATE},
      </if>
      <if test="landUseCertificateNo != null" >
        #{landUseCertificateNo,jdbcType=VARCHAR},
      </if>
      <if test="constructionLandUsePermitNo != null" >
        #{constructionLandUsePermitNo,jdbcType=VARCHAR},
      </if>
      <if test="buildingPermitNo != null" >
        #{buildingPermitNo,jdbcType=VARCHAR},
      </if>
      <if test="buildingConstructionPermitNo != null" >
        #{buildingConstructionPermitNo,jdbcType=VARCHAR},
      </if>
      <if test="buildingConstructionPermitUrl != null" >
        #{buildingConstructionPermitUrl,jdbcType=VARCHAR},
      </if>
      <if test="buildingConstructionPermitEnddate != null" >
        #{buildingConstructionPermitEnddate,jdbcType=DATE},
      </if>
      <if test="landUseCertificateUrl != null" >
        #{landUseCertificateUrl,jdbcType=VARCHAR},
      </if>
      <if test="constructionLandUsePermitUrl != null" >
        #{constructionLandUsePermitUrl,jdbcType=VARCHAR},
      </if>
      <if test="buildingPermitUrl != null" >
        #{buildingPermitUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hummingbird.paas.entity.ObjectProjectInfo" >
    update t_ztgl_object_project_info
    <set >
      <if test="projectExpectStartDate != null" >
        project_expect_start_date = #{projectExpectStartDate,jdbcType=VARCHAR},
      </if>
      <if test="projectExpectEndDate != null" >
        project_expect_end_date = #{projectExpectEndDate,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null" >
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectNo != null" >
        project_no = #{projectNo,jdbcType=VARCHAR},
      </if>
      <if test="projectSituation != null" >
        project_situation = #{projectSituation,jdbcType=VARCHAR},
      </if>
      <if test="projectExpectInvestment != null" >
        project_expect_investment = #{projectExpectInvestment,jdbcType=VARCHAR},
      </if>
      <if test="employer != null" >
        employer = #{employer,jdbcType=VARCHAR},
      </if>
      <if test="employerPrincipal != null" >
        employer_principal = #{employerPrincipal,jdbcType=VARCHAR},
      </if>
      <if test="employerTelephone != null" >
        employer_telephone = #{employerTelephone,jdbcType=VARCHAR},
      </if>
      <if test="projectManagerRequirement != null" >
        project_manager_requirement = #{projectManagerRequirement,jdbcType=VARCHAR},
      </if>
      <if test="otherRequirement != null" >
        other_requirement = #{otherRequirement,jdbcType=VARCHAR},
      </if>
      <if test="projectSiteTown != null" >
        project_site_town = #{projectSiteTown,jdbcType=VARCHAR},
      </if>
      <if test="projectSiteCity != null" >
        project_site_city = #{projectSiteCity,jdbcType=VARCHAR},
      </if>
      <if test="projectSiteProvince != null" >
        project_site_province = #{projectSiteProvince,jdbcType=VARCHAR},
      </if>
      <if test="projectSite != null" >
        project_site = #{projectSite,jdbcType=VARCHAR},
      </if>
      <if test="projectScale != null" >
        project_scale = #{projectScale,jdbcType=VARCHAR},
      </if>
      <if test="projectExpectPeriod != null" >
        project_expect_period = #{projectExpectPeriod,jdbcType=VARCHAR},
      </if>
      <if test="letterOfAcceptanceUrl != null" >
        letter_of_acceptance_url = #{letterOfAcceptanceUrl,jdbcType=VARCHAR},
      </if>
      <if test="constructionProveType != null" >
        construction_prove_type = #{constructionProveType,jdbcType=VARCHAR},
      </if>
      <if test="projectPeriodDeadline != null" >
        project_period_deadline = #{projectPeriodDeadline,jdbcType=INTEGER},
      </if>
      <if test="landUseCertificateEnddate != null" >
        land_use_certificate_enddate = #{landUseCertificateEnddate,jdbcType=DATE},
      </if>
      <if test="constructionLandUsePermitEnddate != null" >
        construction_land_use_permit_enddate = #{constructionLandUsePermitEnddate,jdbcType=DATE},
      </if>
      <if test="buildingPermitEnddate != null" >
        building_permit_enddate = #{buildingPermitEnddate,jdbcType=DATE},
      </if>
      <if test="landUseCertificateNo != null" >
        land_use_certificate_No = #{landUseCertificateNo,jdbcType=VARCHAR},
      </if>
      <if test="constructionLandUsePermitNo != null" >
        construction_land_use_permit_No = #{constructionLandUsePermitNo,jdbcType=VARCHAR},
      </if>
      <if test="buildingPermitNo != null" >
        building_permit_No = #{buildingPermitNo,jdbcType=VARCHAR},
      </if>
      <if test="buildingConstructionPermitNo != null" >
        building_construction_permit_No = #{buildingConstructionPermitNo,jdbcType=VARCHAR},
      </if>
      <if test="buildingConstructionPermitUrl != null" >
        building_construction_permit_url = #{buildingConstructionPermitUrl,jdbcType=VARCHAR},
      </if>
      <if test="buildingConstructionPermitEnddate != null" >
        building_construction_permit_enddate = #{buildingConstructionPermitEnddate,jdbcType=DATE},
      </if>
      <if test="landUseCertificateUrl != null" >
        land_use_certificate_url = #{landUseCertificateUrl,jdbcType=VARCHAR},
      </if>
      <if test="constructionLandUsePermitUrl != null" >
        construction_land_use_permit_url = #{constructionLandUsePermitUrl,jdbcType=VARCHAR},
      </if>
      <if test="buildingPermitUrl != null" >
        building_permit_url = #{buildingPermitUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where object_id = #{objectId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hummingbird.paas.entity.ObjectProjectInfo" >
    update t_ztgl_object_project_info
    set project_expect_start_date = #{projectExpectStartDate,jdbcType=VARCHAR},
      project_expect_end_date = #{projectExpectEndDate,jdbcType=VARCHAR},
      project_name = #{projectName,jdbcType=VARCHAR},
      project_no = #{projectNo,jdbcType=VARCHAR},
      project_situation = #{projectSituation,jdbcType=VARCHAR},
      project_expect_investment = #{projectExpectInvestment,jdbcType=VARCHAR},
      employer = #{employer,jdbcType=VARCHAR},
      employer_principal = #{employerPrincipal,jdbcType=VARCHAR},
      employer_telephone = #{employerTelephone,jdbcType=VARCHAR},
      project_manager_requirement = #{projectManagerRequirement,jdbcType=VARCHAR},
      other_requirement = #{otherRequirement,jdbcType=VARCHAR},
      project_site_town = #{projectSiteTown,jdbcType=VARCHAR},
      project_site_city = #{projectSiteCity,jdbcType=VARCHAR},
      project_site_province = #{projectSiteProvince,jdbcType=VARCHAR},
      project_site = #{projectSite,jdbcType=VARCHAR},
      project_scale = #{projectScale,jdbcType=VARCHAR},
      project_expect_period = #{projectExpectPeriod,jdbcType=VARCHAR},
      letter_of_acceptance_url = #{letterOfAcceptanceUrl,jdbcType=VARCHAR},
      construction_prove_type = #{constructionProveType,jdbcType=VARCHAR},
      project_period_deadline = #{projectPeriodDeadline,jdbcType=INTEGER},
      land_use_certificate_enddate = #{landUseCertificateEnddate,jdbcType=DATE},
      construction_land_use_permit_enddate = #{constructionLandUsePermitEnddate,jdbcType=DATE},
      building_permit_enddate = #{buildingPermitEnddate,jdbcType=DATE},
      land_use_certificate_No = #{landUseCertificateNo,jdbcType=VARCHAR},
      construction_land_use_permit_No = #{constructionLandUsePermitNo,jdbcType=VARCHAR},
      building_permit_No = #{buildingPermitNo,jdbcType=VARCHAR},
      building_construction_permit_No = #{buildingConstructionPermitNo,jdbcType=VARCHAR},
      building_construction_permit_url = #{buildingConstructionPermitUrl,jdbcType=VARCHAR},
      building_construction_permit_enddate = #{buildingConstructionPermitEnddate,jdbcType=DATE},
      land_use_certificate_url = #{landUseCertificateUrl,jdbcType=VARCHAR},
      construction_land_use_permit_url = #{constructionLandUsePermitUrl,jdbcType=VARCHAR},
      building_permit_url = #{buildingPermitUrl,jdbcType=VARCHAR}
    where object_id = #{objectId,jdbcType=VARCHAR}
  </update>
</mapper>