<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hummingbird.paas.mapper.OrderProductMapper" >
  <resultMap id="BaseResultMap" type="com.hummingbird.paas.entity.OrderProduct" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="product_category_id" property="productCategoryId" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="BIGINT" />
    <result column="product_description" property="productDescription" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, product_name, status, product_category_id, price, product_description
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_ddgl_order_product
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_ddgl_order_product
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hummingbird.paas.entity.OrderProduct" >
    insert into t_ddgl_order_product (id, product_name, status, 
      product_category_id, price, product_description
      )
    values (#{id,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{productCategoryId,jdbcType=INTEGER}, #{price,jdbcType=BIGINT}, #{productDescription,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hummingbird.paas.entity.OrderProduct" >
    insert into t_ddgl_order_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="productCategoryId != null" >
        product_category_id,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="productDescription != null" >
        product_description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="productCategoryId != null" >
        #{productCategoryId,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=BIGINT},
      </if>
      <if test="productDescription != null" >
        #{productDescription,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hummingbird.paas.entity.OrderProduct" >
    update t_ddgl_order_product
    <set >
      <if test="productName != null" >
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="productCategoryId != null" >
        product_category_id = #{productCategoryId,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=BIGINT},
      </if>
      <if test="productDescription != null" >
        product_description = #{productDescription,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hummingbird.paas.entity.OrderProduct" >
    update t_ddgl_order_product
    set product_name = #{productName,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      product_category_id = #{productCategoryId,jdbcType=INTEGER},
      price = #{price,jdbcType=BIGINT},
      product_description = #{productDescription,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>