<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hummingbird.paas.mapper.ProjectPaymentReceiveMapper" >
  <resultMap id="BaseResultMap" type="com.hummingbird.paas.entity.ProjectPaymentReceive" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="project_id" property="projectId" jdbcType="VARCHAR" />
    <result column="current_period" property="currentPeriod" jdbcType="INTEGER" />
    <result column="amount" property="amount" jdbcType="BIGINT" />
    <result column="should_receive_time" property="shouldReceiveTime" jdbcType="TIMESTAMP" />
    <result column="receive_time" property="receiveTime" jdbcType="TIMESTAMP" />
    <result column="total_amount" property="totalAmount" jdbcType="BIGINT" />
    <result column="left_period" property="leftPeriod" jdbcType="INTEGER" />
    <result column="left_amount" property="leftAmount" jdbcType="BIGINT" />
    <result column="total_period" property="totalPeriod" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, status, project_id, current_period, amount, should_receive_time, receive_time, 
    total_amount, left_period, left_amount, total_period, order_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_gcgl_project_payment_receive
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByOrderId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_gcgl_project_payment_receive
    where order_id = #{orderId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_gcgl_project_payment_receive
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hummingbird.paas.entity.ProjectPaymentReceive" >
    insert into t_gcgl_project_payment_receive (id, status, project_id, 
      current_period, amount, should_receive_time, 
      receive_time, total_amount, left_period, 
      left_amount, total_period, order_id
      )
    values (#{id,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, #{projectId,jdbcType=VARCHAR}, 
      #{currentPeriod,jdbcType=INTEGER}, #{amount,jdbcType=BIGINT}, #{shouldReceiveTime,jdbcType=TIMESTAMP}, 
      #{receiveTime,jdbcType=TIMESTAMP}, #{totalAmount,jdbcType=BIGINT}, #{leftPeriod,jdbcType=INTEGER}, 
      #{leftAmount,jdbcType=BIGINT}, #{totalPeriod,jdbcType=INTEGER}, #{orderId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hummingbird.paas.entity.ProjectPaymentReceive" >
    insert into t_gcgl_project_payment_receive
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="currentPeriod != null" >
        current_period,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="shouldReceiveTime != null" >
        should_receive_time,
      </if>
      <if test="receiveTime != null" >
        receive_time,
      </if>
      <if test="totalAmount != null" >
        total_amount,
      </if>
      <if test="leftPeriod != null" >
        left_period,
      </if>
      <if test="leftAmount != null" >
        left_amount,
      </if>
      <if test="totalPeriod != null" >
        total_period,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="currentPeriod != null" >
        #{currentPeriod,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=BIGINT},
      </if>
      <if test="shouldReceiveTime != null" >
        #{shouldReceiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="receiveTime != null" >
        #{receiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="totalAmount != null" >
        #{totalAmount,jdbcType=BIGINT},
      </if>
      <if test="leftPeriod != null" >
        #{leftPeriod,jdbcType=INTEGER},
      </if>
      <if test="leftAmount != null" >
        #{leftAmount,jdbcType=BIGINT},
      </if>
      <if test="totalPeriod != null" >
        #{totalPeriod,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hummingbird.paas.entity.ProjectPaymentReceive" >
    update t_gcgl_project_payment_receive
    <set >
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="currentPeriod != null" >
        current_period = #{currentPeriod,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=BIGINT},
      </if>
      <if test="shouldReceiveTime != null" >
        should_receive_time = #{shouldReceiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="receiveTime != null" >
        receive_time = #{receiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="totalAmount != null" >
        total_amount = #{totalAmount,jdbcType=BIGINT},
      </if>
      <if test="leftPeriod != null" >
        left_period = #{leftPeriod,jdbcType=INTEGER},
      </if>
      <if test="leftAmount != null" >
        left_amount = #{leftAmount,jdbcType=BIGINT},
      </if>
      <if test="totalPeriod != null" >
        total_period = #{totalPeriod,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hummingbird.paas.entity.ProjectPaymentReceive" >
    update t_gcgl_project_payment_receive
    set status = #{status,jdbcType=VARCHAR},
      project_id = #{projectId,jdbcType=VARCHAR},
      current_period = #{currentPeriod,jdbcType=INTEGER},
      amount = #{amount,jdbcType=BIGINT},
      should_receive_time = #{shouldReceiveTime,jdbcType=TIMESTAMP},
      receive_time = #{receiveTime,jdbcType=TIMESTAMP},
      total_amount = #{totalAmount,jdbcType=BIGINT},
      left_period = #{leftPeriod,jdbcType=INTEGER},
      left_amount = #{leftAmount,jdbcType=BIGINT},
      total_period = #{totalPeriod,jdbcType=INTEGER},
      order_id = #{orderId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getLastRecord" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
     a.id, a.status, a.project_id, current_period, amount, should_receive_time, receive_time, 
    total_amount, left_period, left_amount, total_period, order_id
    from t_gcgl_project_payment_receive a,t_gcgl_project p
    where a.project_id = p.project_id and a.status='OK#'
    and p.object_id = #{objectId,jdbcType=VARCHAR} ORDER BY id DESC limit 1
  </select>
  <select id="queryReceivedRecord" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
     a.id, a.status, a.project_id, current_period, amount, should_receive_time, receive_time, 
    total_amount, left_period, left_amount, total_period, order_id
    from t_gcgl_project_payment_receive a,t_gcgl_project p
    where a.project_id = p.project_id
    and p. object_id = #{objectId,jdbcType=VARCHAR} and a.status='OK#'
  </select>
  <select id="getReceivedAmountByObjectId" resultType="long" parameterType="java.lang.String" >
    select 
    IFNULL(sum(abs(`amount`)),0) receivedAmount
    from t_gcgl_project_payment_Receive a,t_gcgl_project p
    where a.project_id = p.project_id
    and p. object_id = #{objectId,jdbcType=VARCHAR} and a.status='OK#'
  </select>
</mapper>