<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hummingbird.paas.mapper.ProjectPaymentDefineMapper" >
  <resultMap id="BaseResultMap" type="com.hummingbird.paas.entity.ProjectPaymentDefine" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="object_id" property="objectId" jdbcType="VARCHAR" />
    <result column="pay_type" property="payType" jdbcType="VARCHAR" />
    <result column="pay_period" property="payPeriod" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, object_id, pay_type, pay_period
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_ztgl_project_payment_define
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_ztgl_project_payment_define
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hummingbird.paas.entity.ProjectPaymentDefine" >
    insert into t_ztgl_project_payment_define (id, object_id, pay_type, 
      pay_period)
    values (#{id,jdbcType=INTEGER}, #{objectId,jdbcType=VARCHAR}, #{payType,jdbcType=VARCHAR}, 
      #{payPeriod,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.hummingbird.paas.entity.ProjectPaymentDefine" >
    insert into t_ztgl_project_payment_define
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="objectId != null" >
        object_id,
      </if>
      <if test="payType != null" >
        pay_type,
      </if>
      <if test="payPeriod != null" >
        pay_period,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="objectId != null" >
        #{objectId,jdbcType=VARCHAR},
      </if>
      <if test="payType != null" >
        #{payType,jdbcType=VARCHAR},
      </if>
      <if test="payPeriod != null" >
        #{payPeriod,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hummingbird.paas.entity.ProjectPaymentDefine" >
    update t_ztgl_project_payment_define
    <set >
      <if test="objectId != null" >
        object_id = #{objectId,jdbcType=VARCHAR},
      </if>
      <if test="payType != null" >
        pay_type = #{payType,jdbcType=VARCHAR},
      </if>
      <if test="payPeriod != null" >
        pay_period = #{payPeriod,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hummingbird.paas.entity.ProjectPaymentDefine" >
    update t_ztgl_project_payment_define
    set object_id = #{objectId,jdbcType=VARCHAR},
      pay_type = #{payType,jdbcType=VARCHAR},
      pay_period = #{payPeriod,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByObjectId" resultMap="BaseResultMap" parameterType="java.lang.String"  >
    select 
    <include refid="Base_Column_List" />
    from t_ztgl_project_payment_define
    where object_id = #{objectId,jdbcType=VARCHAR}
  </select>
</mapper>