<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hummingbird.paas.mapper.ProjectAccountOrderMapper" >
  <resultMap id="BaseResultMap" type="com.hummingbird.paas.entity.ProjectAccountOrder" >
    <id column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="account_id" property="accountId" jdbcType="INTEGER" />
    <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="sum" property="sum" jdbcType="INTEGER" />
    <result column="object_id" property="objectId" jdbcType="INTEGER" />
    <result column="balance" property="balance" jdbcType="INTEGER" />
    <result column="app_order_id" property="appOrderId" jdbcType="VARCHAR" />
    <result column="external_order_id" property="externalOrderId" jdbcType="VARCHAR" />
    <result column="peer_account_type" property="peerAccountType" jdbcType="VARCHAR" />
    <result column="peer_account_id" property="peerAccountId" jdbcType="VARCHAR" />
    <result column="peer_account_unit" property="peerAccountUnit" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="original_order_id" property="originalOrderId" jdbcType="VARCHAR" />
    <result column="original_table" property="originalTable" jdbcType="VARCHAR" />
    <result column="flow_direction" property="flowDirection" jdbcType="VARCHAR" />
    <result column="app_id" property="appId" jdbcType="VARCHAR" />
    <result column="app_name" property="appName" jdbcType="VARCHAR" />
    <result column="method" property="method" jdbcType="VARCHAR" />
    <result column="app_alias" property="appAlias" jdbcType="VARCHAR" />
    <result column="app_alias2" property="appAlias2" jdbcType="VARCHAR" />
    <result column="external_order_time" property="externalOrderTime" jdbcType="TIMESTAMP" />
    <result column="frozen_sum_snapshot" property="frozenSumSnapshot" jdbcType="INTEGER" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    order_id, account_id, insert_time, type, sum, object_id, balance, app_order_id, external_order_id, 
    peer_account_type, peer_account_id, peer_account_unit, remark, status, original_order_id, 
    original_table, flow_direction, app_id, app_name, method, app_alias, app_alias2, 
    external_order_time, frozen_sum_snapshot, product_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_project_account_order
    where order_id = #{orderId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_project_account_order
    where order_id = #{orderId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hummingbird.paas.entity.ProjectAccountOrder" >
    insert into t_project_account_order (order_id, account_id, insert_time, 
      type, sum, object_id, 
      balance, app_order_id, external_order_id, 
      peer_account_type, peer_account_id, peer_account_unit, 
      remark, status, original_order_id, 
      original_table, flow_direction, app_id, 
      app_name, method, app_alias, 
      app_alias2, external_order_time, frozen_sum_snapshot, 
      product_name)
    values (#{orderId,jdbcType=INTEGER}, #{accountId,jdbcType=INTEGER}, #{insertTime,jdbcType=TIMESTAMP}, 
      #{type,jdbcType=VARCHAR}, #{sum,jdbcType=INTEGER}, #{objectId,jdbcType=INTEGER}, 
      #{balance,jdbcType=INTEGER}, #{appOrderId,jdbcType=VARCHAR}, #{externalOrderId,jdbcType=VARCHAR}, 
      #{peerAccountType,jdbcType=VARCHAR}, #{peerAccountId,jdbcType=VARCHAR}, #{peerAccountUnit,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{originalOrderId,jdbcType=VARCHAR}, 
      #{originalTable,jdbcType=VARCHAR}, #{flowDirection,jdbcType=VARCHAR}, #{appId,jdbcType=VARCHAR}, 
      #{appName,jdbcType=VARCHAR}, #{method,jdbcType=VARCHAR}, #{appAlias,jdbcType=VARCHAR}, 
      #{appAlias2,jdbcType=VARCHAR}, #{externalOrderTime,jdbcType=TIMESTAMP}, #{frozenSumSnapshot,jdbcType=INTEGER}, 
      #{productName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hummingbird.paas.entity.ProjectAccountOrder" >
    insert into t_project_account_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="accountId != null" >
        account_id,
      </if>
      <if test="insertTime != null" >
        insert_time,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="sum != null" >
        sum,
      </if>
      <if test="objectId != null" >
        object_id,
      </if>
      <if test="balance != null" >
        balance,
      </if>
      <if test="appOrderId != null" >
        app_order_id,
      </if>
      <if test="externalOrderId != null" >
        external_order_id,
      </if>
      <if test="peerAccountType != null" >
        peer_account_type,
      </if>
      <if test="peerAccountId != null" >
        peer_account_id,
      </if>
      <if test="peerAccountUnit != null" >
        peer_account_unit,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="originalOrderId != null" >
        original_order_id,
      </if>
      <if test="originalTable != null" >
        original_table,
      </if>
      <if test="flowDirection != null" >
        flow_direction,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
      <if test="appName != null" >
        app_name,
      </if>
      <if test="method != null" >
        method,
      </if>
      <if test="appAlias != null" >
        app_alias,
      </if>
      <if test="appAlias2 != null" >
        app_alias2,
      </if>
      <if test="externalOrderTime != null" >
        external_order_time,
      </if>
      <if test="frozenSumSnapshot != null" >
        frozen_sum_snapshot,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="accountId != null" >
        #{accountId,jdbcType=INTEGER},
      </if>
      <if test="insertTime != null" >
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="sum != null" >
        #{sum,jdbcType=INTEGER},
      </if>
      <if test="objectId != null" >
        #{objectId,jdbcType=INTEGER},
      </if>
      <if test="balance != null" >
        #{balance,jdbcType=INTEGER},
      </if>
      <if test="appOrderId != null" >
        #{appOrderId,jdbcType=VARCHAR},
      </if>
      <if test="externalOrderId != null" >
        #{externalOrderId,jdbcType=VARCHAR},
      </if>
      <if test="peerAccountType != null" >
        #{peerAccountType,jdbcType=VARCHAR},
      </if>
      <if test="peerAccountId != null" >
        #{peerAccountId,jdbcType=VARCHAR},
      </if>
      <if test="peerAccountUnit != null" >
        #{peerAccountUnit,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="originalOrderId != null" >
        #{originalOrderId,jdbcType=VARCHAR},
      </if>
      <if test="originalTable != null" >
        #{originalTable,jdbcType=VARCHAR},
      </if>
      <if test="flowDirection != null" >
        #{flowDirection,jdbcType=VARCHAR},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="appName != null" >
        #{appName,jdbcType=VARCHAR},
      </if>
      <if test="method != null" >
        #{method,jdbcType=VARCHAR},
      </if>
      <if test="appAlias != null" >
        #{appAlias,jdbcType=VARCHAR},
      </if>
      <if test="appAlias2 != null" >
        #{appAlias2,jdbcType=VARCHAR},
      </if>
      <if test="externalOrderTime != null" >
        #{externalOrderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="frozenSumSnapshot != null" >
        #{frozenSumSnapshot,jdbcType=INTEGER},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hummingbird.paas.entity.ProjectAccountOrder" >
    update t_project_account_order
    <set >
      <if test="accountId != null" >
        account_id = #{accountId,jdbcType=INTEGER},
      </if>
      <if test="insertTime != null" >
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="sum != null" >
        sum = #{sum,jdbcType=INTEGER},
      </if>
      <if test="objectId != null" >
        object_id = #{objectId,jdbcType=INTEGER},
      </if>
      <if test="balance != null" >
        balance = #{balance,jdbcType=INTEGER},
      </if>
      <if test="appOrderId != null" >
        app_order_id = #{appOrderId,jdbcType=VARCHAR},
      </if>
      <if test="externalOrderId != null" >
        external_order_id = #{externalOrderId,jdbcType=VARCHAR},
      </if>
      <if test="peerAccountType != null" >
        peer_account_type = #{peerAccountType,jdbcType=VARCHAR},
      </if>
      <if test="peerAccountId != null" >
        peer_account_id = #{peerAccountId,jdbcType=VARCHAR},
      </if>
      <if test="peerAccountUnit != null" >
        peer_account_unit = #{peerAccountUnit,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="originalOrderId != null" >
        original_order_id = #{originalOrderId,jdbcType=VARCHAR},
      </if>
      <if test="originalTable != null" >
        original_table = #{originalTable,jdbcType=VARCHAR},
      </if>
      <if test="flowDirection != null" >
        flow_direction = #{flowDirection,jdbcType=VARCHAR},
      </if>
      <if test="appId != null" >
        app_id = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="appName != null" >
        app_name = #{appName,jdbcType=VARCHAR},
      </if>
      <if test="method != null" >
        method = #{method,jdbcType=VARCHAR},
      </if>
      <if test="appAlias != null" >
        app_alias = #{appAlias,jdbcType=VARCHAR},
      </if>
      <if test="appAlias2 != null" >
        app_alias2 = #{appAlias2,jdbcType=VARCHAR},
      </if>
      <if test="externalOrderTime != null" >
        external_order_time = #{externalOrderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="frozenSumSnapshot != null" >
        frozen_sum_snapshot = #{frozenSumSnapshot,jdbcType=INTEGER},
      </if>
      <if test="productName != null" >
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hummingbird.paas.entity.ProjectAccountOrder" >
    update t_project_account_order
    set account_id = #{accountId,jdbcType=INTEGER},
      insert_time = #{insertTime,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=VARCHAR},
      sum = #{sum,jdbcType=INTEGER},
      object_id = #{objectId,jdbcType=INTEGER},
      balance = #{balance,jdbcType=INTEGER},
      app_order_id = #{appOrderId,jdbcType=VARCHAR},
      external_order_id = #{externalOrderId,jdbcType=VARCHAR},
      peer_account_type = #{peerAccountType,jdbcType=VARCHAR},
      peer_account_id = #{peerAccountId,jdbcType=VARCHAR},
      peer_account_unit = #{peerAccountUnit,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      original_order_id = #{originalOrderId,jdbcType=VARCHAR},
      original_table = #{originalTable,jdbcType=VARCHAR},
      flow_direction = #{flowDirection,jdbcType=VARCHAR},
      app_id = #{appId,jdbcType=VARCHAR},
      app_name = #{appName,jdbcType=VARCHAR},
      method = #{method,jdbcType=VARCHAR},
      app_alias = #{appAlias,jdbcType=VARCHAR},
      app_alias2 = #{appAlias2,jdbcType=VARCHAR},
      external_order_time = #{externalOrderTime,jdbcType=TIMESTAMP},
      frozen_sum_snapshot = #{frozenSumSnapshot,jdbcType=INTEGER},
      product_name = #{productName,jdbcType=VARCHAR}
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
</mapper>