<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hummingbird.paas.mapper.ProjectMapper" >
  <resultMap id="BaseResultMap" type="com.hummingbird.paas.entity.Project" >
    <id column="object_id" property="object_id" jdbcType="VARCHAR" />
    <result column="biddee_id" property="biddee_id" jdbcType="INTEGER" />
    <result column="object_no" property="object_no" jdbcType="VARCHAR" />
    <result column="object_name" property="object_name" jdbcType="VARCHAR" />
    <result column="object_amount" property="object_amount" jdbcType="INTEGER" />
    <result column="object_publish_type" property="object_publish_type" jdbcType="VARCHAR" />
    <result column="object_status" property="object_status" jdbcType="VARCHAR" />
    <result column="win_bid_amount" property="win_bid_amount" jdbcType="VARCHAR" />
    <result column="win_bidder_id" property="win_bidder_id" jdbcType="INTEGER" />
    <result column="industry_id" property="industry_id" jdbcType="VARCHAR" />
    <result column="sector_id" property="sector_id" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="INTEGER" />
    <result column="district" property="district" jdbcType="INTEGER" />
    <result column="biddee_company_principal" property="biddee_company_principal" jdbcType="VARCHAR" />
    <result column="biddee_company_telephone" property="biddee_company_telephone" jdbcType="VARCHAR" />
    <result column="bid_open_date" property="bid_open_date" jdbcType="DATE" />
    <result column="project_expect_period" property="project_expect_period" jdbcType="INTEGER" />
    <result column="certification_checkup_type" property="certification_checkup_type" jdbcType="VARCHAR" />
    <result column="bid_evaluation_type" property="bid_evaluation_type" jdbcType="VARCHAR" />
    <result column="bid_evaluation_site" property="bid_evaluation_site" jdbcType="VARCHAR" />
    <result column="bid_winner_determine_way" property="bid_winner_determine_way" jdbcType="VARCHAR" />
    <result column="vote_win_way" property="vote_win_way" jdbcType="VARCHAR" />
    <result column="bid_bond_amount" property="bid_bond_amount" jdbcType="INTEGER" />
    <result column="need_business_standard" property="need_business_standard" jdbcType="VARCHAR" />
    <result column="need_technical_standard" property="need_technical_standard" jdbcType="VARCHAR" />
    <result column="need_certification_checkup_file" property="need_certification_checkup_file" jdbcType="VARCHAR" />
    <result column="need_pm_certification" property="need_pm_certification" jdbcType="VARCHAR" />
    <result column="need_constructor_certification" property="need_constructor_certification" jdbcType="VARCHAR" />
    <result column="need_safety_permit" property="need_safety_permit" jdbcType="VARCHAR" />
    <result column="need_pm_safety_certification" property="need_pm_safety_certification" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    object_id, biddee_id, object_no, object_name, object_amount, object_publish_type, 
    object_status, win_bid_amount, win_bidder_id, industry_id, sector_id, province, district, 
    biddee_company_principal, biddee_company_telephone, bid_open_date, project_expect_period, 
    certification_checkup_type, bid_evaluation_type, bid_evaluation_site, bid_winner_determine_way, 
    vote_win_way, bid_bond_amount, need_business_standard, need_technical_standard, need_certification_checkup_file, 
    need_pm_certification, need_constructor_certification, need_safety_permit, need_pm_safety_certification
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_ztgl_project
    where object_id = #{object_id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_ztgl_project
    where object_id = #{object_id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hummingbird.paas.entity.Project" >
    insert into t_ztgl_project (object_id, biddee_id, object_no, 
      object_name, object_amount, object_publish_type, 
      object_status, win_bid_amount, win_bidder_id, 
      industry_id, sector_id, province, 
      district, biddee_company_principal, biddee_company_telephone, 
      bid_open_date, project_expect_period, certification_checkup_type, 
      bid_evaluation_type, bid_evaluation_site, 
      bid_winner_determine_way, vote_win_way, 
      bid_bond_amount, need_business_standard, 
      need_technical_standard, need_certification_checkup_file, 
      need_pm_certification, need_constructor_certification, 
      need_safety_permit, need_pm_safety_certification
      )
    values (#{object_id,jdbcType=VARCHAR}, #{biddee_id,jdbcType=INTEGER}, #{object_no,jdbcType=VARCHAR}, 
      #{object_name,jdbcType=VARCHAR}, #{object_amount,jdbcType=INTEGER}, #{object_publish_type,jdbcType=VARCHAR}, 
      #{object_status,jdbcType=VARCHAR}, #{win_bid_amount,jdbcType=VARCHAR}, #{win_bidder_id,jdbcType=INTEGER}, 
      #{industry_id,jdbcType=VARCHAR}, #{sector_id,jdbcType=VARCHAR}, #{province,jdbcType=INTEGER}, 
      #{district,jdbcType=INTEGER}, #{biddee_company_principal,jdbcType=VARCHAR}, #{biddee_company_telephone,jdbcType=VARCHAR}, 
      #{bid_open_date,jdbcType=DATE}, #{project_expect_period,jdbcType=INTEGER}, #{certification_checkup_type,jdbcType=VARCHAR}, 
      #{bid_evaluation_type,jdbcType=VARCHAR}, #{bid_evaluation_site,jdbcType=VARCHAR}, 
      #{bid_winner_determine_way,jdbcType=VARCHAR}, #{vote_win_way,jdbcType=VARCHAR}, 
      #{bid_bond_amount,jdbcType=INTEGER}, #{need_business_standard,jdbcType=VARCHAR}, 
      #{need_technical_standard,jdbcType=VARCHAR}, #{need_certification_checkup_file,jdbcType=VARCHAR}, 
      #{need_pm_certification,jdbcType=VARCHAR}, #{need_constructor_certification,jdbcType=VARCHAR}, 
      #{need_safety_permit,jdbcType=VARCHAR}, #{need_pm_safety_certification,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hummingbird.paas.entity.Project" >
    insert into t_ztgl_project
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="object_id != null" >
        object_id,
      </if>
      <if test="biddee_id != null" >
        biddee_id,
      </if>
      <if test="object_no != null" >
        object_no,
      </if>
      <if test="object_name != null" >
        object_name,
      </if>
      <if test="object_amount != null" >
        object_amount,
      </if>
      <if test="object_publish_type != null" >
        object_publish_type,
      </if>
      <if test="object_status != null" >
        object_status,
      </if>
      <if test="win_bid_amount != null" >
        win_bid_amount,
      </if>
      <if test="win_bidder_id != null" >
        win_bidder_id,
      </if>
      <if test="industry_id != null" >
        industry_id,
      </if>
      <if test="sector_id != null" >
        sector_id,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="district != null" >
        district,
      </if>
      <if test="biddee_company_principal != null" >
        biddee_company_principal,
      </if>
      <if test="biddee_company_telephone != null" >
        biddee_company_telephone,
      </if>
      <if test="bid_open_date != null" >
        bid_open_date,
      </if>
      <if test="project_expect_period != null" >
        project_expect_period,
      </if>
      <if test="certification_checkup_type != null" >
        certification_checkup_type,
      </if>
      <if test="bid_evaluation_type != null" >
        bid_evaluation_type,
      </if>
      <if test="bid_evaluation_site != null" >
        bid_evaluation_site,
      </if>
      <if test="bid_winner_determine_way != null" >
        bid_winner_determine_way,
      </if>
      <if test="vote_win_way != null" >
        vote_win_way,
      </if>
      <if test="bid_bond_amount != null" >
        bid_bond_amount,
      </if>
      <if test="need_business_standard != null" >
        need_business_standard,
      </if>
      <if test="need_technical_standard != null" >
        need_technical_standard,
      </if>
      <if test="need_certification_checkup_file != null" >
        need_certification_checkup_file,
      </if>
      <if test="need_pm_certification != null" >
        need_pm_certification,
      </if>
      <if test="need_constructor_certification != null" >
        need_constructor_certification,
      </if>
      <if test="need_safety_permit != null" >
        need_safety_permit,
      </if>
      <if test="need_pm_safety_certification != null" >
        need_pm_safety_certification,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="object_id != null" >
        #{object_id,jdbcType=VARCHAR},
      </if>
      <if test="biddee_id != null" >
        #{biddee_id,jdbcType=INTEGER},
      </if>
      <if test="object_no != null" >
        #{object_no,jdbcType=VARCHAR},
      </if>
      <if test="object_name != null" >
        #{object_name,jdbcType=VARCHAR},
      </if>
      <if test="object_amount != null" >
        #{object_amount,jdbcType=INTEGER},
      </if>
      <if test="object_publish_type != null" >
        #{object_publish_type,jdbcType=VARCHAR},
      </if>
      <if test="object_status != null" >
        #{object_status,jdbcType=VARCHAR},
      </if>
      <if test="win_bid_amount != null" >
        #{win_bid_amount,jdbcType=VARCHAR},
      </if>
      <if test="win_bidder_id != null" >
        #{win_bidder_id,jdbcType=INTEGER},
      </if>
      <if test="industry_id != null" >
        #{industry_id,jdbcType=VARCHAR},
      </if>
      <if test="sector_id != null" >
        #{sector_id,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=INTEGER},
      </if>
      <if test="district != null" >
        #{district,jdbcType=INTEGER},
      </if>
      <if test="biddee_company_principal != null" >
        #{biddee_company_principal,jdbcType=VARCHAR},
      </if>
      <if test="biddee_company_telephone != null" >
        #{biddee_company_telephone,jdbcType=VARCHAR},
      </if>
      <if test="bid_open_date != null" >
        #{bid_open_date,jdbcType=DATE},
      </if>
      <if test="project_expect_period != null" >
        #{project_expect_period,jdbcType=INTEGER},
      </if>
      <if test="certification_checkup_type != null" >
        #{certification_checkup_type,jdbcType=VARCHAR},
      </if>
      <if test="bid_evaluation_type != null" >
        #{bid_evaluation_type,jdbcType=VARCHAR},
      </if>
      <if test="bid_evaluation_site != null" >
        #{bid_evaluation_site,jdbcType=VARCHAR},
      </if>
      <if test="bid_winner_determine_way != null" >
        #{bid_winner_determine_way,jdbcType=VARCHAR},
      </if>
      <if test="vote_win_way != null" >
        #{vote_win_way,jdbcType=VARCHAR},
      </if>
      <if test="bid_bond_amount != null" >
        #{bid_bond_amount,jdbcType=INTEGER},
      </if>
      <if test="need_business_standard != null" >
        #{need_business_standard,jdbcType=VARCHAR},
      </if>
      <if test="need_technical_standard != null" >
        #{need_technical_standard,jdbcType=VARCHAR},
      </if>
      <if test="need_certification_checkup_file != null" >
        #{need_certification_checkup_file,jdbcType=VARCHAR},
      </if>
      <if test="need_pm_certification != null" >
        #{need_pm_certification,jdbcType=VARCHAR},
      </if>
      <if test="need_constructor_certification != null" >
        #{need_constructor_certification,jdbcType=VARCHAR},
      </if>
      <if test="need_safety_permit != null" >
        #{need_safety_permit,jdbcType=VARCHAR},
      </if>
      <if test="need_pm_safety_certification != null" >
        #{need_pm_safety_certification,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hummingbird.paas.entity.Project" >
    update t_ztgl_project
    <set >
      <if test="biddee_id != null" >
        biddee_id = #{biddee_id,jdbcType=INTEGER},
      </if>
      <if test="object_no != null" >
        object_no = #{object_no,jdbcType=VARCHAR},
      </if>
      <if test="object_name != null" >
        object_name = #{object_name,jdbcType=VARCHAR},
      </if>
      <if test="object_amount != null" >
        object_amount = #{object_amount,jdbcType=INTEGER},
      </if>
      <if test="object_publish_type != null" >
        object_publish_type = #{object_publish_type,jdbcType=VARCHAR},
      </if>
      <if test="object_status != null" >
        object_status = #{object_status,jdbcType=VARCHAR},
      </if>
      <if test="win_bid_amount != null" >
        win_bid_amount = #{win_bid_amount,jdbcType=VARCHAR},
      </if>
      <if test="win_bidder_id != null" >
        win_bidder_id = #{win_bidder_id,jdbcType=INTEGER},
      </if>
      <if test="industry_id != null" >
        industry_id = #{industry_id,jdbcType=VARCHAR},
      </if>
      <if test="sector_id != null" >
        sector_id = #{sector_id,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=INTEGER},
      </if>
      <if test="district != null" >
        district = #{district,jdbcType=INTEGER},
      </if>
      <if test="biddee_company_principal != null" >
        biddee_company_principal = #{biddee_company_principal,jdbcType=VARCHAR},
      </if>
      <if test="biddee_company_telephone != null" >
        biddee_company_telephone = #{biddee_company_telephone,jdbcType=VARCHAR},
      </if>
      <if test="bid_open_date != null" >
        bid_open_date = #{bid_open_date,jdbcType=DATE},
      </if>
      <if test="project_expect_period != null" >
        project_expect_period = #{project_expect_period,jdbcType=INTEGER},
      </if>
      <if test="certification_checkup_type != null" >
        certification_checkup_type = #{certification_checkup_type,jdbcType=VARCHAR},
      </if>
      <if test="bid_evaluation_type != null" >
        bid_evaluation_type = #{bid_evaluation_type,jdbcType=VARCHAR},
      </if>
      <if test="bid_evaluation_site != null" >
        bid_evaluation_site = #{bid_evaluation_site,jdbcType=VARCHAR},
      </if>
      <if test="bid_winner_determine_way != null" >
        bid_winner_determine_way = #{bid_winner_determine_way,jdbcType=VARCHAR},
      </if>
      <if test="vote_win_way != null" >
        vote_win_way = #{vote_win_way,jdbcType=VARCHAR},
      </if>
      <if test="bid_bond_amount != null" >
        bid_bond_amount = #{bid_bond_amount,jdbcType=INTEGER},
      </if>
      <if test="need_business_standard != null" >
        need_business_standard = #{need_business_standard,jdbcType=VARCHAR},
      </if>
      <if test="need_technical_standard != null" >
        need_technical_standard = #{need_technical_standard,jdbcType=VARCHAR},
      </if>
      <if test="need_certification_checkup_file != null" >
        need_certification_checkup_file = #{need_certification_checkup_file,jdbcType=VARCHAR},
      </if>
      <if test="need_pm_certification != null" >
        need_pm_certification = #{need_pm_certification,jdbcType=VARCHAR},
      </if>
      <if test="need_constructor_certification != null" >
        need_constructor_certification = #{need_constructor_certification,jdbcType=VARCHAR},
      </if>
      <if test="need_safety_permit != null" >
        need_safety_permit = #{need_safety_permit,jdbcType=VARCHAR},
      </if>
      <if test="need_pm_safety_certification != null" >
        need_pm_safety_certification = #{need_pm_safety_certification,jdbcType=VARCHAR},
      </if>
    </set>
    where object_id = #{object_id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hummingbird.paas.entity.Project" >
    update t_ztgl_project
    set biddee_id = #{biddee_id,jdbcType=INTEGER},
      object_no = #{object_no,jdbcType=VARCHAR},
      object_name = #{object_name,jdbcType=VARCHAR},
      object_amount = #{object_amount,jdbcType=INTEGER},
      object_publish_type = #{object_publish_type,jdbcType=VARCHAR},
      object_status = #{object_status,jdbcType=VARCHAR},
      win_bid_amount = #{win_bid_amount,jdbcType=VARCHAR},
      win_bidder_id = #{win_bidder_id,jdbcType=INTEGER},
      industry_id = #{industry_id,jdbcType=VARCHAR},
      sector_id = #{sector_id,jdbcType=VARCHAR},
      province = #{province,jdbcType=INTEGER},
      district = #{district,jdbcType=INTEGER},
      biddee_company_principal = #{biddee_company_principal,jdbcType=VARCHAR},
      biddee_company_telephone = #{biddee_company_telephone,jdbcType=VARCHAR},
      bid_open_date = #{bid_open_date,jdbcType=DATE},
      project_expect_period = #{project_expect_period,jdbcType=INTEGER},
      certification_checkup_type = #{certification_checkup_type,jdbcType=VARCHAR},
      bid_evaluation_type = #{bid_evaluation_type,jdbcType=VARCHAR},
      bid_evaluation_site = #{bid_evaluation_site,jdbcType=VARCHAR},
      bid_winner_determine_way = #{bid_winner_determine_way,jdbcType=VARCHAR},
      vote_win_way = #{vote_win_way,jdbcType=VARCHAR},
      bid_bond_amount = #{bid_bond_amount,jdbcType=INTEGER},
      need_business_standard = #{need_business_standard,jdbcType=VARCHAR},
      need_technical_standard = #{need_technical_standard,jdbcType=VARCHAR},
      need_certification_checkup_file = #{need_certification_checkup_file,jdbcType=VARCHAR},
      need_pm_certification = #{need_pm_certification,jdbcType=VARCHAR},
      need_constructor_certification = #{need_constructor_certification,jdbcType=VARCHAR},
      need_safety_permit = #{need_safety_permit,jdbcType=VARCHAR},
      need_pm_safety_certification = #{need_pm_safety_certification,jdbcType=VARCHAR}
    where object_id = #{object_id,jdbcType=VARCHAR}
  </update>
</mapper>