<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hummingbird.paas.mapper.ProjectPaymentPayMapper" >
  <resultMap id="BaseResultMap" type="com.hummingbird.paas.entity.ProjectPaymentPay" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="object_id" property="objectId" jdbcType="VARCHAR" />
    <result column="current_period" property="currentPeriod" jdbcType="INTEGER" />
    <result column="amount" property="amount" jdbcType="INTEGER" />
    <result column="should_pay_time" property="shouldPayTime" jdbcType="TIMESTAMP" />
    <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="total_amount" property="totalAmount" jdbcType="INTEGER" />
    <result column="left_period" property="leftPeriod" jdbcType="INTEGER" />
    <result column="left_amount" property="leftAmount" jdbcType="INTEGER" />
    <result column="total_period" property="totalPeriod" jdbcType="INTEGER" />
    <result column="bank" property="bank" jdbcType="VARCHAR" />
    <result column="voucher" property="voucher" jdbcType="VARCHAR" />
    <result column="voucher_pic" property="voucherPic" jdbcType="VARCHAR" />
    <result column="transfer_date" property="transferDate" jdbcType="DATE" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="bank_id" property="bankId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, object_id, current_period, amount, should_pay_time, pay_time, status, total_amount, 
    left_period, left_amount, total_period, bank, voucher, voucher_pic, transfer_date, 
    order_id, bank_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_gcgl_project_payment_pay
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_gcgl_project_payment_pay
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hummingbird.paas.entity.ProjectPaymentPay" >
    insert into t_gcgl_project_payment_pay (id, object_id, current_period, 
      amount, should_pay_time, pay_time, 
      status, total_amount, left_period, 
      left_amount, total_period, bank, 
      voucher, voucher_pic, transfer_date, 
      order_id, bank_id)
    values (#{id,jdbcType=INTEGER}, #{objectId,jdbcType=VARCHAR}, #{currentPeriod,jdbcType=INTEGER}, 
      #{amount,jdbcType=INTEGER}, #{shouldPayTime,jdbcType=TIMESTAMP}, #{payTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=VARCHAR}, #{totalAmount,jdbcType=INTEGER}, #{leftPeriod,jdbcType=INTEGER}, 
      #{leftAmount,jdbcType=INTEGER}, #{totalPeriod,jdbcType=INTEGER}, #{bank,jdbcType=VARCHAR}, 
      #{voucher,jdbcType=VARCHAR}, #{voucherPic,jdbcType=VARCHAR}, #{transferDate,jdbcType=DATE}, 
      #{orderId,jdbcType=VARCHAR}, #{bankId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hummingbird.paas.entity.ProjectPaymentPay" >
    insert into t_gcgl_project_payment_pay
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="objectId != null" >
        object_id,
      </if>
      <if test="currentPeriod != null" >
        current_period,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="shouldPayTime != null" >
        should_pay_time,
      </if>
      <if test="payTime != null" >
        pay_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="totalAmount != null" >
        total_amount,
      </if>
      <if test="leftPeriod != null" >
        left_period,
      </if>
      <if test="leftAmount != null" >
        left_amount,
      </if>
      <if test="totalPeriod != null" >
        total_period,
      </if>
      <if test="bank != null" >
        bank,
      </if>
      <if test="voucher != null" >
        voucher,
      </if>
      <if test="voucherPic != null" >
        voucher_pic,
      </if>
      <if test="transferDate != null" >
        transfer_date,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="bankId != null" >
        bank_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="objectId != null" >
        #{objectId,jdbcType=VARCHAR},
      </if>
      <if test="currentPeriod != null" >
        #{currentPeriod,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="shouldPayTime != null" >
        #{shouldPayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null" >
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="totalAmount != null" >
        #{totalAmount,jdbcType=INTEGER},
      </if>
      <if test="leftPeriod != null" >
        #{leftPeriod,jdbcType=INTEGER},
      </if>
      <if test="leftAmount != null" >
        #{leftAmount,jdbcType=INTEGER},
      </if>
      <if test="totalPeriod != null" >
        #{totalPeriod,jdbcType=INTEGER},
      </if>
      <if test="bank != null" >
        #{bank,jdbcType=VARCHAR},
      </if>
      <if test="voucher != null" >
        #{voucher,jdbcType=VARCHAR},
      </if>
      <if test="voucherPic != null" >
        #{voucherPic,jdbcType=VARCHAR},
      </if>
      <if test="transferDate != null" >
        #{transferDate,jdbcType=DATE},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="bankId != null" >
        #{bankId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hummingbird.paas.entity.ProjectPaymentPay" >
    update t_gcgl_project_payment_pay
    <set >
      <if test="objectId != null" >
        object_id = #{objectId,jdbcType=VARCHAR},
      </if>
      <if test="currentPeriod != null" >
        current_period = #{currentPeriod,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="shouldPayTime != null" >
        should_pay_time = #{shouldPayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null" >
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="totalAmount != null" >
        total_amount = #{totalAmount,jdbcType=INTEGER},
      </if>
      <if test="leftPeriod != null" >
        left_period = #{leftPeriod,jdbcType=INTEGER},
      </if>
      <if test="leftAmount != null" >
        left_amount = #{leftAmount,jdbcType=INTEGER},
      </if>
      <if test="totalPeriod != null" >
        total_period = #{totalPeriod,jdbcType=INTEGER},
      </if>
      <if test="bank != null" >
        bank = #{bank,jdbcType=VARCHAR},
      </if>
      <if test="voucher != null" >
        voucher = #{voucher,jdbcType=VARCHAR},
      </if>
      <if test="voucherPic != null" >
        voucher_pic = #{voucherPic,jdbcType=VARCHAR},
      </if>
      <if test="transferDate != null" >
        transfer_date = #{transferDate,jdbcType=DATE},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="bankId != null" >
        bank_id = #{bankId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hummingbird.paas.entity.ProjectPaymentPay" >
    update t_gcgl_project_payment_pay
    set object_id = #{objectId,jdbcType=VARCHAR},
      current_period = #{currentPeriod,jdbcType=INTEGER},
      amount = #{amount,jdbcType=INTEGER},
      should_pay_time = #{shouldPayTime,jdbcType=TIMESTAMP},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR},
      total_amount = #{totalAmount,jdbcType=INTEGER},
      left_period = #{leftPeriod,jdbcType=INTEGER},
      left_amount = #{leftAmount,jdbcType=INTEGER},
      total_period = #{totalPeriod,jdbcType=INTEGER},
      bank = #{bank,jdbcType=VARCHAR},
      voucher = #{voucher,jdbcType=VARCHAR},
      voucher_pic = #{voucherPic,jdbcType=VARCHAR},
      transfer_date = #{transferDate,jdbcType=DATE},
      order_id = #{orderId,jdbcType=VARCHAR},
      bank_id = #{bankId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>