<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hummingbird.paas.mapper.QandaMapper" >
  <resultMap id="BaseResultMap" type="com.hummingbird.paas.entity.Qanda" >
    <id column="object_id" property="object_id" jdbcType="VARCHAR" />
    <result column="is_qq_answer" property="is_qq_answer" jdbcType="VARCHAR" />
    <result column="is_email_answer" property="is_email_answer" jdbcType="VARCHAR" />
    <result column="is_tel_answer" property="is_tel_answer" jdbcType="VARCHAR" />
    <result column="is_meetng_answer" property="is_meetng_answer" jdbcType="VARCHAR" />
    <result column="qq_no" property="qq_no" jdbcType="VARCHAR" />
    <result column="qq_password" property="qq_password" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="answer_time" property="answer_time" jdbcType="VARCHAR" />
    <result column="answer_date" property="answer_date" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    object_id, is_qq_answer, is_email_answer, is_tel_answer, is_meetng_answer, qq_no, 
    qq_password, telephone, email, address, answer_time, answer_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_ztgl_qanda
    where object_id = #{object_id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_ztgl_qanda
    where object_id = #{object_id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hummingbird.paas.entity.Qanda" >
    insert into t_ztgl_qanda (object_id, is_qq_answer, is_email_answer, 
      is_tel_answer, is_meetng_answer, qq_no, 
      qq_password, telephone, email, 
      address, answer_time, answer_date
      )
    values (#{object_id,jdbcType=VARCHAR}, #{is_qq_answer,jdbcType=VARCHAR}, #{is_email_answer,jdbcType=VARCHAR}, 
      #{is_tel_answer,jdbcType=VARCHAR}, #{is_meetng_answer,jdbcType=VARCHAR}, #{qq_no,jdbcType=VARCHAR}, 
      #{qq_password,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{answer_time,jdbcType=VARCHAR}, #{answer_date,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hummingbird.paas.entity.Qanda" >
    insert into t_ztgl_qanda
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="object_id != null" >
        object_id,
      </if>
      <if test="is_qq_answer != null" >
        is_qq_answer,
      </if>
      <if test="is_email_answer != null" >
        is_email_answer,
      </if>
      <if test="is_tel_answer != null" >
        is_tel_answer,
      </if>
      <if test="is_meetng_answer != null" >
        is_meetng_answer,
      </if>
      <if test="qq_no != null" >
        qq_no,
      </if>
      <if test="qq_password != null" >
        qq_password,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="answer_time != null" >
        answer_time,
      </if>
      <if test="answer_date != null" >
        answer_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="object_id != null" >
        #{object_id,jdbcType=VARCHAR},
      </if>
      <if test="is_qq_answer != null" >
        #{is_qq_answer,jdbcType=VARCHAR},
      </if>
      <if test="is_email_answer != null" >
        #{is_email_answer,jdbcType=VARCHAR},
      </if>
      <if test="is_tel_answer != null" >
        #{is_tel_answer,jdbcType=VARCHAR},
      </if>
      <if test="is_meetng_answer != null" >
        #{is_meetng_answer,jdbcType=VARCHAR},
      </if>
      <if test="qq_no != null" >
        #{qq_no,jdbcType=VARCHAR},
      </if>
      <if test="qq_password != null" >
        #{qq_password,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="answer_time != null" >
        #{answer_time,jdbcType=VARCHAR},
      </if>
      <if test="answer_date != null" >
        #{answer_date,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hummingbird.paas.entity.Qanda" >
    update t_ztgl_qanda
    <set >
      <if test="is_qq_answer != null" >
        is_qq_answer = #{is_qq_answer,jdbcType=VARCHAR},
      </if>
      <if test="is_email_answer != null" >
        is_email_answer = #{is_email_answer,jdbcType=VARCHAR},
      </if>
      <if test="is_tel_answer != null" >
        is_tel_answer = #{is_tel_answer,jdbcType=VARCHAR},
      </if>
      <if test="is_meetng_answer != null" >
        is_meetng_answer = #{is_meetng_answer,jdbcType=VARCHAR},
      </if>
      <if test="qq_no != null" >
        qq_no = #{qq_no,jdbcType=VARCHAR},
      </if>
      <if test="qq_password != null" >
        qq_password = #{qq_password,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="answer_time != null" >
        answer_time = #{answer_time,jdbcType=VARCHAR},
      </if>
      <if test="answer_date != null" >
        answer_date = #{answer_date,jdbcType=VARCHAR},
      </if>
    </set>
    where object_id = #{object_id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hummingbird.paas.entity.Qanda" >
    update t_ztgl_qanda
    set is_qq_answer = #{is_qq_answer,jdbcType=VARCHAR},
      is_email_answer = #{is_email_answer,jdbcType=VARCHAR},
      is_tel_answer = #{is_tel_answer,jdbcType=VARCHAR},
      is_meetng_answer = #{is_meetng_answer,jdbcType=VARCHAR},
      qq_no = #{qq_no,jdbcType=VARCHAR},
      qq_password = #{qq_password,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      answer_time = #{answer_time,jdbcType=VARCHAR},
      answer_date = #{answer_date,jdbcType=VARCHAR}
    where object_id = #{object_id,jdbcType=VARCHAR}
  </update>
</mapper>