<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hummingbird.paas.mapper.QandaMapper">
  <resultMap id="BaseResultMap" type="com.hummingbird.paas.entity.Qanda">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="object_id" jdbcType="VARCHAR" property="objectId" />
    <result column="is_qq_answer" jdbcType="VARCHAR" property="isQqAnswer" />
    <result column="is_email_answer" jdbcType="VARCHAR" property="isEmailAnswer" />
    <result column="is_tel_answer" jdbcType="VARCHAR" property="isTelAnswer" />
    <result column="is_meetng_answer" jdbcType="VARCHAR" property="isMeetngAnswer" />
    <result column="qq_no" jdbcType="VARCHAR" property="qqNo" />
    <result column="qq_password" jdbcType="VARCHAR" property="qqPassword" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="answer_time" jdbcType="VARCHAR" property="answerTime" />
    <result column="answer_date" jdbcType="VARCHAR" property="answerDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, object_id, is_qq_answer, is_email_answer, is_tel_answer, is_meetng_answer, qq_no, 
    qq_password, telephone, email, address, answer_time, answer_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_ztgl_qanda
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_ztgl_qanda
    where object_id = #{object_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_ztgl_qanda
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hummingbird.paas.entity.Qanda">
    insert into t_ztgl_qanda (id, object_id, is_qq_answer, 
      is_email_answer, is_tel_answer, is_meetng_answer, 
      qq_no, qq_password, telephone, 
      email, address, answer_time, 
      answer_date)
    values (#{id,jdbcType=INTEGER}, #{objectId,jdbcType=VARCHAR}, #{isQqAnswer,jdbcType=VARCHAR}, 
      #{isEmailAnswer,jdbcType=VARCHAR}, #{isTelAnswer,jdbcType=VARCHAR}, #{isMeetngAnswer,jdbcType=VARCHAR}, 
      #{qqNo,jdbcType=VARCHAR}, #{qqPassword,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{answerTime,jdbcType=VARCHAR}, 
      #{answerDate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hummingbird.paas.entity.Qanda">
    insert into t_ztgl_qanda
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="objectId != null">
        object_id,
      </if>
      <if test="isQqAnswer != null">
        is_qq_answer,
      </if>
      <if test="isEmailAnswer != null">
        is_email_answer,
      </if>
      <if test="isTelAnswer != null">
        is_tel_answer,
      </if>
      <if test="isMeetngAnswer != null">
        is_meetng_answer,
      </if>
      <if test="qqNo != null">
        qq_no,
      </if>
      <if test="qqPassword != null">
        qq_password,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="answerTime != null">
        answer_time,
      </if>
      <if test="answerDate != null">
        answer_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="objectId != null">
        #{objectId,jdbcType=VARCHAR},
      </if>
      <if test="isQqAnswer != null">
        #{isQqAnswer,jdbcType=VARCHAR},
      </if>
      <if test="isEmailAnswer != null">
        #{isEmailAnswer,jdbcType=VARCHAR},
      </if>
      <if test="isTelAnswer != null">
        #{isTelAnswer,jdbcType=VARCHAR},
      </if>
      <if test="isMeetngAnswer != null">
        #{isMeetngAnswer,jdbcType=VARCHAR},
      </if>
      <if test="qqNo != null">
        #{qqNo,jdbcType=VARCHAR},
      </if>
      <if test="qqPassword != null">
        #{qqPassword,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="answerTime != null">
        #{answerTime,jdbcType=VARCHAR},
      </if>
      <if test="answerDate != null">
        #{answerDate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hummingbird.paas.entity.Qanda">
    update t_ztgl_qanda
    <set>
      <if test="objectId != null">
        object_id = #{objectId,jdbcType=VARCHAR},
      </if>
      <if test="isQqAnswer != null">
        is_qq_answer = #{isQqAnswer,jdbcType=VARCHAR},
      </if>
      <if test="isEmailAnswer != null">
        is_email_answer = #{isEmailAnswer,jdbcType=VARCHAR},
      </if>
      <if test="isTelAnswer != null">
        is_tel_answer = #{isTelAnswer,jdbcType=VARCHAR},
      </if>
      <if test="isMeetngAnswer != null">
        is_meetng_answer = #{isMeetngAnswer,jdbcType=VARCHAR},
      </if>
      <if test="qqNo != null">
        qq_no = #{qqNo,jdbcType=VARCHAR},
      </if>
      <if test="qqPassword != null">
        qq_password = #{qqPassword,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="answerTime != null">
        answer_time = #{answerTime,jdbcType=VARCHAR},
      </if>
      <if test="answerDate != null">
        answer_date = #{answerDate,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hummingbird.paas.entity.Qanda">
    update t_ztgl_qanda
    set object_id = #{objectId,jdbcType=VARCHAR},
      is_qq_answer = #{isQqAnswer,jdbcType=VARCHAR},
      is_email_answer = #{isEmailAnswer,jdbcType=VARCHAR},
      is_tel_answer = #{isTelAnswer,jdbcType=VARCHAR},
      is_meetng_answer = #{isMeetngAnswer,jdbcType=VARCHAR},
      qq_no = #{qqNo,jdbcType=VARCHAR},
      qq_password = #{qqPassword,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      answer_time = #{answerTime,jdbcType=VARCHAR},
      answer_date = #{answerDate,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
</mapper>