<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hummingbird.paas.mapper.ScoreLevelMapper" >
  <resultMap id="BaseResultMap" type="com.hummingbird.paas.entity.ScoreLevel" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="level_name" property="levelName" jdbcType="VARCHAR" />
    <result column="min_score" property="minScore" jdbcType="INTEGER" />
    <result column="max_score" property="maxScore" jdbcType="INTEGER" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, level_name, min_score, max_score, icon
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_xyjf_score_level
    where id = #{id,jdbcType=INTEGER}
  </select>
   <select id="countLevelByScore" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_xyjf_score_level
    where min_score &lt; #{score,jdbcType=INTEGER}  and  max_score &gt; #{score,jdbcType=INTEGER}
  </select>
  <select id="getLevelName" resultType="java.lang.String"  >
    select level_name
    from t_xyjf_score_level
    <![CDATA[ where #{score}<=max_score and #{score}>=min_score ]]>  
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_xyjf_score_level
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hummingbird.paas.entity.ScoreLevel" >
    insert into t_xyjf_score_level (id, level_name, min_score, 
      max_score, icon)
    values (#{id,jdbcType=INTEGER}, #{levelName,jdbcType=VARCHAR}, #{minScore,jdbcType=INTEGER}, 
      #{maxScore,jdbcType=INTEGER}, #{icon,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hummingbird.paas.entity.ScoreLevel" >
    insert into t_xyjf_score_level
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="levelName != null" >
        level_name,
      </if>
      <if test="minScore != null" >
        min_score,
      </if>
      <if test="maxScore != null" >
        max_score,
      </if>
      <if test="icon != null" >
        icon,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="levelName != null" >
        #{levelName,jdbcType=VARCHAR},
      </if>
      <if test="minScore != null" >
        #{minScore,jdbcType=INTEGER},
      </if>
      <if test="maxScore != null" >
        #{maxScore,jdbcType=INTEGER},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hummingbird.paas.entity.ScoreLevel" >
    update t_xyjf_score_level
    <set >
      <if test="levelName != null" >
        level_name = #{levelName,jdbcType=VARCHAR},
      </if>
      <if test="minScore != null" >
        min_score = #{minScore,jdbcType=INTEGER},
      </if>
      <if test="maxScore != null" >
        max_score = #{maxScore,jdbcType=INTEGER},
      </if>
      <if test="icon != null" >
        icon = #{icon,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hummingbird.paas.entity.ScoreLevel" >
    update t_xyjf_score_level
    set level_name = #{levelName,jdbcType=VARCHAR},
      min_score = #{minScore,jdbcType=INTEGER},
      max_score = #{maxScore,jdbcType=INTEGER},
      icon = #{icon,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>