<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hummingbird.paas.mapper.UserInformationMapper" >
  <resultMap id="BaseResultMap" type="com.hummingbird.paas.entity.UserInformation" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="updator" property="updator" jdbcType="VARCHAR" />
    <result column="object_amount" property="objectAmount" jdbcType="VARCHAR" />
    <result column="district" property="district" jdbcType="VARCHAR" />
    <result column="project_period" property="projectPeriod" jdbcType="VARCHAR" />
    <result column="project_situation" property="projectSituation" jdbcType="VARCHAR" />
    <result column="employer" property="employer" jdbcType="VARCHAR" />
    <result column="object_type" property="objectType" jdbcType="VARCHAR" />
    <result column="object_name" property="objectName" jdbcType="VARCHAR" />
    <result column="phase" property="phase" jdbcType="VARCHAR" />
    <result column="audit_status" property="auditStatus" jdbcType="VARCHAR" />
    <result column="auditor" property="auditor" jdbcType="VARCHAR" />
    <result column="audit_time" property="auditTime" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="UserInformationPageResultMap" type="com.hummingbird.paas.vo.UserInformationPageReturnVO" >
    <result column="information_id" property="informationId" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="object_amount" property="objectAmount" jdbcType="VARCHAR" />
    <result column="district" property="district" jdbcType="VARCHAR" />
    <result column="project_period" property="projectPeriod" jdbcType="VARCHAR" />
    <result column="project_situation" property="projectSituation" jdbcType="VARCHAR" />
    <result column="employer" property="employer" jdbcType="VARCHAR" />
    <result column="object_type" property="objectType" jdbcType="VARCHAR" />
    <result column="object_name" property="objectName" jdbcType="VARCHAR" />
    <result column="phase" property="phase" jdbcType="VARCHAR" />
     <result column="user_name" property="userName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, address, status, insert_time, update_time, updator, object_amount, district, 
    project_period, project_situation, employer, object_type, object_name, phase, audit_status, 
    auditor, audit_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_xxfb_user_information
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByUserIdAndStatus" resultMap="UserInformationPageResultMap"  >
   select a.id information_id,a.address,a.district,a.employer,a.object_amount,a.object_name,a.object_type,a.phase,a.project_period,a.project_situation,a.status,b.nick_name
	from t_xxfb_user_information a LEFT JOIN t_user b  on a.user_id = b.id
	where a.user_id = #{userId} and a.status =#{status}  
   limit #{begin},#{limit}
  </select>
  <select id="selectUserInfoPage" resultMap="UserInformationPageResultMap"  >
   select a.id information_id,a.address,a.district,a.employer,a.object_amount,a.object_name,a.object_type,a.phase,a.project_period,a.project_situation,a.status,b.nick_name user_name
	from t_xxfb_user_information a LEFT JOIN t_user b  on a.user_id = b.id
	where 1=1 
	<if test="userId != null" >
	 and a.user_id = #{userId} 
	</if>
	<if test="status != null" >
	 and a.status = #{status}  
	</if>
	<if test="keywords != null" >
        and (
       <foreach collection="keywords" item="item" index="index"
		   open="(" separator="OR" close=")">
		   object_name like "%"#{item}"%"
		</foreach>
        or
       <foreach collection="keywords" item="item" index="index"
		   open="(" separator="OR" close=")">
		   project_situation like "%"#{item}"%"
		</foreach>
        
        )
     </if>
	<if test="page != null" >
   		 limit #{page.firstResult,jdbcType=DECIMAL}  ,#{page.pageSize,jdbcType=DECIMAL}
     </if>
  </select>
  <select id="selectUserInfoCount" resultType="int"  >
   select count(*)
	from t_xxfb_user_information a
	where 1=1 
	<if test="userId != null" >
	 and a.user_id = #{userId} 
	</if>
	<if test="status != null" >
	 and a.status = #{status}  
	</if>
	<if test="keywords != null" >
        and (
       <foreach collection="keywords" item="item" index="index"
		   open="(" separator="OR" close=")">
		   object_name like "%"#{item}"%"
		</foreach>
        or
       <foreach collection="keywords" item="item" index="index"
		   open="(" separator="OR" close=")">
		   project_situation like "%"#{item}"%"
		</foreach>
        
        )
     </if>
  </select>
   <select id="selectTotalByUserIdAndStatus" resultType="int" >
   select count(1)
	from t_xxfb_user_information a LEFT JOIN t_user b  on a.user_id = b.id
	where a.user_id = #{userId} and a.status =#{status}  
  </select>
  
   <select id="selectPublishedInfoCount" resultType="int" >
    select count(*)
	from t_xxfb_user_information 
	where status = "OK#"
  </select>
   <select id="selectPublishedManCount" resultType="int" >
    select count(distinct user_id)
	from t_xxfb_user_information 
	where status = "OK#"
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_xxfb_user_information
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hummingbird.paas.entity.UserInformation" >
    insert into t_xxfb_user_information (id, user_id, address, 
      status, insert_time, update_time, 
      updator, object_amount, district, 
      project_period, project_situation, employer, 
      object_type, object_name, phase, 
      audit_status, auditor, audit_time
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{insertTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updator,jdbcType=VARCHAR}, #{objectAmount,jdbcType=VARCHAR}, #{district,jdbcType=VARCHAR}, 
      #{projectPeriod,jdbcType=VARCHAR}, #{projectSituation,jdbcType=VARCHAR}, #{employer,jdbcType=VARCHAR}, 
      #{objectType,jdbcType=VARCHAR}, #{objectName,jdbcType=VARCHAR}, #{phase,jdbcType=VARCHAR}, 
      #{auditStatus,jdbcType=VARCHAR}, #{auditor,jdbcType=VARCHAR}, #{auditTime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hummingbird.paas.entity.UserInformation" >
    insert into t_xxfb_user_information
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="insertTime != null" >
        insert_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updator != null" >
        updator,
      </if>
      <if test="objectAmount != null" >
        object_amount,
      </if>
      <if test="district != null" >
        district,
      </if>
      <if test="projectPeriod != null" >
        project_period,
      </if>
      <if test="projectSituation != null" >
        project_situation,
      </if>
      <if test="employer != null" >
        employer,
      </if>
      <if test="objectType != null" >
        object_type,
      </if>
      <if test="objectName != null" >
        object_name,
      </if>
      <if test="phase != null" >
        phase,
      </if>
      <if test="auditStatus != null" >
        audit_status,
      </if>
      <if test="auditor != null" >
        auditor,
      </if>
      <if test="auditTime != null" >
        audit_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updator != null" >
        #{updator,jdbcType=VARCHAR},
      </if>
      <if test="objectAmount != null" >
        #{objectAmount,jdbcType=VARCHAR},
      </if>
      <if test="district != null" >
        #{district,jdbcType=VARCHAR},
      </if>
      <if test="projectPeriod != null" >
        #{projectPeriod,jdbcType=VARCHAR},
      </if>
      <if test="projectSituation != null" >
        #{projectSituation,jdbcType=VARCHAR},
      </if>
      <if test="employer != null" >
        #{employer,jdbcType=VARCHAR},
      </if>
      <if test="objectType != null" >
        #{objectType,jdbcType=VARCHAR},
      </if>
      <if test="objectName != null" >
        #{objectName,jdbcType=VARCHAR},
      </if>
      <if test="phase != null" >
        #{phase,jdbcType=VARCHAR},
      </if>
      <if test="auditStatus != null" >
        #{auditStatus,jdbcType=VARCHAR},
      </if>
      <if test="auditor != null" >
        #{auditor,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null" >
        #{auditTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hummingbird.paas.entity.UserInformation" >
    update t_xxfb_user_information
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updator != null" >
        updator = #{updator,jdbcType=VARCHAR},
      </if>
      <if test="objectAmount != null" >
        object_amount = #{objectAmount,jdbcType=VARCHAR},
      </if>
      <if test="district != null" >
        district = #{district,jdbcType=VARCHAR},
      </if>
      <if test="projectPeriod != null" >
        project_period = #{projectPeriod,jdbcType=VARCHAR},
      </if>
      <if test="projectSituation != null" >
        project_situation = #{projectSituation,jdbcType=VARCHAR},
      </if>
      <if test="employer != null" >
        employer = #{employer,jdbcType=VARCHAR},
      </if>
      <if test="objectType != null" >
        object_type = #{objectType,jdbcType=VARCHAR},
      </if>
      <if test="objectName != null" >
        object_name = #{objectName,jdbcType=VARCHAR},
      </if>
      <if test="phase != null" >
        phase = #{phase,jdbcType=VARCHAR},
      </if>
      <if test="auditStatus != null" >
        audit_status = #{auditStatus,jdbcType=VARCHAR},
      </if>
      <if test="auditor != null" >
        auditor = #{auditor,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null" >
        audit_time = #{auditTime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hummingbird.paas.entity.UserInformation" >
    update t_xxfb_user_information
    set user_id = #{userId,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      insert_time = #{insertTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      updator = #{updator,jdbcType=VARCHAR},
      object_amount = #{objectAmount,jdbcType=VARCHAR},
      district = #{district,jdbcType=VARCHAR},
      project_period = #{projectPeriod,jdbcType=VARCHAR},
      project_situation = #{projectSituation,jdbcType=VARCHAR},
      employer = #{employer,jdbcType=VARCHAR},
      object_type = #{objectType,jdbcType=VARCHAR},
      object_name = #{objectName,jdbcType=VARCHAR},
      phase = #{phase,jdbcType=VARCHAR},
      audit_status = #{auditStatus,jdbcType=VARCHAR},
      auditor = #{auditor,jdbcType=VARCHAR},
      audit_time = #{auditTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>