<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hummingbird.paas.mapper.ProjectPaymentPayMapper" >
  <resultMap id="BaseResultMap" type="com.hummingbird.paas.entity.ProjectPaymentPay" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="object_id" property="object_id" jdbcType="VARCHAR" />
    <result column="current_period" property="current_period" jdbcType="INTEGER" />
    <result column="amount" property="amount" jdbcType="INTEGER" />
    <result column="should_pay_time" property="should_pay_time" jdbcType="TIMESTAMP" />
    <result column="pay_time" property="pay_time" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="total_amount" property="total_amount" jdbcType="INTEGER" />
    <result column="left_period" property="left_period" jdbcType="INTEGER" />
    <result column="left_amount" property="left_amount" jdbcType="INTEGER" />
    <result column="total_period" property="total_period" jdbcType="INTEGER" />
    <result column="bank" property="bank" jdbcType="VARCHAR" />
    <result column="voucher" property="voucher" jdbcType="VARCHAR" />
    <result column="voucher_pic" property="voucher_pic" jdbcType="VARCHAR" />
    <result column="transfer_date" property="transfer_date" jdbcType="DATE" />
    <result column="order_id" property="order_id" jdbcType="VARCHAR" />
    <result column="bank_id" property="bank_id" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, object_id, current_period, amount, should_pay_time, pay_time, status, total_amount, 
    left_period, left_amount, total_period, bank, voucher, voucher_pic, transfer_date, 
    order_id, bank_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_gcgl_project_payment_pay
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_gcgl_project_payment_pay
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hummingbird.paas.entity.ProjectPaymentPay" >
    insert into t_gcgl_project_payment_pay (id, object_id, current_period, 
      amount, should_pay_time, pay_time, 
      status, total_amount, left_period, 
      left_amount, total_period, bank, 
      voucher, voucher_pic, transfer_date, 
      order_id, bank_id)
    values (#{id,jdbcType=INTEGER}, #{object_id,jdbcType=VARCHAR}, #{current_period,jdbcType=INTEGER}, 
      #{amount,jdbcType=INTEGER}, #{should_pay_time,jdbcType=TIMESTAMP}, #{pay_time,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=VARCHAR}, #{total_amount,jdbcType=INTEGER}, #{left_period,jdbcType=INTEGER}, 
      #{left_amount,jdbcType=INTEGER}, #{total_period,jdbcType=INTEGER}, #{bank,jdbcType=VARCHAR}, 
      #{voucher,jdbcType=VARCHAR}, #{voucher_pic,jdbcType=VARCHAR}, #{transfer_date,jdbcType=DATE}, 
      #{order_id,jdbcType=VARCHAR}, #{bank_id,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hummingbird.paas.entity.ProjectPaymentPay" >
    insert into t_gcgl_project_payment_pay
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="object_id != null" >
        object_id,
      </if>
      <if test="current_period != null" >
        current_period,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="should_pay_time != null" >
        should_pay_time,
      </if>
      <if test="pay_time != null" >
        pay_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="total_amount != null" >
        total_amount,
      </if>
      <if test="left_period != null" >
        left_period,
      </if>
      <if test="left_amount != null" >
        left_amount,
      </if>
      <if test="total_period != null" >
        total_period,
      </if>
      <if test="bank != null" >
        bank,
      </if>
      <if test="voucher != null" >
        voucher,
      </if>
      <if test="voucher_pic != null" >
        voucher_pic,
      </if>
      <if test="transfer_date != null" >
        transfer_date,
      </if>
      <if test="order_id != null" >
        order_id,
      </if>
      <if test="bank_id != null" >
        bank_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="object_id != null" >
        #{object_id,jdbcType=VARCHAR},
      </if>
      <if test="current_period != null" >
        #{current_period,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="should_pay_time != null" >
        #{should_pay_time,jdbcType=TIMESTAMP},
      </if>
      <if test="pay_time != null" >
        #{pay_time,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="total_amount != null" >
        #{total_amount,jdbcType=INTEGER},
      </if>
      <if test="left_period != null" >
        #{left_period,jdbcType=INTEGER},
      </if>
      <if test="left_amount != null" >
        #{left_amount,jdbcType=INTEGER},
      </if>
      <if test="total_period != null" >
        #{total_period,jdbcType=INTEGER},
      </if>
      <if test="bank != null" >
        #{bank,jdbcType=VARCHAR},
      </if>
      <if test="voucher != null" >
        #{voucher,jdbcType=VARCHAR},
      </if>
      <if test="voucher_pic != null" >
        #{voucher_pic,jdbcType=VARCHAR},
      </if>
      <if test="transfer_date != null" >
        #{transfer_date,jdbcType=DATE},
      </if>
      <if test="order_id != null" >
        #{order_id,jdbcType=VARCHAR},
      </if>
      <if test="bank_id != null" >
        #{bank_id,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hummingbird.paas.entity.ProjectPaymentPay" >
    update t_gcgl_project_payment_pay
    <set >
      <if test="object_id != null" >
        object_id = #{object_id,jdbcType=VARCHAR},
      </if>
      <if test="current_period != null" >
        current_period = #{current_period,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="should_pay_time != null" >
        should_pay_time = #{should_pay_time,jdbcType=TIMESTAMP},
      </if>
      <if test="pay_time != null" >
        pay_time = #{pay_time,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="total_amount != null" >
        total_amount = #{total_amount,jdbcType=INTEGER},
      </if>
      <if test="left_period != null" >
        left_period = #{left_period,jdbcType=INTEGER},
      </if>
      <if test="left_amount != null" >
        left_amount = #{left_amount,jdbcType=INTEGER},
      </if>
      <if test="total_period != null" >
        total_period = #{total_period,jdbcType=INTEGER},
      </if>
      <if test="bank != null" >
        bank = #{bank,jdbcType=VARCHAR},
      </if>
      <if test="voucher != null" >
        voucher = #{voucher,jdbcType=VARCHAR},
      </if>
      <if test="voucher_pic != null" >
        voucher_pic = #{voucher_pic,jdbcType=VARCHAR},
      </if>
      <if test="transfer_date != null" >
        transfer_date = #{transfer_date,jdbcType=DATE},
      </if>
      <if test="order_id != null" >
        order_id = #{order_id,jdbcType=VARCHAR},
      </if>
      <if test="bank_id != null" >
        bank_id = #{bank_id,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hummingbird.paas.entity.ProjectPaymentPay" >
    update t_gcgl_project_payment_pay
    set object_id = #{object_id,jdbcType=VARCHAR},
      current_period = #{current_period,jdbcType=INTEGER},
      amount = #{amount,jdbcType=INTEGER},
      should_pay_time = #{should_pay_time,jdbcType=TIMESTAMP},
      pay_time = #{pay_time,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR},
      total_amount = #{total_amount,jdbcType=INTEGER},
      left_period = #{left_period,jdbcType=INTEGER},
      left_amount = #{left_amount,jdbcType=INTEGER},
      total_period = #{total_period,jdbcType=INTEGER},
      bank = #{bank,jdbcType=VARCHAR},
      voucher = #{voucher,jdbcType=VARCHAR},
      voucher_pic = #{voucher_pic,jdbcType=VARCHAR},
      transfer_date = #{transfer_date,jdbcType=DATE},
      order_id = #{order_id,jdbcType=VARCHAR},
      bank_id = #{bank_id,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>