<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hummingbird.usercenter.mapper.UserAccountcodeMapper" >
  <resultMap id="BaseResultMap" type="com.hummingbird.usercenter.entity.UserAccountcode" >
    <id column="idt_user_accountcode" property="idtUserAccountcode" jdbcType="BIGINT" />
    <result column="mobileNum" property="mobilenum" jdbcType="VARCHAR" />
    <result column="userId" property="userid" jdbcType="BIGINT" />
    <result column="smsCode" property="smscode" jdbcType="VARCHAR" />
    <result column="expireIn" property="expirein" jdbcType="INTEGER" />
    <result column="sendTime" property="sendtime" jdbcType="TIMESTAMP" />
    <result column="appId" property="appid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    idt_user_accountcode, mobileNum, userId, smsCode, expireIn, sendTime, appId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_user_accountcode
    where idt_user_accountcode = #{idtUserAccountcode,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_user_accountcode
    where idt_user_accountcode = #{idtUserAccountcode,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hummingbird.usercenter.entity.UserAccountcode" >
    insert into t_user_accountcode (idt_user_accountcode, mobileNum, userId, 
      smsCode, expireIn, sendTime, 
      appId)
    values (#{idtUserAccountcode,jdbcType=BIGINT}, #{mobilenum,jdbcType=VARCHAR}, #{userid,jdbcType=BIGINT}, 
      #{smscode,jdbcType=VARCHAR}, #{expirein,jdbcType=INTEGER}, #{sendtime,jdbcType=TIMESTAMP}, 
      #{appid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hummingbird.usercenter.entity.UserAccountcode" >
    insert into t_user_accountcode
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="idtUserAccountcode != null" >
        idt_user_accountcode,
      </if>
      <if test="mobilenum != null" >
        mobileNum,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="smscode != null" >
        smsCode,
      </if>
      <if test="expirein != null" >
        expireIn,
      </if>
      <if test="sendtime != null" >
        sendTime,
      </if>
      <if test="appid != null" >
        appId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="idtUserAccountcode != null" >
        #{idtUserAccountcode,jdbcType=BIGINT},
      </if>
      <if test="mobilenum != null" >
        #{mobilenum,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="smscode != null" >
        #{smscode,jdbcType=VARCHAR},
      </if>
      <if test="expirein != null" >
        #{expirein,jdbcType=INTEGER},
      </if>
      <if test="sendtime != null" >
        #{sendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="appid != null" >
        #{appid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hummingbird.usercenter.entity.UserAccountcode" >
    update t_user_accountcode
    <set >
      <if test="mobilenum != null" >
        mobileNum = #{mobilenum,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        userId = #{userid,jdbcType=BIGINT},
      </if>
      <if test="smscode != null" >
        smsCode = #{smscode,jdbcType=VARCHAR},
      </if>
      <if test="expirein != null" >
        expireIn = #{expirein,jdbcType=INTEGER},
      </if>
      <if test="sendtime != null" >
        sendTime = #{sendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="appid != null" >
        appId = #{appid,jdbcType=VARCHAR},
      </if>
    </set>
    where idt_user_accountcode = #{idtUserAccountcode,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hummingbird.usercenter.entity.UserAccountcode" >
    update t_user_accountcode
    set mobileNum = #{mobilenum,jdbcType=VARCHAR},
      userId = #{userid,jdbcType=BIGINT},
      smsCode = #{smscode,jdbcType=VARCHAR},
      expireIn = #{expirein,jdbcType=INTEGER},
      sendTime = #{sendtime,jdbcType=TIMESTAMP},
      appId = #{appid,jdbcType=VARCHAR}
    where idt_user_accountcode = #{idtUserAccountcode,jdbcType=BIGINT}
  </update>
</mapper>