<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hummingbird.usercenter.mapper.UserAuthMapper" >
  <resultMap id="BaseResultMap" type="com.hummingbird.usercenter.entity.UserAuth" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="identity_no" property="identityNo" jdbcType="VARCHAR" />
    <result column="real_name_verify" property="realNameVerify" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, real_name, identity_no, real_name_verify
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_user_auth
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_user_auth
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hummingbird.usercenter.entity.UserAuth" >
    insert into t_user_auth (user_id, real_name, identity_no, 
      real_name_verify)
    values (#{userId,jdbcType=INTEGER}, #{realName,jdbcType=VARCHAR}, #{identityNo,jdbcType=VARCHAR}, 
      #{realNameVerify,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hummingbird.usercenter.entity.UserAuth" >
    insert into t_user_auth
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="realName != null" >
        real_name,
      </if>
      <if test="identityNo != null" >
        identity_no,
      </if>
      <if test="realNameVerify != null" >
        real_name_verify,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="identityNo != null" >
        #{identityNo,jdbcType=VARCHAR},
      </if>
      <if test="realNameVerify != null" >
        #{realNameVerify,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hummingbird.usercenter.entity.UserAuth" >
    update t_user_auth
    <set >
      <if test="realName != null" >
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="identityNo != null" >
        identity_no = #{identityNo,jdbcType=VARCHAR},
      </if>
      <if test="realNameVerify != null" >
        real_name_verify = #{realNameVerify,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hummingbird.usercenter.entity.UserAuth" >
    update t_user_auth
    set real_name = #{realName,jdbcType=VARCHAR},
      identity_no = #{identityNo,jdbcType=VARCHAR},
      real_name_verify = #{realNameVerify,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>