<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hummingbird.capital.mapper.AccountIdPrefixMapper" >
  <resultMap id="BaseResultMap" type="com.hummingbird.capital.entity.AccountIdPrefix" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="accountType" property="accountType" jdbcType="CHAR" />
    <result column="prefix" property="prefix" jdbcType="CHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, accountType, prefix, name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_account_id_prefix
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_account_id_prefix
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hummingbird.capital.entity.AccountIdPrefix" >
    insert into t_account_id_prefix (id, accountType, prefix, 
      name)
    values (#{id,jdbcType=INTEGER}, #{accountType,jdbcType=CHAR}, #{prefix,jdbcType=CHAR}, 
      #{name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hummingbird.capital.entity.AccountIdPrefix" >
    insert into t_account_id_prefix
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="accountType != null" >
        accountType,
      </if>
      <if test="prefix != null" >
        prefix,
      </if>
      <if test="name != null" >
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="accountType != null" >
        #{accountType,jdbcType=CHAR},
      </if>
      <if test="prefix != null" >
        #{prefix,jdbcType=CHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hummingbird.capital.entity.AccountIdPrefix" >
    update t_account_id_prefix
    <set >
      <if test="accountType != null" >
        accountType = #{accountType,jdbcType=CHAR},
      </if>
      <if test="prefix != null" >
        prefix = #{prefix,jdbcType=CHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hummingbird.capital.entity.AccountIdPrefix" >
    update t_account_id_prefix
    set accountType = #{accountType,jdbcType=CHAR},
      prefix = #{prefix,jdbcType=CHAR},
      name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>